<?xml version="1.0"?>
<!--
/**
 * Flow eCommerce - Etiquetas
 *
 * @category   Etiquetas
 * @package    Etiquetas
 * @copyright  Copyright (c) 2010 Flow Ecommerce
 * @author	   Flow eCommerce (gabriel@flowecommerce.com)
 */
-->
<config>
    <modules>
        <Flowecommerce_Etiquetas>
            <version>0.2.0</version>          
        </Flowecommerce_Etiquetas>
    </modules>
    <global>
        <models>
            <etiquetas>
                <class>Flowecommerce_Etiquetas_Model</class>
            </etiquetas>
        </models>
		<blocks>
            <etiquetas>
                <class>Flowecommerce_Etiquetas_Block</class>
            </etiquetas>
		</blocks>
    </global>
    <admin>      
        <routers>
            <etiquetas>
                <use>admin</use>
                <args>
                    <module>Flowecommerce_Etiquetas</module>
                    <frontName>etiquetas</frontName>
                </args>
            </etiquetas>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <etiquetas>
                        <title>Etiquetas</title>
                        <sort_order>15</sort_order>
                    	<action>etiquetas/admin/showorders</action>
                    </etiquetas>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <etiquetas translate="title">
                                    <title>Etiquetas</title>
                                </etiquetas>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
	<default>
		<shipping>
			<etiquetas>
				<limparShippingDescription>Forma de Envio -</limparShippingDescription>
			</etiquetas>
		</shipping>
	</default>
</config>
