<?xml version="1.0"?>
<!--
/**
 * Flow eCommerce - Etiquetas
 *
 * @category   Etiquetas
 * @package    Etiquetas
 * @copyright  Copyright (c) 2010 Flow Ecommerce
 * @author	   Flow eCommerce (gabriel@flowecommerce.com)
 */
-->
<config>
    <sections>
        <shipping>
            <groups>
                <etiquetas translate="label">
                    <label>Etiquetas</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <remetenteNome translate="label">
                            <label>Remetente - Nome</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </remetenteNome>
                        <remetenteEndereco1 translate="label">
                            <label>Remetente - Endereço 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </remetenteEndereco1>
                        <remetenteEndereco2 translate="label">
                            <label>Remetente - Endereço 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </remetenteEndereco2>
                        <remetenteCidade translate="label">
                            <label>Remetente - Cidade</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </remetenteCidade>
                        <remetenteEstado translate="label">
                            <label>Remetente - Estado</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </remetenteEstado>
                        <limparShippingDescription translate="label">
                            <label>Strings a serem retiradas do nome do método de envio</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Uma string por linha</comment>
                        </limparShippingDescription>
                    </fields>
                </etiquetas>
            </groups>
        </shipping>
    </sections>
</config>
                        