<?xml version="1.0"?>
<config>
    <modules>
        <Biostore_Maispreco>
            <version>0.1.0</version>
        </Biostore_Maispreco>
    </modules>
	<frontend> 
        <routers>
            <maispreco>
                <use>standard</use>
                <args>
                    <module>Biostore_Maispreco</module>
                    <frontName>maispreco</frontName>
                </args>
            </maispreco>
        </routers>
	</frontend>
    <global>
        <models>
            <maispreco>
                <class>Biostore_Maispreco_Model</class>
            </maispreco>
        </models>
		<resources>
			<maispreco_setup>
				<setup>
					<module>Biostore_Maispreco</module>
                    <class>Biostore_Maispreco_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
    			</connection>
			</maispreco_setup>
			<maispreco_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</maispreco_write>
			<maispreco_read>
				<connection>
				  <use>core_read</use>
				</connection>
			</maispreco_read>
        </resources>
    </global>
</config>