<?xml version="1.0" encoding="utf-8" ?>

<config>
    <modules>
        <Intelipost_Quote>
            <version>2.7.1</version>
        </Intelipost_Quote>
    </modules>
    <global>
        <helpers>
            <quote>
                <class>Intelipost_Quote_Helper</class>
            </quote>
        </helpers>
        <blocks>
            <quote>
                <class>Intelipost_Quote_Block</class>
            </quote>
        </blocks>
        <models>
            <quote>
                <class>Intelipost_Quote_Model</class>
                <resourceModel>quote_resource</resourceModel>
            </quote>
            <quote_resource>
                <class>Intelipost_Quote_Model_Resource</class>
                <entities>
                    <orders>
                        <table>intelipost_quote_orders</table>
                    </orders>
                    <nfes>
                        <table>intelipost_quote_nfes</table>
                    </nfes>
                    <trackings>
                        <table>intelipost_quote_trackings</table>
                    </trackings>
                    <quote_address_shipping_rate>
                        <table>intelipost_quote_shipping_rate</table>
                    </quote_address_shipping_rate>
                </entities>
            </quote_resource>
            <shipping>
                <rewrite>
                    <rate_result>Intelipost_Quote_Model_Shipping_Rate_Result</rate_result>
                </rewrite>
            </shipping>
            <sales>
                <rewrite>
                    <quote_address_rate>Intelipost_Quote_Model_Sales_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
        </models>
        <resources>
            <quote_setup>
                <setup>
                    <module>Intelipost_Quote</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quote_setup>
            <quote_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quote_write>
            <quote_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quote_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<quote before="Mage_Adminhtml">Intelipost_Quote_Adminhtml</quote>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <quote>
                    <file>intelipost/quote.xml</file>
                </quote>
            </updates>
        </layout>
        <translate>
            <modules>
                <Intelipost_Quote>
                    <files>
                        <default>Intelipost_Quote.csv</default>
                    </files>
                </Intelipost_Quote>
            </modules>
        </translate>

        <events>
        <core_block_abstract_prepare_layout_before>
            <observers>
                <intelipost_quote_action_requote>
                    <type>singleton</type>
                    <class>Intelipost_Quote_Model_Observer</class>
                    <method>addRequoteAction</method>
                </intelipost_quote_action_requote>
            </observers>
        </core_block_abstract_prepare_layout_before>
        
        <sales_order_grid_collection_load_before>        
                <observers>
                    <intelipost_quote_shipping_column>
                        <model>Intelipost_Quote_Model_Observer</model>
                        <method>addColumnToResource</method>
                    </intelipost_quote_shipping_column>
                </observers>
        </sales_order_grid_collection_load_before>

        <controller_action_layout_load_before>
             <observers>
                 <intelipost_observer>
                     <type>singleton</type>
                     <class>Intelipost_Quote_Model_Observer</class>
                     <method>addLayerLayoutHandle</method>
                </intelipost_observer>
            </observers>
        </controller_action_layout_load_before>
        
        <core_block_abstract_to_html_before>
            <observers>
                <intelipost_observer>
                    <type>singleton</type>
                    <class>Intelipost_Quote_Model_Observer</class>
                    <method>addColumnToOrderGrid</method>
                </intelipost_observer>
            </observers>
        </core_block_abstract_to_html_before>

        </events>
    
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <quote>
                    <file>intelipost/quote.xml</file>
                </quote>
            </updates>
        </layout>

         <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <intelipost_observer>
                        <class>Intelipost_Quote_Model_Observer</class>
                        <method>changeOrderShippingDescription</method>
                    </intelipost_observer>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
        
        <translate>
            <modules>
                <Intelipost_Quote>
                    <files>
                        <default>Intelipost_Quote.csv</default>
                    </files>
                </Intelipost_Quote>
            </modules>
        </translate>
    </frontend>

    <default>
        <carriers>
            <intelipost>
                <active>1</active>
                <model>quote/carrier_intelipost</model>
                <name>intelipost</name>
                <title>Intelipost</title>
                <sort_order>0</sort_order>
                <free_shipping_text></free_shipping_text>
                <lifetime></lifetime>
		        <rounded_prices></rounded_prices>		        
                <showmethod>1</showmethod>
		        <customizetitle>%s - days to deliver: %d</customizetitle>
		        <table_name>esedex.sp</table_name>
                <fallback_lead_time></fallback_lead_time>
		        <order_price_by>asc</order_price_by>
		        <free_shipping_method>lower_price</free_shipping_method>
                <prazo_produto></prazo_produto>
                <prazo_produto_att></prazo_produto_att>
                <use_order_price></use_order_price>
                <fallback_frontend_title>Frete</fallback_frontend_title>
                <debug>0</debug>
                <use_restricted_area_msg>1</use_restricted_area_msg>
                <use_requote>0</use_requote>
                <use_economic_express_method>0</use_economic_express_method>                
                <!--<frete_embutido>0</frete_embutido>-->
            </intelipost>
        </carriers>
    </default>
 
 <crontab>
      <jobs>     
        <quote_cron_requote>     
            <!--<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>-->
            <run><model>quote/observer::requoteOrders</model></run>
        </quote_cron_requote>
    </jobs>
</crontab>

</config>

