<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magaya
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@logistico.com so we can send you a copy immediately.
 *
 *
 * @category   Integration
 * @package    Magaya_Logistico
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->


<config>
    <modules>
        <Magaya_Logistico>
            <version>1.0.1</version>
        </Magaya_Logistico>
    </modules>
     <global>
        <models>
            <mgylogistico>
                <class>Magaya_Logistico_Model</class>
            </mgylogistico>
        </models>
         <blocks>
            <mgylogistico>
                <class>Magaya_Logistico_Block</class>
            </mgylogistico>
        </blocks>
         <helpers>
            <mgylogistico>
                <class>Magaya_Logistico_Helper</class>
            </mgylogistico>
        </helpers>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <mgylogistico>
                        <type>singleton</type>
                        <class>mgylogistico/observer</class>
                        <method>modifyOrderGrid</method>
                    </mgylogistico>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <resources>
            <mgylogistico_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mgylogistico_write>
            <mgylogistico_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mgylogistico_read>
            <mgylogistico_setup>
                <setup>
                    <module>Magaya_Logistico</module>
                </setup>
            </mgylogistico_setup>
        </resources>
        <sales>
            <order>
                 <statuses>
                    <sent_warehouse translate="label">
                        <label>Sent to Warehouse</label>
                    </sent_warehouse>
                 </statuses>
                 <states>
                     <processing>
                        <statuses>
                            <sent_warehouse default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                     </processing>                      
                 </states>
            </order>
        </sales>
     </global>
     <adminhtml>
        <layout>
            <updates>
                <mgylogistico>
                    <file>magaya/logistico.xml</file>
                </mgylogistico>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <logistico translate="title" module="mgylogistico">
                                            <title>Logistico</title>
                                        </logistico>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <default>
        <logistico>
                <orders>
                    <order_status>pending,processing</order_status>
                    <filter_date>30d</filter_date>
                </orders>
                <shipments>
                    <capture>1</capture>
                    <notify_invoice>0</notify_invoice>
                    <invoice_comment>Invoice was generated successfully</invoice_comment>
                    <notify_shipment>1</notify_shipment>
                    <shipment_comment>Order was successfully shipped</shipment_comment>
                </shipments> 
        </logistico>
    </default>
     
</config>
