<?xml version="1.0"?>
<config>
    <modules>
        <Onestic_Performa>
            <version>0.1.0</version>
        </Onestic_Performa>
    </modules>
    <global>
    	<models>
            <onestic_performa>
                <class>Onestic_Performa_Model</class>
                <resourceModel>onestic_performa_mysql4</resourceModel>
            </onestic_performa>
            <onestic_performa_mysql4>
				<class>Onestic_Performa_Model_Mysql4</class>
				<entities>
					<queue>
						<table>performa_queue</table>
					</queue>
				</entities>
	      	</onestic_performa_mysql4>
    	</models>
        <resources>
            <onestic_performa_setup>
                <setup>
                    <module>Onestic_Performa</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <onestic_performa_write>
	                <connection>
	                    <use>core_write</use>
	                </connection>
	            </onestic_performa_write>
	            <onestic_performa_read>
	                <connection>
	                    <use>core_read</use>
	                </connection>
	            </onestic_performa_read>
            </onestic_performa_setup>
		</resources>		
		<events>
            <model_save_after>
                <observers>
                    <onestic_performa_model_save_after>
                        <type>model</type>
                        <class>onestic_performa/observer</class>
                        <method>updateProductByModel</method>
                    </onestic_performa_model_save_after>
                </observers>
            </model_save_after>
	    </events>
    </global>
</config>