/*
.links {
	background: #00c89f;
}

.header {
	background: #00dec3;
}
*/
.owl-theme .owl-controls .owl-nav .owl-next {
	right: 55px;
	border-radius: 6px 0;
}
.owl-theme .owl-controls .owl-nav .owl-prev {
	left: 55px;
	border-radius: 6px 0;
}

#banner-slider3.owl-theme .owl-controls .owl-nav .owl-prev,
#banner-slider4.owl-theme .owl-controls .owl-nav .owl-prev{
	opacity:0;
	left:70px;
}

#banner-slider3.owl-theme:hover .owl-controls .owl-nav .owl-prev,
#banner-slider4.owl-theme:hover .owl-controls .owl-nav .owl-prev{
	opacity:1;
	left: 55px;
}

#banner-slider3.owl-theme .owl-controls .owl-nav .owl-next,
#banner-slider4.owl-theme .owl-controls .owl-nav .owl-next {
	opacity:0;
	right:70px;
}

#banner-slider3.owl-theme:hover .owl-controls .owl-nav .owl-next,
#banner-slider4.owl-theme:hover .owl-controls .owl-nav .owl-next {
	opacity:1;
	right: 55px;
}
#banner-slider5.owl-theme .owl-controls .owl-nav .owl-prev,
#banner-slider6.owl-theme .owl-controls .owl-nav .owl-prev {
	opacity:0;
	top: 260px;
	width: 35px;
	height: 35px;
	border-radius: 5px 0;
}
#banner-slider5.owl-theme:hover .owl-controls .owl-nav .owl-prev,
#banner-slider6.owl-theme:hover .owl-controls .owl-nav .owl-prev {
	font-size: 0;
	display: block;
	width: 35px;
	background: url(../images/seta_esquerda.png) no-repeat #FFCA1C 11px;
	background-size: 12px;
	height: 35px;
	border-radius: 5px 0;
	top: 260px;
	left:5px;
	opacity:1;
}

#banner-slider5.owl-theme .owl-controls .owl-nav .owl-next,
#banner-slider6.owl-theme .owl-controls .owl-nav .owl-next {
	opacity:0;
	top: 260px;
	width: 35px;
	height: 35px;
	border-radius: 5px 0;
}
#banner-slider5.owl-theme:hover .owl-controls .owl-nav .owl-next,
#banner-slider6.owl-theme:hover .owl-controls .owl-nav .owl-next {
	font-size: 0;
	display: block;
	width: 35px;
	background: url(../images/seta_direita.png) no-repeat #FFCA1C 13px;
	background-size: 12px;
	height: 35px;
	border-radius: 5px 0;
	opacity: 1;
	right:5px;
}
.owl-carousel.owl-loaded {
	display: block;
	padding-right: 0;
	padding-left: 0;
}
.header div.logo {
	padding: 0;
	height: 110px;
}
.header div.logo h1 {
	margin: 0;
	padding: 0;
}
.header div.logo a {
	display: block;
	width: 320px;
	height: 82px;
	margin: 28px 0 0 64px;
}
.header div.logo img {
	display: block;
	width: 100%;
	height: auto;
}

.header.header-fixed  div.logo {
	padding: 0 !important;
	margin: 0 !important;
	height: 69px;
}

.header.header-fixed  div.logo a {
	width: 200px;
	height: 52px;
	margin: 10px 0 0 0;
}


.customer-account-create .header .logo,
.checkout-onepage-index .header .logo,
.customer-account-login .header .logo {
    background: none;
    margin: 11px 0 0 0 !important;
    padding: 0 !important;
    height: auto !important;
}

.customer-account-create .header .logo a,
.checkout-onepage-index .header .logo a,
.customer-account-login .header .logo a {
    width: 200px;
    height: 52px;
    margin: 0;
}



.header .quick-access {
    margin-left: 334px !important;
}

.header .form-search input.input-text {
    width: 357px;
}

.account-wrapper {
    margin: 25px 0 0 41px;
}
.account-cart-wrapper {
	margin: 25px 0 0 31px;
}

.footer-session2 {
	height: 220px;
}

.footer-session2 .coluna4 li, .footer-session2 .coluna5 li {
	color: #333;
}


.nav-container {
	background: #f9f9f9;
}

.products-grid .minimal-price-link .label .price {
	color: #fff;
	font-size: 12px;
	padding: 0;
	display:inline;
	box-shadow: none;
	line-height: 0;
}

button.button.btn-proceed-checkout.loading.btn-checkout,
.add-to-box,
button.button.btn-cart,
ul.checkout-types.minicart {
    display: none !important;
}
