<?xml version="1.0" encoding="UTF-8" ?>

<config>
	<tabs>
		<reviewplus translate="label" module="reviewplus">
			<label>Briel ReviewPlus</label>
			<sort_order>15</sort_order>
		</reviewplus>
    </tabs>
    <sections>
    	<reviewplus_options translate="label" module="reviewplus">
    		<label>Briel ReviewPlus</label>
            <tab>reviewplus</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            	<reviewplus_config translate="label" module="reviewplus">
                    <label>ReviewPlus Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<enable_disable translate="label">
							<label>Enable</label>
							<comment>Enable or disable ReviewPlus</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_disable>
						<days_delay translate="label">
							<label>Followup Email Days Delay</label>
							<comment>In days, send followup email after this many days from order logging by ReviewPlus. Give value of zero (0) for no delay.</comment>
							<frontend_type>text</frontend_type>
							<validate>validate-number</validate>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</days_delay>
						<cron_hour translate="label">
							<label>Start hour</label>
							<comment>In hours, the starting hour for email sending to begin. PERMITTED VALUES: 0 - 23</comment>
							<frontend_type>text</frontend_type>
							<validate>validate-number</validate>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</cron_hour>
						<mails_per_cron translate="label">
							<label>Emails per cron</label>
							<comment>Sets the number of emails sent per Cronjob. EXAMPLE: 3 - will send 3 emails per cron.</comment>
							<frontend_type>text</frontend_type>
							<validate>validate-number</validate>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</mails_per_cron>
						<bcc_email translate="label">
							<label>Bcc</label>
							<comment>Bcc email address. You can write multiple emails, separated by comma.</comment>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</bcc_email>
						<email_template translate="label">
							<label>Email Template</label>
							<comment>VERY IMPORTANT: Please create a transactional email based on our template, then select it here.</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</email_template>
						<select_status>
							<label>Select Order Status</label>
							<comment>Orders with this status will be logged automatically by ReviewPlus. CTRL + Click to select multiple statuses.</comment>
							<frontend_type>multiselect</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</select_status>
                    </fields>
				</reviewplus_config>
            </groups>
    	</reviewplus_options>
    </sections>
</config>