<?xml version="1.0"?>
<!--
<config>
    <modules>
        <EGBR_Headfeeder>
            <version>0.0.2</version>
        </EGBR_Headfeeder>
    </modules>
    <global>
        <helpers>
            <headfeeder>
                <class>EGBR_Headfeeder_Helper</class>
            </headfeeder>
        </helpers>
        <models>
            <headfeeder>
                <class>EGBR_Headfeeder_Model</class>
            </headfeeder>
        </models>
        <resources>
            <headfeeder_setup> 
                <setup>
                    <module>EGBR_Headfeeder</module>
                    <class>EGBR_Headfeeder_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </headfeeder_setup>
            <headfeeder_write>
                <connection> 
                    <use>core_write</use>
                </connection>
            </headfeeder_write> 
            <headfeeder_read>
                <connection>
                    <use>core_read</use> 
                </connection>
            </headfeeder_read>
        </resources>
    </global>

    <default>
        <headfeeder>
			<generatefeed>
				<quantity>15</quantity>
			</generatefeed>
        </headfeeder>
    </default>
	
    <adminhtml>
            <acl>
                    <resources>
                            <admin>
                                    <children>
                                            <system>
                                                    <children>
                                                            <config>
                                                                    <children>
                                                                            <headfeeder translate="title" module="headfeeder">
                                                                                    <title>EGBR Headfeeder Section</title>
                                                                            </headfeeder>
                                                                    </children>
                                                            </config>
                                                    </children>
                                            </system>
                                    </children>
                            </admin>
                    </resources>
            </acl>
    </adminhtml>
    <frontend>
        <routers>
            <headfeeder>
                <use>standard</use>
                <args>
                    <module>EGBR_Headfeeder</module>
                    <frontName>headfeeder</frontName>
                </args>
            </headfeeder>
        </routers>
    </frontend>
</config>
-->