<?xml version="1.0"?>
<config>
    <modules>
        <Flowecommerce_Shoppydoo>
            <version>0.1.0</version>
        </Flowecommerce_Shoppydoo>
    </modules>
    <frontend>
        <routers>
            <shoppydoo>
                <use>standard</use>
                <args>
                    <module>Flowecommerce_Shoppydoo</module>
                    <frontName>shoppydoo</frontName>
                </args>
            </shoppydoo>
        </routers>
    </frontend>
    <global>
        <models>
            <shoppydoo>
                <class>Flowecommerce_Shoppydoo_Model</class>
            </shoppydoo>
        </models>
        <resources>
            <shoppydoo_setup>
                <setup>
                    <module>Flowecommerce_Shoppydoo</module>
                    <class>Flowecommerce_Shoppydoo_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shoppydoo_setup>
            <shoppydoo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shoppydoo_write>
            <shoppydoo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shoppydoo_read>
        </resources>
    </global>
    <crontab>
        <jobs>
            <shoppydoo_send_all>
                <schedule><cron_expr>0 3 * * *</cron_expr></schedule>
                <run><model>shoppydoo/observer::sendProductToShoppydoo</model></run>
            </shoppydoo_send_all>
        </jobs>
    </crontab>
</config>