<?xml version="1.0"?>
<!--
/**
 * Criação de namespace para templates no adminhtml - Desenvolvido para ALMQ Consultoria
 *
 * @category   Flowecommerce
 * @package    Flowecommerce_Importcsv
 * @copyright  Author Flow-ecommerce (gabriel@flowecommerce.com)
 * @copyright  Copyright (c) 2008
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Flowecommerce_Admintemplate>
            <version>0.1.0</version>
        </Flowecommerce_Admintemplate>
    </modules>
	<stores>
        <admin>
            <design>
                <theme>
                    <default>Farmadelivery</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>
