<?xml version="1.0"?>
<config>
    <modules>
        <Onestic_Assinatura>
            <active>false</active>
            <version>1.1.0</version>
        </Onestic_Assinatura>
    </modules>
    <global>
    	<models>
            <onestic_assinatura>
                <class>Onestic_Assinatura_Model</class>
                <resourceModel>onestic_assinatura_mysql4</resourceModel>
            </onestic_assinatura>
            <onestic_assinatura_mysql4>
				<class>Onestic_Assinatura_Model_Mysql4</class>
				<entities>
					<profile>
						<table>onestic_assinatura_profile</table>
					</profile>
					<signature>
						<table>onestic_assinatura_signature</table>
					</signature>
                </entities>
	      	</onestic_assinatura_mysql4>
    	</models>
    	<resources>
            <onestic_assinatura_setup>
                <setup>
                    <module>Onestic_Assinatura</module>
                </setup>
                <connection>
		        	<use>core_setup</use>
		        </connection>
	            <onestic_assinatura_write>
	                <connection>
	                    <use>core_write</use>
	                </connection>
	            </onestic_assinatura_write>
	            <onestic_assinatura_read>
	                <connection>
	                    <use>core_read</use>
	                </connection>
	            </onestic_assinatura_read>
            </onestic_assinatura_setup>
        </resources>
        <helpers>
            <onestic_assinatura>
                <class>Onestic_Assinatura_Helper</class>
            </onestic_assinatura>
        </helpers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <onestic_assinatura_cart_add>
                        <class>Onestic_Assinatura_Model_Observer</class>
                        <method>addToCart</method>
                    </onestic_assinatura_cart_add>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_item_complete>
                <observers>
                    <onestic_assinatura_cart_update>
                        <class>Onestic_Assinatura_Model_Observer</class>
                        <method>updateCart</method>
                    </onestic_assinatura_cart_update>
                </observers>
            </checkout_cart_update_item_complete>
            <checkout_onepage_controller_success_action>
                <observers>
                    <onestic_assinatura_success>
                        <class>Onestic_Assinatura_Model_Observer</class>
                        <method>saveOrder</method>
                    </onestic_assinatura_success>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
    <adminhtml>
    	<acl>
	        <resources>
	            <admin>
	                <children>
	                	<onestic_assinatura>
                            <title>Assinatura</title>
                        </onestic_assinatura>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <onestic_assinatura translate="title" module="onestic_assinatura">
	                                        <title>Assinatura</title>
	                                    </onestic_assinatura>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
    </adminhtml>
</config>