<?xml version="1.0"?>
<config>
    <modules>
        <Flowecommerce_Stockupdater>
            <version>0.1.0</version>          
        </Flowecommerce_Stockupdater>
    </modules>
	<frontend>
		<routers>
			<stockupdater>
                <use>standard</use>
				<args>
					<module>Flowecommerce_Stockupdater</module>
					<frontName>updatestock</frontName>
				</args>
			</stockupdater>
		</routers>
	</frontend>
</config>
