<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<modules>
		<MageMigrator_Migrule>
			<version>1.0</version>
		</MageMigrator_Migrule>
	</modules>
	
	<global> 
		
		<models>
			<migrule>
				<class>MageMigrator_Migrule_Model</class>
			</migrule>
		</models>
		
		<helpers>
			<migrule>
				<class>MageMigrator_Migrule_Helper</class>
			</migrule>
		</helpers>
		
	</global>
	
</config>