<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Onestic_Overcoupom>
            <version>0.1.6</version>
        </Onestic_Overcoupom>
    </modules>
    <global>
        <models>
            <onestic_overcoupom>
                <class>Onestic_Overcoupom_Model</class>
                <resourceModel>overcoupom_resource</resourceModel>
            </onestic_overcoupom>
            <overcoupom_resource>
                <class>Onestic_Overcoupom_Model_Resource</class>
                <entities>
                    <coupon>
                        <table>onestic_overcoupom</table>
                    </coupon>
                </entities>
            </overcoupom_resource>
        </models>
        <resources>
            <onestic_overcoupom_setup>
                <setup>
                    <module>Onestic_Overcoupom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onestic_overcoupom_setup>
            <onestic_overcoupom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onestic_overcoupom_write>
            <onestic_overcoupom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onestic_overcoupom_read>
        </resources>
        <blocks>
            <onestic_overcoupom>
                <class>Onestic_Overcoupom_Block</class>
            </onestic_overcoupom>
        </blocks>
        <helpers>
            <onestic_overcoupom>
                <class>Onestic_Overcoupom_Helper</class>
            </onestic_overcoupom>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <onestic_overcoupom>
                        <class>Onestic_Overcoupom_Model_Observer</class>
                        <method>updateOrder</method>
                    </onestic_overcoupom>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <onestic_overcoupom before="Mage_Adminhtml">Onestic_Overcoupom_Adminhtml</onestic_overcoupom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Onestic_Overcoupom before="Mage_Checkout">Onestic_Overcoupom</Onestic_Overcoupom>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <overcoupom translate="title" module="onestic_overcoupom">
                                            <title>Onestic Cupons</title>
                                        </overcoupom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>    
</config>