<?xml version="1.0"?>
<config>
	<modules>
		<Criteo_OneTag>
			<version>1.0.0</version>
		</Criteo_OneTag>
	</modules>
	<global>
		<models>
			<criteo_onetag_parameters>
				<class>Criteo_OneTag_Model_Page</class>
			</criteo_onetag_parameters>
		</models>
		<events>
			<controller_action_layout_load_before>
				<observers>
					<Criteo_OneTag_Model_Page_Observer>
						<type>singleton</type>
						<class>criteo_onetag_parameters/observer</class>
						<method>setCriteoParameters</method>
					</Criteo_OneTag_Model_Page_Observer>
				</observers>
			</controller_action_layout_load_before>
		</events>
		<blocks>
			<onetag_block>
				<class>Criteo_OneTag_Block_TagBlock</class>
			</onetag_block>
		</blocks>
	</global>
	<frontend>
		<layout>
			<updates>
				<criteo_onetag>
					<file>criteo/onetag.xml</file>
				</criteo_onetag>
			</updates>
		</layout>
	</frontend>
 </config>
