<?xml version="1.0"?>
<!--
/**
 * Magento Pagador Payment Module
 *
 * @category   Mage
 * @package    Mage_Cartao
 * @copyright  Author Flow-ecommerce (gabriel@flowecommerce.com)
 * @copyright  Copyright (c) 2008
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Flowecommerce_Braspag>
            <version>0.2.0</version>
        </Flowecommerce_Braspag>
    </modules>
    <global>
        <routers>
            <braspag>
                <use>standard</use>
                <args>
                    <module>Flowecommerce_Braspag</module>
                    <frontName>braspag</frontName>
                </args>
            </braspag>
        </routers>
        <models>
            <braspag>
                <class>Flowecommerce_Braspag_Model</class>
            </braspag>
        </models>
        <blocks>
            <braspag>
                <class>Flowecommerce_Braspag_Block</class>
            </braspag>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Flowecommerce_Braspag_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
                <rewrite>
                    <widget_grid_column>Flowecommerce_Braspag_Block_Widget_Grid_Column</widget_grid_column>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <braspag_setup>
                <setup>
                    <module>Flowecommerce_Braspag</module>
                    <class>Flowecommerce_Braspag_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </braspag_setup>
            <braspag_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </braspag_write>
            <braspag_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </braspag_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <braspag>
                <use>standard</use>
                <args>
                    <module>Flowecommerce_Braspag</module>
                    <frontName>braspag</frontName>
                </args>
            </braspag>
        </routers>
    </frontend>
    <!-- 
    <adminhtml>
        <translate>
            <modules>
                <Flowecommerce_Braspag>
                    <files>
                        <default>Flowecommerce_Braspag.csv</default>
                    </files>
                </Flowecommerce_Braspag>
            </modules>
        </translate>
        <layout>
            <updates>
                <braspag module="Flowecommerce_Braspag">
                    <file>braspag.xml</file>
                </braspag>
            </updates>
        </layout>
    </adminhtml>
     -->
</config>
