<?xml version="1.0"?>
<!--
/**
 * PHP version 5
 * Novapc Integracommerce
 *
 * @category  Magento
 * @package   Novapc_Integracommerce
 * @author    Novapc <novapc@novapc.com.br>
 * @copyright 2017 Integracommerce
 * @license   https://opensource.org/licenses/osl-3.0.php PHP License 3.0
 * @version   GIT: 1.0
 * @link      https://github.com/integracommerce/modulo-magento
 */
-->
<config>
	<modules>
		<Novapc_Integracommerce>
			<version>2.0.8</version>
		</Novapc_Integracommerce>
	</modules>
    <frontend>
        <routers>
            <ajax>
                <use>standard</use>
                <args>
                    <module>Novapc_Integracommerce</module>
                    <frontName>integracommerce</frontName>
                </args>
            </ajax>
        </routers>
    </frontend>
	<global>
        <fieldsets>
            <sales_convert_quote>
                <integracommerce_name>
                    <to_order>*</to_order>
                </integracommerce_name>
                <integracommerce_installments>
                    <to_order>*</to_order>
                </integracommerce_installments>
            </sales_convert_quote>
            <sales_convert_order>
                <integracommerce_name>
                    <to_quote>*</to_quote>
                </integracommerce_name>
                <integracommerce_installments>
                    <to_quote>*</to_quote>
                </integracommerce_installments>
            </sales_convert_order>
        </fieldsets>
		<models>
            <integracommerce>
                <class>Novapc_Integracommerce_Model</class>
                <resourceModel>integracommerce_resource</resourceModel>
            </integracommerce>
            <integracommerce_resource>
                <class>Novapc_Integracommerce_Model_Resource</class>
                <entities>
                    <integration>
                        <table>npcintegra_integration</table>
                    </integration>
                    <order>
                        <table>npcintegra_order</table>
                    </order> 
                    <attributes>
                        <table>npcintegra_attributes</table>
                    </attributes>    
                    <queue>
                        <table>npcintegra_order_queue</table>
                    </queue>
                    <update>
                        <table>npcintegra_product_queue</table>
                    </update>
                    <sku>
                        <table>npcintegra_sku_attributes</table>
                    </sku>
                    <request>
                        <table>npcintegra_request_limit</table>
                    </request>
                </entities>
            </integracommerce_resource>
        </models>
		<events>
            <catalog_product_attribute_update_before>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>massproductQueue</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_save_after>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>productQueue</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </catalog_product_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>stockQueue</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </cataloginventory_stock_item_save_after>
            <sales_order_save_after>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>orderQueue</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </sales_order_save_after>
            <sales_order_status_history_save_after>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>updateStatus</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </sales_order_status_history_save_after>
        </events>
		<resources>
            <integracommerce_setup>
                <setup>
                    <module>Novapc_Integracommerce</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </integracommerce_setup>
            <integracommerce_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </integracommerce_setup>
            <integracommerce_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </integracommerce_setup>
        </resources>
        <blocks>
            <integracommerce>
                <class>Novapc_Integracommerce_Block</class>
            </integracommerce>
        </blocks>
		<helpers>
            <integracommerce>
                <class>Novapc_Integracommerce_Helper</class>
            </integracommerce>
        </helpers>
	</global>  
    <admin>
        <routers>
            <integracommerce>
                <use>admin</use>
                <args>
                    <module>Novapc_Integracommerce</module>
                    <frontName>Integracommerce</frontName>
                </args>
            </integracommerce>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Novapc_Integracommerce>
                    <files>
                        <default>Novapc_Integracommerce.csv</default>
                    </files>
                </Novapc_Integracommerce>
            </modules>
        </translate>
        <layout>
            <updates>
                <integracommerce>
                    <file>integracommerce.xml</file>
                </integracommerce>
            </updates>
        </layout>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <integracommerce>
                                            <title>Integracommerce</title>
                                        </integracommerce>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <integracommerce_payment>
                <active>0</active>
                <model>integracommerce/payment</model>
                <order_status>New</order_status>
                <title>Integracommerce</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </integracommerce_payment>
            <integracommerce_magazine>
                <active>0</active>
                <model>integracommerce/magazine</model>
                <order_status>New</order_status>
                <title>Magazine Luiza</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </integracommerce_magazine>
            <integracommerce_mobly>
                <active>0</active>
                <model>integracommerce/mobly</model>
                <order_status>New</order_status>
                <title>Mobly</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </integracommerce_mobly>
            <integracommerce_dafiti>
                <active>0</active>
                <model>integracommerce/dafiti</model>
                <order_status>New</order_status>
                <title>Dafiti</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </integracommerce_dafiti>
            <integracommerce_carrefour>
                <active>0</active>
                <model>integracommerce/carrefour</model>
                <order_status>New</order_status>
                <title>Carrefour</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </integracommerce_carrefour>
            <integracommerce_walmart>
                <active>0</active>
                <model>integracommerce/walmart</model>
                <order_status>New</order_status>
                <title>Walmart</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </integracommerce_walmart>
            <integracommerce_cnova>
                <active>0</active>
                <model>integracommerce/cnova</model>
                <order_status>New</order_status>
                <title>Cnova</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </integracommerce_cnova>
            <integracommerce_b2w>
                <active>0</active>
                <model>integracommerce/b2w</model>
                <order_status>New</order_status>
                <title>B2W</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </integracommerce_b2w>
        </payment>
    </default>
    <crontab>
        <jobs>
            <integracommerce_order>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>integracommerce/observer::getOrders</model></run>
            </integracommerce_order>
            <integracommerce_product_queue>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>integracommerce/observer::productUpdate</model></run>
            </integracommerce_product_queue>                       
        </jobs>
    </crontab>    
</config>