<?xml version="1.0"?>
<config>
    <modules>
        <EGBR_cliquefarma>
            <version>0.1.0</version>
        </EGBR_cliquefarma>
    </modules>
	<frontend> 
        <routers>
            <cliquefarma>
                <use>standard</use>
                <args>
                    <module>EGBR_cliquefarma</module>
                    <frontName>cliquefarma</frontName>
                </args>
            </cliquefarma>
        </routers>
	</frontend>
    <global>
        <models>
            <cliquefarma>
                <class>EGBR_cliquefarma_Model</class>
            </cliquefarma>
        </models>
		<resources>
			<cliquefarma_setup>
				<setup>
					<module>EGBR_cliquefarma</module>
                    <class>EGBR_cliquefarma_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
    			</connection>
			</cliquefarma_setup>
			<cliquefarma_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</cliquefarma_write>
			<cliquefarma_read>
				<connection>
				  <use>core_read</use>
				</connection>
			</cliquefarma_read>
        </resources>
    </global>
	<crontab>
        <jobs>
            <cliquefarma_send_all>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>cliquefarma/observer::sendProductTocliquefarma</model></run>
            </cliquefarma_send_all>
        </jobs>
    </crontab>
</config>