<?xml version="1.0"?>
<!--
/**
 * AV5 Tecnologia
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL).
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Sale_Order
 * @package    Av5_CustomOrderApi
 * @copyright  Copyright (c) 2016 Av5 Tecnologia (http://www.av5.com.br)
 * @author     AV5 Tecnologia <anderson@av5.com.br>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Av5_Customoapi>
            <version>0.1.0</version>
        </Av5_Customoapi>
    </modules>
    <global>
    	<models>
            <av5_customoapi>
                <class>Av5_Customoapi_Model</class>
            </av5_customoapi>
            <sales>
                <rewrite>
                    <order_api>Av5_Customoapi_Model_Order_Api</order_api>
                    <order_api_v2>Av5_Customoapi_Model_Order_Api_V2</order_api_v2>
                </rewrite>
            </sales>
    	</models>
    	<blocks>
			<av5_customoapi>
				<class>Av5_Customoapi_Block</class>
			</av5_customoapi>
			<adminhtml>
            	<rewrite>
                	<sales_order_grid>Av5_Customoapi_Block_Adminhtml_Sales_Order_Grid</sales_order_grid> 
				</rewrite>
			</adminhtml>
        </blocks>
		<helpers>
            <av5_customoapi>
                <class>Av5_Customoapi_Helper</class>
            </av5_customoapi>
        </helpers>
        <resources>
            <av5_customoapi_setup>
                <setup>
                    <module>Av5_Customoapi</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </av5_customoapi_setup>
		</resources>
    </global>
    <adminhtml>
    	<events>
	    	<sales_order_save_after>
	            <observers>
	                <av5_customoapi_sales_order_save_after>
						<type>model</type>
	                    <class>av5_customoapi/observer</class>
	                    <method>checkHistory</method>
	                </av5_customoapi_sales_order_save_after>
	            </observers>
	        </sales_order_save_after>
	        <!-- core_block_abstract_to_html_before>
	            <observers>
	                <av5_customoapi_core_block_abstract_to_html_before>
	                    <class>av5_customoapi/observer</class>
	                    <method>toHtmlBefore</method>
	                </av5_customoapi_core_block_abstract_to_html_before>
	            </observers>
	        </core_block_abstract_to_html_before>
	        <sales_order_grid_collection_load_before>
	            <observers>
	                <av5_customoapi_sales_order_grid_collection_load_before>
	                    <class>av5_customoapi/observer</class>
	                    <method>orderGridCollectionLoadBefore</method>
	                </av5_customoapi_sales_order_grid_collection_load_before>
	            </observers>
	        </sales_order_grid_collection_load_before -->
	    </events>
    </adminhtml>
</config>