<?xml version="1.0"?>
<config>
    <modules>
        <Biostore_Importean>
            <version>0.1.0</version>          
        </Biostore_Importean>
    </modules>
	<admin>
		<routers>
			<importean>
				<use>admin</use>
				<args>
					<module>Biostore_Importean</module>
					<frontName>importean</frontName>
				</args>
			</importean>
        </routers>
    </admin>
    
    
    
    
	<adminhtml>
	
	
	 
        <layout>
            <updates>
                <importean module="Biostore_Importean">
                    <file>importean.xml</file>
                </importean>
            </updates>
        </layout>
        
        <menu>
	        <catalog>
		        <children>
		           <importean>
		               <title>Importar EAN</title>
		              <sort_order>300</sort_order>
		           		<children>
				           <atributo>
				               <title>Importar CSV</title>
				               <action>importean/index/file</action>
				               <sort_order>300</sort_order>
				           </atributo>
				           <adminhtml_ean>
				               <title>Listar EAN dos Produtos</title>
				               <action>importean/adminhtml_ean</action>
				               <sort_order>300</sort_order>
				           </adminhtml_ean>
		        		</children> 
		           </importean>
		        </children>   
	        </catalog>
        </menu>
        
         
        <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <catalog>
		        	<children>
			           <importean>
			               <title>Importar EAN</title>
			              <sort_order>300</sort_order>
			           		<children>
					           <atributo>
					               <title>Importar CSV</title>
					               <sort_order>300</sort_order>
					           </atributo>
					           <adminhtml_ean>
					               <title>Listar EAN dos Produtos</title>
					               <sort_order>300</sort_order>
					           </adminhtml_ean>
			        		</children> 
			           </importean>
		        </children>   
	        </catalog>
                </children>
            </admin>
        </resources>
    </acl>
        
       <!-- 
        <acl>
        <resources>
        	<all>
            	<title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <massinvoice>
                        <children>
                            <index module="massinvoice">
                                <title>Adicionar Arquivo</title>
                                <sort_order>10</sort_order>
                            </index>
                            <file module="massinvoice">
                                <title>Executar Arquivo</title>
                                <sort_order>10</sort_order>
                            </file>
                        </children>
                    </massinvoice>
                </children>
            </admin>
        </resources>
    </acl>
     -->
        
    </adminhtml>
    
    <global>
    	
    	<models>
            <importean>
                <class>Biostore_Importean_Model</class>
                <resourceModel>importean_resource</resourceModel>
            </importean> 
            <importean_resource>
            	<class>Biostore_Importean_Model_Resource</class>
	            <entities>
	                <ean>
	                    <table>catalog_product_ean</table>
	                </ean>
	            </entities>
        	</importean_resource>                  
        </models>
        
        <resources>
            <importean_setup>
                <setup>
                    <module>Biostore_Importean</module>
                    <class>Biostore_Importean_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </importean_setup>
        </resources>   
    
    	<helpers>
            <importean>
                <class>Biostore_Importean_Helper</class>
            </importean>
        </helpers>
        <blocks>
            <importean>
                <class>Biostore_Importean_Block</class>
            </importean>
        </blocks>
    </global>
</config>
