<?xml version="1.0"?>
<!--
/**
 * AV5 Tecnologia
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL).
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Sale_Order
 * @package    Av5_OrderComment
 * @copyright  Copyright (c) 2016 Av5 Tecnologia (http://www.av5.com.br)
 * @author     AV5 Tecnologia <anderson@av5.com.br>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Av5_OrderComment>
            <version>0.1.0</version>
        </Av5_OrderComment>
    </modules>
    <global>
    	<models>
            <av5_ordercomment>
                <class>Av5_OrderComment_Model</class>
            </av5_ordercomment>
    	</models>
        <helpers>
            <av5_ordercomment>
                <class>Av5_OrderComment_Helper</class>
            </av5_ordercomment>
        </helpers>
    </global>
    <default>
        <av5_ordercomment>
            <general>
            	<separator>;</separator>
         	</general>
        </av5_ordercomment>
    </default>
    <admin>
        <routers>
            <av5_ordercomment>
                <use>admin</use>
                <args>
                    <module>Av5_OrderComment</module>
                    <frontName>av5_ordercomment</frontName>
                </args>
            </av5_ordercomment>
        </routers>
    </admin>
    <adminhtml>
    	<menu>
            <sales>
                <children>
                    <av5_ordercomment_adminform translate="title" module="av5_ordercomment">
                        <title>Comentários em Massa</title>
                        <action>av5_ordercomment/adminhtml_index</action>
                        <sort_order>1500</sort_order>
                    </av5_ordercomment_adminform>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <av5_ordercomment_adminform>
                                    <title>Comentários em Massa</title>
                                </av5_ordercomment_adminform>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <av5_ordercomment>
                    <file>av5_ordercomment.xml</file>
                </av5_ordercomment>
            </updates>
        </layout>
    </adminhtml>
</config>