<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Flowecommerce_Promo>
			<version>0.1.0</version>
		</Flowecommerce_Promo>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Flowecommerce_Promo before="Mage_Adminhtml">Flowecommerce_Promo</Flowecommerce_Promo>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<models>
			<salesrule>
				<rewrite>
					<rule_condition_address>Flowecommerce_Promo_Model_Rule_Condition_Address</rule_condition_address>
				</rewrite>
			</salesrule>
            <flowecommerce_braspagcc>
                <class>Flowecommerce_Braspagcc_Model</class>
            </flowecommerce_braspagcc>
            <flowecommerce_braspagdeb>
                <class>Flowecommerce_Braspagdeb_Model</class>
            </flowecommerce_braspagdeb>
		</models>
	</global>
</config>