#logo a img {
    max-height: 46px;
}

/* Amarelo Escuro */
.header-main {
    background: #F08080;
}

#menu-toggle {
	color: #F08080;
}

#menu-toggle.clicked, #menu-toggle {
	background: #F08080;
}

.clicked .icon-ic_search_black_24px,
.clicked .icon-ic_shopping_cart_black_24px {
	color: #F08080;
}

#search-box, #cart-box, #icon-search {
	background: #F08080;
}

#search-box .hide-content .icon-ic_close_black_24px {
    color: #F08080;
}

.acesso-rapido .link-acesso a {
	color: #F08080;
}

.botao-carrinho  {
    background: #F08080;
}

.minicart-wrapper h3 {
	color: #F08080;
}

#search_mini_form .search_button {
    background: #F08080;
}

.block-layered-nav .block-title {
	background: #F08080;
}

#narrow-by-list {
	background: #F08080;
}

.mini-products-list .product-details .price-box,
.mini-products-list .product-details .price-box span {  
	color: #F08080;
}

.minicart-wrapper .minicart-actions p span {
	color: #F08080;
}

.products-grid > li.item .view-details {
	background-color: #F08080;
}

.product-view .product-shop .rating-box i {
	color: #F08080;
}

.btn-esgotado {
    border: 1px solid #F08080;
}

.rating-links a span,
.no-rating a span {
	color: #F08080;
}

.form-list label.required em {
	color: #F08080;
}

/* Amarelo 2 */
a {
	color:#F08080;
}

#search_mini_form .input-text {
    border-top: 1px solid #ffd460;
    border-bottom: 1px solid #ffd460;
}

#search_mini_form button {
    background: #ffd460;
}

#left-nav li.level0 > a {
    color: #ffd460;
}

.products-grid > li.item .price-box span,
.products-grid > li.item .price-box p span {
	color: #ffd460;
}

.parcelas p.sem-juros strong{
    color: #ffd460;
}

#parc_boleto em, #labelbraspagcc em {
    color: #f08080;
}

.product-essential .regular-price,
.product-essential .regular-price .price,
.product-essential .special-price, 
.product-essential .special-price .price {
	color: #ffd460;
}

.product-options .required2 {
    color: #ffd460;
}

.box-reviews a.avalie {
	color: #ffd460;
}

.box-reviews div.escrever-opiniao ul.dados li a {
	color:#ffd460;
}

#my_recent_reviews span.number {
	color: #ffd460;
}

#my-orders-table tbody td span.nobr a,
#my-orders-table tbody td span.nobr a i {
	color: #ffd460;
}

.box-content-info a i {
	color: #ffd460;
}

.linha-3 .advanced-search-link, .busca-rodape .advanced-search-link {
	color: #ffd460;
}

form#product_sendtofriend_form div.fieldset ul li a {
	color:#ffd460;
}

.col-menu {
	background: #f08080;
}

.store-contact p, .store-contact p a, .store-contact p i {
	color: #f08080;
}

/* Verde */
.button {
	background: #f08080 !important;
}

.titulo-upsell h4 {
	color: #039654
}

.box-comprar #duvidas {
	color: #039654;
}

.boxes .link-set2 a {
	color: #039654;
}

/* = = */
#ac-page #checkout-payment-method-load dt.active {
  border-left: 4px solid #F08080 !important;
}

#ac-page #checkout-payment-method-load dt.paypal_standard.active {
	border-left: 4px solid #F08080 !important;
}

.customer-account-login .header,
.customer-account-create .header,
.checkout-onepage-index .header {
	background: #F5F5F5 !important;
}

.customer-account-create .links,
.customer-account-login .links,
.customer-account-create .links, .customer-account-login .links, .checkout-onepage-index .links {
	background: #F08080 !important;
}

#situacao {
	color: #F08080 !important;
}
.customer-account-create .header {
	background: #F08080 !important;
}
.customer-account-create .links {
	background: #F08080 !important;
}

#ac-page #checkout-progress-wrapper .progress-block .edit a {
	color: #039654 !important;
}

#ac-page #checkout-progress-wrapper .progress-block a {
	color: #039654 !important;
}

.box-address:hover,
.box-address-new:hover {
  border: 1px solid #039654 !important;
}

.box-address-new:hover .address {
  color: #039654 !important;
}

.box-address.active {
	border: 1px solid #039654 !important;
}

.account-login .register a.create-count-button {
    color: #F08080 !important;
}

.box-address .selected {
	background: #F08080 !important;
}

.box-address.active .input .fa-check-circle {
	color: #F08080 !important;
}

.box-address-new .address span {
	color: #039654 !important;
}

.btn-login {
  background: #F08080 !important;
}

.btn-next {
    background: #039654 !important;
}

.checkout-onepage-index .btn-next,
.customer-account-create .btn-next,
.customer-account-login .btn-next {
	background: #F08080 !important;
}

.account-login .register a.create-count-button {
	color: #039654 !important;
}

.customer-account-create .fields-account-create .tipopessoa .active {
	color:#039654 !important;
}

.customer-account-create .fields-account-create .tipopessoa #label_fisica{
	color: #039654 !important;
}

.customer-account-create .nao-sei-cep {
	color: #039654 !important;
}

.customer-account-create .buttons-set button {

	background: #039654 !important;
}

.header .wrapper .logo a img {

    margin-top: 16px;

}

#menu-toggle.clicked, #menu-toggle:hover {
    background: transparent !important;
    color: #FFFFFF !important;
    position: relative;
    z-index: none !;
}

#menu-toggle, #menu-toggle{
	color: #FFFFFF !important;
}

.customer-account-login .header .wrapper .logo img {
    margin-top: 15px;
}

.account-login .register a.create-count-button {
    color: #F08080 !important;
}

.product-essential .regular-price, .product-essential .regular-price .price, .product-essential .special-price, .product-essential .special-price .price{
	color: #f08080 !important;
}

button#calcula-cep{
	background: #f08080 !important;
}

.cart .button {
    background: #f08080 !important;
}

.products-grid > li.item .price-box span, .products-grid > li.item .price-box p span {
    color: #f08080;
}

.product_box .ratings .amount a {
    color: lightcoral;
}

.btn-remove2, .loading{
	color: #f08080 !important;	
}

.button span{
	color: #FFFFFF !important;
}

.checkout-onepage-index .header .wrapper .logo a img{
	margin: 20px !important;
}

.checkout-onepage-index .divisor{
	border-right: 1px solid #FFFFFF !important;
}

.checkout-onepage-index .top-link-security{
	color: #F08080 !important;
}

i.icon-font.icon-ic_arrow_forward_black_24px.descending {
    color: #f08080 !important;
}

.category-products .toolbar .pager .pages ol li a {
    color: #545454;
}

input.button.btn.btn-next.btn-large.btn-checkout.loading{
    color: #fff !important;
}