<?xml version="1.0"?>
<!--
/**
 * ShopInDev
 *
 * @category    ShopInDev
 * @package     ShopInDev_SuperXmlFeed
 * @copyright   Copyright (c) 2016 ShopInDev
 * @license     http://opensource.org/licenses/GPL-3.0 GNU General Public License (GPL)
 */
-->
<config>
   <sections>
		<superxmlfeed translate="label" module="superxmlfeed">
			<label>XML Feeds</label>
			<tab>catalog</tab>
			<frontend_type>text</frontend_type>
			<sort_order>80</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<generate translate="label">
					<label>Automatic Generation Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<frequency translate="label">
							<label>Frequency</label>
							<frontend_type>select</frontend_type>
							<source_model>superxmlfeed/source_cron_frequency</source_model>
							<backend_model>superxmlfeed/config_backend_cron</backend_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</frequency>
						<time translate="label,comment">
							<label>Start Time</label>
							<frontend_type>time</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Not applicable to minutes and hours frequencies]]></comment>
						</time>
					</fields>
				</generate>
			</groups>
		</superxmlfeed>
	</sections>
</config>