/* Cor Destaque 2 */
.links a {
    color: #2a4f72;
}

/* Cor 1 */

/* Botões Auxiliares */
.slick-arrow:focus {
	background-color: #1b7fbc;
}
button.slick-next:focus,
button.slick-prev:focus {
    background: #1b7fbc;
}
.skip-account .label.highlight,
.skip-cart .label-price.highlight {
    color: #1b7fbc;
}
.skip-cart .label-price {
    color: #1b7fbc;
}
.slick-prev, .slick-prev:hover {
	background-color: #1b7fbc;
}
.slick-next, .slick-next:hover {
	background-color: #1b7fbc;
}
.slick-prev::before, .slider-home .slick-prev::before, .banner-principal .slick-prev::before{
	background-color: #1b7fbc;
}
.slick-next::before, .slider-home .slick-next::before, .banner-principal .slick-next::before {
	background-color: #1b7fbc;
}
.slick-prev::before, .produtos-middle .slick-prev::before {
	background-color: #1b7fbc;
}
.slick-next::before, .produtos-middle .slick-next::before {
	background-color: #1b7fbc;
}
#banner-slider5.owl-theme:hover .owl-controls .owl-nav .owl-prev,
#banner-slider6.owl-theme:hover .owl-controls .owl-nav .owl-prev {
    background-color: #1b7fbc;
}



/* Botões Principais e Links */
.customer-address-index .my-account .page-title .button {
	background: #039654;
}
.customer-account-create .fields-account-create .tipopessoa .active {
	color:#039654;
}
.customer-account-create .fields-account-create .tipopessoa #label_fisica{
	color: #039654;
}
.customer-account-create .nao-sei-cep {
	color: #039654;
}
.customer-account-create .buttons-set button {
	background: #039654 !important;
}
.customer-account-create [type="radio"]:checked + label:after,
.customer-account-create [type="radio"]:not(:checked) + label:after {
    background: #039654;
}
.forgot-box .buttons-set .button {
	background: #039654;
}
.customer-account-login .btn-login {
	background: #039654;
}
.header-minicart .info-wrapper .quantity-button {
    background-color: #039654;
}
.header-minicart .checkout-button,
.header-minicart .checkout-button:hover {
	background-color: #039654;
}
.nobr a {
	color: #039654;
}
.buttons-set .back-link a {
	color: #039654;
}
.pager .pages .current {
	background: #039654;
}
.page-not-found button {
	background: #039654;
}
.my-account .buttons-set button.button {
	background: #039654;
}
ul.products-grid li .button {
    background: #039654;
}
.products-grid .actions .button {
    background: #039654;
}
.desconto-info {
	color:#039654;
}
.add-to-cart button.button {
	background-color: #039654;
}
.add-to-cart button.button:hover {
	background-color: #039654;
}
.cart .method-checkout-cart-methods-onepage button.button {
	background: #039654;
}
.products-grid .product-details .button {
	background: #039654;
}
.cart .shipping .buttons-set {
	border: 1px solid #039654;
}
.cart .shipping button span {
	color: #039654;
}
.cart .discount .buttons-set {
	border: 1px solid #039654;
}
.account-login .register a.create-count-button {
	color: #039654 !important;
}
.dashboard .col2-set a {
	color:#039654;
}
.footer-session1 {
	background: none;
}

/* Cor de Fundo 2 */
.customer-account-create .header {
	background: #ffd460 !important;
}
.customer-account-create .links {
	background: #ffd460 !important;
}
.customer-account-login .header {
	background: #ffd460 !important;
}
.customer-account-login .links {
	background: #ffd460 !important;
}
.header-container {
	background-color: #ffd460;
}
.header {
	background-color: #ffd460;
}
.header-fixed {
	background-color: #ffd460;
}
.produtos-middle .abas-title2-middle h1,
.produtos-middle .abas-title3-middle h1 {
	color: #ffd460;
}
.produtos-middle .abas-title1-middle {
	border: 2px solid #ffd460;
	background: #ffd460;
}
.produtos-middle .abas-title2-middle,
.produtos-middle .abas-title3-middle {
	border: 2px solid #ffd460;
}
.abas-title1 {
	border-bottom: 3px solid #ffd460;
}
.regular-price .price {
    color: #ffd460;
}
.catalog-product-view .regular-price .price {
	color: #ffd460;
}
.special-price .price {
	color: #ffd460;
}
.product-view .product-shop .special-price .price {
    color: #ffd460;
}
.minimal-price-link .label {
	background: #ffd460;
}
.minimal-price-link .price {
	color: #ffd460;
}
.products-grid .item .arrow {
	border-left: 5px solid #ffd460;
}
.product-view .product-shop .tier-prices .benefit{
	color: #ffd460;
}
.product-view .product-shop .arrow {
	border-left: 6px solid #ffd460;
}
.product-view .product-shop .tier-prices .back-red {
	background: #ffd460;
}
#situacao {
	color: #ffd460;
}
.footer-session2 .coluna1 li {
    color: #ffd460;
}

/* Cor de Fundo 1 */
.links { background-color: #f5c642; }
.checkout-onepage-index .divisor, .customer-account-create .divisor, .customer-account-login .divisor {
    border-right: 1px solid #f5c642 !important;
}

/* Cor de Destaque 1 */
.desconto_icon {
	background-color: #2A4F72;
}
.alert-stock {
	background: #2A4F72;
}
.bula_manual a {
	background-color: #2A4F72;
}

/* Cor de Destaque 2 */
.frete_gratis_icon {
    background-color: #5485B3;
}

/* Cor 6 */
.descontos-especiais .produtos .title-button {color: #039654; border: 1px solid #039654;}
.descontos-especiais .produtos .title-button a {color: #039654;}
.customer-account-login .footer-session2 .coluna4 li, .footer-session2 .coluna5 li  {color:#039654;}
.footer-session2 .coluna4 li, .footer-session2 .coluna5 li {color: #039654;}

.customer-account-create .footer .telefone-info span {
	color: #039654;}
.customer-account-login .content .login {background: #039654;}
.customer-account-login .content .new-account .create {color: #039654;}
.customer-account-login .footer .telefone-info span {color: #039654;}
ul#cart-sidebar::-webkit-scrollbar-thumb {
    background: #039654;
}
.catalog-category-view .v-middle,.catalog-result-index .v-middle {
	color: #039654;
}
.breadcrumbs li strong {
	color: #039654;
}
#nav ul li a {
    color: #039654;
}
.catalog-category-view .product-count, .catalogsearch-result-index .product-count {
	color: #039654;
}
.product-view .rating-box-product a {
	color: #039654;
}
.product-view .product-shop .marca {color:#039654;
}
.product-view .product-shop .qty-frete .product-shipping-estimate .btn-estimate{
	color:#039654;
	border: 1px solid #039654;
}
.cart-table .btn-empty span,
.cart-table .btn-continue span,
.cart-table .btn-update span {
	border-color: #039654;
	background: #039654;
}
.checkout-step-review .title h1 {
	color: #039654;
}
.order-summary .order-session .order-number a {
	color: #039654;
}


.nav-container {
    background: linear-gradient(to right, #f9f9f9 0%,#f9f9f9 50%,#f9f9f9 50%,#78cfe0 50%,#78cfe0 100%);
}

.footer-session1 .mascote {
	background: url(../images/mascoteFooter.jpg) no-repeat center center;
}

/* Imagens CSS */
.account-wrapper {
    background: url(../images/accounticon.png) no-repeat 0 0;
}
.account-cart-wrapper {
    background: url(../images/carticon.png) no-repeat 0 0;
}
.header .form-search input.input-text {
    background: #fff url(../images/lupaicon.png) no-repeat 16px 14px;
}
.header .form-search button.button {
	background: #fff url(../images/input.png) no-repeat 19px 16px;
}

.header div.logo {
	padding: 0;
	height: 110px;
    background: none;
}
.header div.logo h1 {
	margin: 0;
	padding: 0;
}
.header div.logo a {
	display: block;
	width: 320px;
	height: 82px;
	margin: 28px 0 0 64px;
}
.header div.logo img {
	display: block;
	width: 100%;
}

.header.header-fixed  div.logo {
	padding: 0 !important;
	margin: 0 !important;
	height: 69px;
}

.header.header-fixed  div.logo a {
	width: 200px;
	height: 52px;
	margin: 10px 0 0 0;
}


.customer-account-create .header .logo,
.checkout-onepage-index .header .logo,
.customer-account-login .header .logo {
    background: none;
    margin: 11px 0 0 0 !important;
    padding: 0 !important;
    height: auto;
}

.customer-account-create .header .logo a,
.checkout-onepage-index .header .logo a,
.customer-account-login .header .logo a {
    width: 200px;
    height: 52px;
    margin: 0;
}



.header .quick-access {
    margin-left: 334px !important;
}

.header .form-search input.input-text {
    width: 357px;
}

.account-wrapper {
    margin: 25px 0 0 41px;
}
.account-cart-wrapper {
	margin: 25px 0 0 31px;
}

.footer-session2 {
	height: 220px;
}

.footer-session2 .coluna4 li, .footer-session2 .coluna5 li {
	zcolor: #333;
}