<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <magpleasure translate="label" module="adminlogger">
            <label>MagPleasure Extensions</label>
            <sort_order>300</sort_order>
        </magpleasure>
    </tabs>
    <sections>
        <adminlogger module="adminlogger" translate="label">
            <label>Admin Logger</label>
            <tab>magpleasure</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <users translate="label">
                            <label>Users</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminlogger/system_config_source_users</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </users>
                        <action_groups translate="label">
                            <label>Action Groups</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminlogger/system_config_source_actiongroup</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </action_groups>
                        <save_details translate="label">
                            <label>Save Details</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </save_details>
                        <keep_days translate="label">
                            <label>Delete Log Records After X Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>0 - means that log will never cleaned</comment>
                        </keep_days>
                    </fields>
                </general>
            </groups>
        </adminlogger>
    </sections>
</config>