<?xml version="1.0"?>
<config>
    <modules>
        <Flowecommerce_Buscapepricecompare>
            <version>0.1.0</version>
        </Flowecommerce_Buscapepricecompare>
    </modules>
	<frontend> 
        <routers>
            <buscapepricecompare>
                <use>standard</use>
                <args>
                    <module>Flowecommerce_Buscapepricecompare</module>
                    <frontName>buscapepricecompare</frontName>
                </args>
            </buscapepricecompare>
        </routers>
	</frontend>
    <global>
        <models>
            <buscapepricecompare>
                <class>Flowecommerce_Buscapepricecompare_Model</class>
            </buscapepricecompare>
        </models>
		<resources>
			<buscapepricecompare_setup>
				<setup>
					<module>Flowecommerce_Buscapepricecompare</module>
                    <class>Flowecommerce_Buscapepricecompare_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
    			</connection>
			</buscapepricecompare_setup>
			<buscapepricecompare_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</buscapepricecompare_write>
			<buscapepricecompare_read>
				<connection>
				  <use>core_read</use>
				</connection>
			</buscapepricecompare_read>
        </resources>
    </global>
	<crontab>
        <jobs>
            <buscapepricecompare_send_all>
                <schedule><cron_expr>0 4 * * *</cron_expr></schedule>
                <run><model>buscapepricecompare/observer::sendProductToBuscape</model></run>
            </buscapepricecompare_send_all>
        </jobs>
    </crontab>
</config>
