<?xml version="1.0"?>
<config>
    <modules>
        <GoCache_Manager>
            <version>0.1.0</version>
        </GoCache_Manager>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gocachemanager after="Mage_Adminhtml">GoCache_Manager</gocachemanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <GoCache_Manager>
                            <title>GoCache_Manager</title>
                            <sort_order>20</sort_order>
                        </GoCache_Manager>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <manager translate="title" module="manager">
                                            <title>Manager GoCache</title>
                                        </manager>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <manager>
                <class>GoCache_Manager_Helper</class>
            </manager>
        </helpers>
        <models>
            <manager>
                <class>GoCache_Manager_Model</class>
            </manager>
        </models>
        <blocks>
                <manager>
                    <class>GoCache_Manager_Block</class>
                </manager>
        </blocks>
        <events>
                <catalog_product_save_after>
                    <observers>
                        <manager_product_observer>
                            <type>singleton</type>
                            <class>manager/observer</class>
                            <method>ClearCDNProductUrl</method>
                        </manager_product_observer>
                    </observers>
                </catalog_product_save_after>
                <catalog_category_save_commit_after>
                    <observers>
                        <manager_category_observer>
                            <type>singleton</type>
                            <class>manager/observer</class>
                            <method>ClearCDNCategoryUrl</method>
                        </manager_category_observer>
                    </observers>
                </catalog_category_save_commit_after>
                <admin_system_config_changed_section_manager>
                    <observers>
                        <mymodule>
                            <type>singleton</type>
                            <class>manager/observer</class>
                            <method>GenerateToken</method>
                        </mymodule>
                    </observers>
                </admin_system_config_changed_section_manager>
        </events>
    </global>
    <default>
        <manager>
            <config>
               <validemodule>0</validemodule>
            </config>
        </manager>
    </default>
</config>
