<?xml version="1.0"?>
<!--
/**
 * Magento Pagador Payment Module
 *
 * @category   Mage
 * @package    Mage_Cartao
 * @copyright  Author Flow-ecommerce (gabriel@flowecommerce.com)
 * @copyright  Copyright (c) 2008
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Flowecommerce_Braspagcc>
            <version>0.1.0</version>
        </Flowecommerce_Braspagcc>
    </modules>
    <global>
        <models>
            <braspagcc>
                <class>Flowecommerce_Braspagcc_Model</class>
                <resourceModel>Braspagcc_mysql4</resourceModel>
            </braspagcc>
            <braspagcc_mysql4>
                <class>Flowecommerce_Braspagcc_Model_Mysql4</class>
                <entities>
                    <api_debug><table>Braspagcc_api_debug</table></api_debug>
                </entities>
            </braspagcc_mysql4>
            <braspagcc_mysql4>
                <class>Flowecommerce_Braspagcc_Model_Mysql4</class>
                <entities>
                    <braspagcc_return><table>Braspagcartao</table></braspagcc_return>
                </entities>
            </braspagcc_mysql4>
        </models>
        <resources>
            <braspagcc_setup>
                <setup>
                    <module>Flowecommerce_Braspagcc</module>
                    <class>Flowecommerce_Braspagcc_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </braspagcc_setup>
            <braspagcc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </braspagcc_write>
            <braspagcc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </braspagcc_read>
        </resources>
        <blocks>
            <braspagcc>
                <class>Flowecommerce_Braspagcc_Block</class>
            </braspagcc>
            <catalog>
                <!--
                <rewrite>
                    <product_view>Flowecommerce_Braspagcc_Block_Productview</product_view>
                </rewrite>
                -->
            </catalog>
            <payment>

            	<rewrite>
            		<info>Flowecommerce_Braspagcc_Block_Info</info>
            	</rewrite>
            </payment>
        </blocks>
        <rewrite>
            <flowecommerce_braspagcc_onepagecontroller_savepayment>
                <from><![CDATA[#^/checkout/onepage/savePayment/?$#]]></from>
                <to>/braspagcc/onepage/savePayment/</to>
            </flowecommerce_braspagcc_onepagecontroller_savepayment>
        </rewrite>
        <routers>
            <braspagcc>
                <use>standard</use>
                <args>
                    <module>Flowecommerce_Braspagcc</module>
                    <frontName>braspagcc</frontName>
                </args>
            </braspagcc>
        </routers>
    </global>
    <frontend>
        <routers>
            <braspagcc>
                <use>standard</use>
                <args>
                    <module>Flowecommerce_Braspagcc</module>
                    <frontName>braspagcc</frontName>
                </args>
            </braspagcc>
        </routers>
        <translate>
            <modules>
                <Flowecommerce_Braspagcc>
                    <files>
                        <default>Flowecommerce_Braspagcc.csv</default>
                    </files>
                </Flowecommerce_Braspagcc>
            </modules>
        </translate>
        <layout>
            <updates>
                <Flowecommerce_Braspagcc>
                    <file>braspagcc.xml</file>
                </Flowecommerce_Braspagcc>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Flowecommerce_Braspagcc>
                    <files>
                        <default>Flowecommerce_Braspagcc.csv</default>
                    </files>
                </Flowecommerce_Braspagcc>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <braspagcc>
                <model>braspagcc/payment_gateway</model>
                <title>Cartao de Credito</title>
                <allowspecific>0</allowspecific>
                <cctypes>41</cctypes>
                <HorasParaCancelar>7</HorasParaCancelar>
                <MensagemDeCancelamento><![CDATA[Pedido Cancelado Automaticamente por nao ter sido autorizado pela Administradora do Cartao.]]></MensagemDeCancelamento>
            </braspagcc>
        </payment>
    </default>
</config>
