<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<modules>
		<MageMigrator_Migcatalog>
			<version>1.0</version>
		</MageMigrator_Migcatalog>
	</modules>
	
	<global> 
		
		<models>
			<migcatalog>
				<class>MageMigrator_Migcatalog_Model</class>
			</migcatalog>
		</models>
		
	</global>
	
</config>