<?xml version="1.0"?>
<!--
/**
 * Magento Ajaxcatalog Module
 *
 * @category   Ajaxcatalog
 * @package    Ajaxcatalog
 * @copyright  Author Flow-ecommerce (gabriel@flowecommerce.com)
 * @copyright  Copyright (c) 2008
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<Flowecommerce_Ajaxcatalog>
			<version>0.1.0</version>
		</Flowecommerce_Ajaxcatalog>
	</modules>
    <global>
        <blocks>
    		<ajaxcatalog>
    			<class>Flowecommerce_Ajaxcatalog_Block</class>
    		</ajaxcatalog>
    		<adminhtml>
    			<rewrite>
                    <catalog_product_grid>Flowecommerce_Ajaxcatalog_Block_Catalog_Product_Grid</catalog_product_grid>
                    <widget_grid_column_renderer_input>Flowecommerce_Ajaxcatalog_Block_Adminhtml_Widget_Grid_Column_Renderer_Input</widget_grid_column_renderer_input>
    			</rewrite>
    		</adminhtml>
	    </blocks>
    </global>
    <admin>
        <routers>
			<ajaxcatalog>
				<use>admin</use>
				<args>
					<module>Flowecommerce_Ajaxcatalog</module>
					<frontName>ajaxcatalog</frontName>
				</args>
			</ajaxcatalog>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ajaxcatalog module="Flowecommerce_Ajaxcatalog">
                    <file>ajaxcatalog.xml</file>
                </ajaxcatalog>
            </updates>
        </layout>
    </adminhtml>
</config>