<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Av5_Recaptcha>
            <version>0.1.8</version>
        </Av5_Recaptcha>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <av5_recaptchaAdmin before="Mage_Adminhtml">Av5_Recaptcha</av5_recaptchaAdmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <global>
        <blocks>
            <av5_recaptcha>
                <class>Av5_Recaptcha_Block</class>
            </av5_recaptcha>
        </blocks>
        <helpers>
            <av5_recaptcha>
                <class>Av5_Recaptcha_Helper</class>
            </av5_recaptcha>
        </helpers>
        <models>
            <av5_recaptcha>
                <class>Av5_Recaptcha_Model</class>
            </av5_recaptcha>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <av5_recaptcha module="Av5_Recaptcha">
                    <file>av5/recaptcha.xml</file>
                </av5_recaptcha>
            </updates>
        </layout>
    </frontend>

    <default>
        <av5_recaptcha>
            <general>
                <location_id>div.buttons-set</location_id>
                <location_type>before</location_type>
                <captcha_id>g-recaptcha</captcha_id>
            </general>
        </av5_recaptcha>
    </default>

    <frontend>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <controller_action_after>
                        <class>av5_recaptcha/observer</class>
                        <method>checkCaptchaContact</method>
                    </controller_action_after>
                </observers>
            </controller_action_predispatch_contacts_index_post>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <controller_action_after>
                        <class>av5_recaptcha/observer</class>
                        <method>checkCaptchaCreateAccount</method>
                    </controller_action_after>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <controller_action_after>
                        <class>av5_recaptcha/observer</class>
                        <method>checkCaptchaForgotPass</method>
                    </controller_action_after>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
        </events>
        <translate>
            <modules>
                <av5_recaptcha>
                    <files>
                        <default>av5_Recaptcha.csv</default>
                    </files>
                </av5_recaptcha>
            </modules>
        </translate>
    </frontend>

</config>
