<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<Onestic_Smartpbm>
			<version>0.5.1</version>
		</Onestic_Smartpbm>
	</modules>
	<global>
		<helpers>
			<smartpbm>
				<class>Onestic_Smartpbm_Helper</class>
			</smartpbm>
		</helpers>
		<blocks>
			<smartpbm>
				<class>Onestic_Smartpbm_Block</class>
			</smartpbm>
        </blocks>
		<models>
			<smartpbm>
				<class>Onestic_Smartpbm_Model</class>
        		<resourceModel>smartpbm_resource</resourceModel>
			</smartpbm>
			<smartpbm_resource>
				<class>Onestic_Smartpbm_Model_Resource</class>
				<entities>
					<products>
						<table>smartpbm_products</table>
					</products>
		  			<quote>
						<table>smartpbm_quote</table>
					</quote>
					<order>
						<table>smartpbm_order</table>
					</order>
				</entities>
	      	</smartpbm_resource>
		</models>
		<resources>
            <smartpbm_setup>
                <setup>
                    <module>Onestic_Smartpbm</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smartpbm_setup>
            <smartpbm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smartpbm_write>
            <smartpbm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smartpbm_read>
        </resources>
        <events>
	        <sales_order_invoice_pay>
			    <observers>
			        <smartpbm_order_confirm>
			            <class>smartpbm/observer</class>
			            <method>confirmOrder</method>
			        </smartpbm_order_confirm>
			    </observers>
			</sales_order_invoice_pay>
			<checkout_cart_product_add_after>
				<observers>
					<smartpbm_cart_add>
						<class>smartpbm/observer</class>
						<method>changeprice</method>
					</smartpbm_cart_add>
				</observers>
			</checkout_cart_product_add_after>
			<checkout_onepage_controller_success_action>
				<observers>
					<smartpbm_cart_add>
						<class>smartpbm/observer</class>
						<method>success</method>
					</smartpbm_cart_add>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
	</global>
	<adminhtml>
		<menu>
            <sales>
                <children>
                    <smartpbm_reportform translate="title" module="smartpbm">
                        <title>Relatório PBMs</title>
                        <action>smartpbm/adminhtml_report</action>
                        <sort_order>1500</sort_order>
                    </smartpbm_reportform>
                </children>
            </sales>
        </menu>
		<layout>
            <updates>
                <smartpbm>
                    <file>smartpbm.xml</file>
                </smartpbm>                
            </updates>
        </layout>
	    <acl>
	        <resources>
	            <admin>
	                <children>
	                	<sales>
                            <children>
                                <smartpbm_reportform>
                                    <title>Relatório PBMs</title>
                                </smartpbm_reportform>
                            </children>
                        </sales>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <smartpbm translate="title" module="smartpbm">
	                                        <title>Onestic Smart PBM</title>
	                                    </smartpbm>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
	</adminhtml>
	<admin>
        <routers>
            <smartpbm>
                <use>admin</use>
                <args>
                    <module>Onestic_Smartpbm</module>
                    <frontName>smartpbm</frontName>
                </args>
            </smartpbm>
        </routers>
    </admin>
	<frontend>
		<routers>
            <smartpbm>
                <use>standard</use>
                <args>
                    <module>Onestic_Smartpbm</module>
                    <frontName>smartpbm</frontName>
                </args>
            </smartpbm>
        </routers>
		<layout>
            <updates>
                <smartpbm>
                    <file>smartpbm.xml</file>
                </smartpbm>                
            </updates>
        </layout>
	</frontend>
</config>