<?xml version="1.0"?>
<config>
    <modules>
        <Netreviews_Pla>
            <version>1.0.1</version>
        </Netreviews_Pla>
    </modules>
    <global>
        <helpers>
            <avisverifies>
                <rewrite>
                    <Export>Netreviews_Pla_Helper_Export</Export>
                </rewrite>
            </avisverifies>
            <netreviews_pla>
                <class>Netreviews_Pla_Helper</class>
            </netreviews_pla>
        </helpers>
        <blocks>
            <netreviews_pla>
                <class>Netreviews_Pla_Block</class>
            </netreviews_pla>
            <avisverifies>
                <rewrite>
                    <adminhtml_form_export_export>Netreviews_Pla_Block_Adminhtml_Form_Export_Export</adminhtml_form_export_export>
                </rewrite>
            </avisverifies>
        </blocks>
    </global>
    <frontend>
        <routers>
            <avisverifies>
                <args>
                    <modules>
                        <Netreviews_Pla before="Netreviews_Avisverifies">Netreviews_Pla</Netreviews_Pla>
                    </modules>
                </args>
            </avisverifies>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Netreviews_Pla after="Mage_Adminhtml">Netreviews_Pla_Adminhtml</Netreviews_Pla>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>                
            <catalog>                    
                <children>                        
                    <avisverifies>                                                        
                        <children>                                                                       
                            <pla>                                        
                                <title>Google Shopping - Product Data (PLA)</title>                                        
                                <sort_order>30</sort_order>                                        
                                <action>adminhtml/netreviewspla/pla</action>
                            </pla>                               
                        </children>                            
                    </avisverifies>                        
                </children>                    
            </catalog>
        </menu>
        <acl>                    
            <resources>                        
                <admin>                            
                    <children>                                                                
                        <catalog>                                    
                            <children>                                        
                                <avisverifies>                                                                                                                                
                                    <children>                                                                        
                                        <pla>                                
                                            <title>Product Format :  API + Export CSV</title>                                
                                            <sort_order>30</sort_order>                       
                                        </pla>
                                    </children>                                        
                                </avisverifies>                                    
                            </children>                                
                        </catalog>                            
                    </children>                        
                </admin>                    
            </resources>
        </acl>
    </adminhtml>		
</config>