<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<modules>
		<MageMigrator_Migcms>
			<version>1.0</version>
		</MageMigrator_Migcms>
	</modules>
	
	<global> 
		
		<models>
			<migcms>
				<class>MageMigrator_Migcms_Model</class>
			</migcms>
		
			<cms_mysql4>
				<rewrite>
					<page>MageMigrator_Migcms_Model_Cms_Page</page>
				</rewrite>
			</cms_mysql4>
		</models>
		
	</global>
	
</config>