<?xml version="1.0"?>
<config>
    <modules>
        <Biostore_Liquidacaovirtual>
            <version>0.1.0</version>
        </Biostore_Liquidacaovirtual>
    </modules>
	<frontend> 
        <routers>
            <liquidacaovirtual>
                <use>standard</use>
                <args>
                    <module>Biostore_Liquidacaovirtual</module>
                    <frontName>liquidacaovirtual</frontName>
                </args>
            </liquidacaovirtual>
        </routers>
	</frontend>
    <global>
        <models>
            <liquidacaovirtual>
                <class>Biostore_Liquidacaovirtual_Model</class>
            </liquidacaovirtual>
        </models>
		<resources>
			<liquidacaovirtual_setup>
				<setup>
					<module>Biostore_Liquidacaovirtual</module>
                    <class>Biostore_Liquidacaovirtual_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
    			</connection>
			</liquidacaovirtual_setup>
			<liquidacaovirtual_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</liquidacaovirtual_write>
			<liquidacaovirtual_read>
				<connection>
				  <use>core_read</use>
				</connection>
			</liquidacaovirtual_read>
        </resources>
    </global>
</config>