<?xml version="1.0"?>
<config>
	<sections>
		<catalog>
			<groups>
				<liquidacaovirtual translate="label">
					<label>Liquidacaovirtual</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
						<send_to_liquidacaovirtual translate="label">
                            <label>Enviar todos os produtos para o liquidacao Virtual</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </send_to_liquidacaovirtual>
					</fields>
					<fields>
						<liquidacaovirtual_parcelomento translate="label">
                            <label>Forma de parcelamento</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Biostore_Liquidacaovirtual_Model_Parcelamentotypes</source_model>
							<sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </liquidacaovirtual_parcelomento>
					</fields>
                    <fields>
						<product_suffix_url translate="label">
                            <label>Sufixo para a url do produto</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_suffix_url>
					</fields>
<fields>
                        <categories_excluded translate="label">
                            <label>Categorias que não serão listadas(separadas por vírgula)</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </categories_excluded>
                    </fields>
				</liquidacaovirtual>
			</groups>
		</catalog>
	</sections>
</config>