<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Islider>
            <version>1.3.1</version><platform>ce</platform>
        </AW_Islider>
    </modules>
    <frontend>
        <routers>
            <awislider>
                <use>standard</use>
                <args>
                    <module>AW_Islider</module>
                    <frontName>awislider</frontName>
                </args>
            </awislider>
        </routers>
        <layout>
            <updates>
                <awislider module="awislider">
                    <file>aw_islider.xml</file>
                </awislider>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Islider>
                    <files>
                        <default>AW_Islider.csv</default>
                    </files>
                </AW_Islider>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <awislider>
                <class>AW_Islider_Block</class>
            </awislider>
        </blocks>
        <helpers>
            <awislider>
                <class>AW_Islider_Helper</class>
            </awislider>
        </helpers>
        <models>
            <awislider>
                <class>AW_Islider_Model</class>
                <resourceModel>awislider_mysql4</resourceModel>
            </awislider>
            <awislider_mysql4>
                <class>AW_Islider_Model_Mysql4</class>
                <entities>
                    <images>
                        <table>aw_islider_images</table>
                    </images>
                    <sliders>
                        <table>aw_islider_sliders</table>
                    </sliders>
                </entities>
            </awislider_mysql4>
        </models>
        <resources>
            <awislider_setup>
                <setup>
                    <module>AW_Islider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awislider_setup>
            <awislider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awislider_write>
            <awislider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awislider_read>
        </resources>
    </global>
    <admin>
        <routers>
            <awislider_admin>
                <use>admin</use>
                <args>
                    <module>AW_Islider</module>
                    <frontName>awislider_admin</frontName>
                </args>
            </awislider_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Islider>
                    <files>
                        <default>AW_Islider.csv</default>
                    </files>
                </AW_Islider>
            </modules>
        </translate>
        <enterprise>
            <admingws>
                <collection_load_before>
                    <awislider__slider_collection>addStoreFilter</awislider__slider_collection>
                </collection_load_before>
            </admingws>
        </enterprise>
        <menu>
            <cms>
                <children>
                    <awislider module="awislider">
                        <title>Image Sliders</title>
                        <sort_order>90</sort_order>
                        <children>
                            <new module="awislider">
                                <title>Add Slider</title>
                                <sort_order>10</sort_order>
                                <action>awislider_admin/adminhtml_slider/new</action>
                            </new>
                            <list module="awislider">
                                <title>List Sliders</title>
                                <sort_order>20</sort_order>
                                <action>awislider_admin/adminhtml_slider/list</action>
                            </list>
                        </children>
                    </awislider>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <awislider>
                                    <title>AW Islider</title>
                                    <sort_order>10</sort_order>
                                    <children>
                                        <new>
                                            <title>Editing Blocks</title>
                                            <sort_order>10</sort_order>
                                        </new>
                                        <list>
                                            <title>Viewing Blocks</title>
                                            <sort_order>20</sort_order>
                                        </list>
                                    </children>
                                </awislider>
                            </children>
                        </cms>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awislider>
                                            <title>Image Islider Section</title>
                                        </awislider>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <awislider module="awislider">
                    <file>aw_islider.xml</file>
                </awislider>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <awislider>
            <general>
                <directurls>0</directurls>
            </general>
        </awislider>
    </default>
    <phpunit>
            <suite>
                <modules>
                    <AW_Islider />
                </modules>
           </suite>
    </phpunit>
</config>
