<?xml version="1.0"?>
<config>
    <modules>
        <Av5_AdminLogger>
            <version>0.3.0</version>
        </Av5_AdminLogger>
    </modules>
    <global>
        <models>
            <av5_adminlogger>
                <class>Av5_AdminLogger_Model</class>
            </av5_adminlogger>
            <api>
                <rewrite>
                    <server_wsi_handler>Av5_AdminLogger_Model_Server_V2_Handler</server_wsi_handler>
                </rewrite>
            </api>
            <cms_resource>
                <rewrite>
                    <block>Av5_AdminLogger_Model_Block</block>
                </rewrite>
            </cms_resource>
        </models>
        <helpers>
            <av5_adminlogger>
                <class>Av5_AdminLogger_Helper</class>
            </av5_adminlogger>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <av5logger_save_section>
                        <class>av5_adminlogger/observer</class>
                        <method>logConfig</method>
                    </av5logger_save_section>
                </observers>
            </admin_system_config_section_save_after>
            <controller_action_predispatch>
                <observers>
                    <av5logger_predispatch>
                        <class>av5_adminlogger/observer</class>
                        <method>captureLog</method>
                        <type>singleton</type>
                    </av5logger_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
</config>