.links {
	background: #5E7F85;
}

.customer-account-create select { padding:1px !important; }

.header {
	background: url(../images/bg-tecido.jpg) repeat left top;
	background-size: 350px;
}

.header div.logo {
	background: none;
    padding-top: 45px;
}

.header-fixed div.logo {
    padding-top: 6px !important;
}

.header div.logo img {
    width: auto;
    height: 49px;
}

.customer-account-create .header .logo, .checkout-onepage-index .header .logo, .customer-account-login .header .logo {
    height: 60px !important;
    margin: 7px 0 0 !important;
}

.header-fixed .logo {
    margin: 4px -9px !important;
    height: auto !important;
}

.header .quick-access {
    margin-left: 334px !important;
}

.header .form-search input.input-text {
    width: 357px;
}

.account-wrapper {
    margin: 25px 0 0 41px;
}
.account-cart-wrapper {
	margin: 25px 0 0 31px;
}

.skip-cart .count, .skip-link.skip-active .count {
    color: #B4612F;
    font-size: 13px;
    font-weight: bold;
}

.skip-cart .label {
    color: #B4612F;
    font-weight: bold;
}

.footer-session2 {
	height: 220px;
}

.footer-session2 .coluna4 li, .footer-session2 .coluna5 li {
	color: #333;
}


/* Verde Claro */
.descontos-especiais .produtos .title-button {color: #5E7F85; border: 1px solid #5E7F85;}
.descontos-especiais .produtos .title-button a {color: #5E7F85;}
.customer-account-login .footer-session2 .coluna4 li, .footer-session2 .coluna5 li  {color:#5E7F85;}
.footer-session2 .coluna4 li, .footer-session2 .coluna5 li {color: #5E7F85;}

.customer-account-create .footer .telefone-info span {color: #5E7F85;}
.customer-account-login .content .login {background: #5E7F85;}
.customer-account-login .content .new-account .create {color: #5E7F85;}
.customer-account-login .footer .telefone-info span{color: #5E7F85;}
ul#cart-sidebar::-webkit-scrollbar-thumb {
    background: #5E7F85;
}
.catalog-category-view .v-middle,.catalog-result-index .v-middle{color: #5E7F85;}
.breadcrumbs li strong {color: #5E7F85;}
#nav ul li a {
    color: #5E7F85;
}
.catalog-category-view .product-count, .catalogsearch-result-index .product-count {color: #5E7F85;}
.product-view .rating-box-product a {    color: #5E7F85;}
.product-view .product-shop .marca {color:#5E7F85;}
.product-view .product-shop .marca-link {color:#5E7F85;}
.product-view .product-shop .qty-frete .product-shipping-estimate .btn-estimate{color:#5E7F85;border: 1px solid #5E7F85;}
.cart-table .btn-empty span,
.cart-table .btn-continue span,
.cart-table .btn-update span {border-color: #5E7F85; background: #5E7F85;}
.checkout-step-review .title h1 {color: #5E7F85;}
.order-summary .order-session .order-number a {color: #5E7F85;}

.customer-account-create .buttons-set button:hover {background: #5E7F85;}
.customer-account-login .btn-login {background: #5E7F85;}
.page-not-found button:hover {background:#5E7F85;}
.my-account .buttons-set button.button {background: #5E7F85;}
.products-grid .actions .button:hover {
    background: #5E7F85;
}
ul.products-grid li .button:hover {background:#5E7F85;}
.cart .method-checkout-cart-methods-onepage button.button:hover {background:#5E7F85;}
.products-grid .product-details .button:hover {background:#5E7F85;}

.btn-login:hover, .btn-next:hover {
	background-color: #5E7F85 !important;
}

.checkout-onepage-index .btn-next,
.customer-account-create .btn-next,
.customer-account-login .btn-next {
	background: #5E7F85 !important;
}
.box-address .selected {
	background: #5E7F85 !important;
}
.box-address.active {
	border: 1px solid #5E7F85 !important;
}
.box-address .address-title {
    color: #5E7F85 !important;
}
#ac-page #checkout-progress-wrapper .progress-block .edit a,
#ac-page #checkout-progress-wrapper .progress-block a {
	color: #5E7F85 !important;
}


.cart .discount button span, .cart .shipping button span {
	color: #5E7F85;
}
.customer-address-index .my-account .page-title .button {background: #5E7F85;}
.customer-account-create .fields-account-create .tipopessoa .active {color:#5E7F85}
.customer-account-create .fields-account-create .tipopessoa #label_fisica{color: #5E7F85;}
.customer-account-create .nao-sei-cep {color: #5E7F85;}
.customer-account-create .buttons-set button {background: #5E7F85;}
.customer-account-create [type="radio"]:checked + label:after,
.customer-account-create [type="radio"]:not(:checked) + label:after {
    background: #5E7F85;
}
.forgot-box .buttons-set .button {background: #5E7F85;}
.customer-account-login .btn-login {background: #5E7F85;}
.header-minicart .info-wrapper .quantity-button {
    background-color: #5E7F85;
}
.header-minicart .checkout-button, .header-minicart .checkout-button:hover {  background-color: #5E7F85;}
.nobr a        { color: #5E7F85; }
.buttons-set .back-link a { color:#5E7F85; }
.pager .pages .current { background: #5E7F85;}
.page-not-found button {background: #5E7F85;}
.my-account .buttons-set button.button {background: #5E7F85; }
ul.products-grid li .button {
    background: #5E7F85;
}
.products-grid .actions .button {
    background: #5E7F85;
}
.desconto-info { color:#5E7F85;}
.add-to-cart button.button {
    background: #5E7F85 url(../images/cartIcon.png) no-repeat 66px 11px;
}
.add-to-cart button.button:hover { background:#5E7F85 url(../images/cartIcon.png) no-repeat 66px 11px;}
.product-view .box-reviews .ver-todos a {background: #5E7F85;}
.cart .method-checkout-cart-methods-onepage button.button { background: #5E7F85;}
.products-grid .product-details .button {background: #5E7F85;}
.cart .shipping .buttons-set {border: 1px solid #5E7F85; }
.cart .shipping button span { color:#5E7F85; }
.cart .discount .buttons-set {border: 1px solid #5E7F85; }
.customer-session .payment a {
    background: #5E7F85;
}
.account-login .register a.create-count-button { color: #5E7F85 !important; }
.dashboard .col2-set a {color:#5E7F85;}
.footer-session1 {
	zbackground: linear-gradient(to right, #FD4230 0%,#FD4230 58%,#07C8A1 50%,#07C8A1 100%,#5E7F85 100%);
	background: url('../images/mascoteFooter.png') no-repeat center center;
}

.customer-account-create .nao-sei-cep {
    color: #5E7F85 !important;
}
.customer-account-create .buttons-set button {
	background: #5E7F85 !important;
}
.checkout-onepage-index .footer .telefone-info span,
.customer-account-create .footer .telefone-info span,
.customer-account-login .footer .telefone-info span {
    color: #5E7F85 !important;
}

/*.Amarelo */
.slick-arrow:focus {background-color: #FBC315;}
button.slick-next:focus,button.slick-prev:focus {
    background: #FBC315;
}
.skip-cart .label-price.highlight {
    color: #FBC315;
}
.skip-cart .label-price{
    color: #FBC315;
}
.slick-prev, .slick-prev:hover {
    background-color: #FBC315;
}
.slick-next, .slick-next:hover {
    background-color: #FBC315;
}

.slick-prev::before, .slider-home .slick-prev::before, .banner-principal .slick-prev::before{
	background-color: #FBC315;
}
.slick-next::before, .slider-home .slick-next::before, .banner-principal .slick-next::before {
	background-color: #FBC315;
}
.slick-prev::before, .produtos-middle .slick-prev::before {
	background-color: #FBC315;
}
.slick-next::before, .produtos-middle .slick-next::before {
	background-color: #FBC315;
}
.small_banner_home .owl-theme:hover .owl-controls .owl-nav .owl-prev {
	background-color: #FBC315;
}
.small_banner_home .owl-theme:hover .owl-controls .owl-nav .owl-next {
	background-color: #FBC315;
}

/*.Vermelho */
.customer-account-login .header,
.customer-account-create .header,
.checkout-onepage-index .header {
	background: url(../images/bg-tecido.jpg) repeat left top !important;
	background-size: 350px !important;
}
.customer-account-create .links,
.customer-account-login .links,
.checkout-onepage-index .links {
	background: none !important;
}
.customer-account-login .header{
	background: url(../images/bg-tecido.jpg) repeat left top !important;
	background-size: 350px !important;
}
.customer-account-login .links{ background: none !important; }
.header-container { background-color: #B4612F; }
.header-fixed {background-color: #B4612F;}
.produtos-middle .abas-title2-middle h1, .produtos-middle .abas-title3-middle h1 {color:#B4612F}
.produtos-middle .abas-title1-middle {border: 2px solid #B4612F;background: #B4612F;}
.produtos-middle .abas-title2-middle, .produtos-middle .abas-title3-middle {border: 2px solid #B4612F;}
.abas-title1 {border-bottom: 3px solid #B4612F;}
.regular-price .price {color: #B4612F;}
.catalog-product-view .regular-price .price {color: #B4612F; }
.special-price .price {color: #B4612F;}
.special-price .price .desconto-boleto, .regular-price .desconto-boleto {color: #B4612F;}
.product-view .product-shop .special-price .price {color: #B4612F;}
.minimal-price-link .label {background: #B4612F;}
.minimal-price-link .price {color: #B4612F;}
.products-grid .item .arrow {border-left: 5px solid #B4612F;}
.product-view .product-shop .tier-prices .benefit{color: #B4612F;}
.product-view .product-shop .arrow {border-left: 6px solid #B4612F; }
.product-view .product-shop .tier-prices .back-red {background: #B4612F;}
#situacao {color: #B4612F;}
.account-login #situacao {color: #B4612F;}
.footer-session2 .coluna1 li {color: #B4612F;}

#ac-page #checkout-payment-method-load dt.active {
	border-left: 4px solid #B4612F !important;
}

/* Imagens */
.header .form-search input.input-text {
    background: #fff url('../images/css_sprites.png') -13px -755px no-repeat;
}

.header .form-search button.button { float: left;
    background: #fff url('../images/css_sprites.png') -2px -4px no-repeat;
}

#nav .mega-menu li .mega-menu a {
    background: url(../images/bg-limenu.png) no-repeat 0 -12px;
}

.account-wrapper {
    background: url('../images/css_sprites.png') -20px -1114px no-repeat;
}

.account-cart-wrapper {
    background: url('../images/css_sprites.png') -20px -1042px no-repeat;
}

.breadcrumbs .home {
	background: url(../images/homeIcon.png) no-repeat; padding: 9px 5px;
}

.footer-container .vantagens .send-mail {
    background: url("../images/css_sprites.png") no-repeat -20px -1441px;
}
.footer-container .vantagens .chat {
    background: url("../images/css_sprites.png") no-repeat -20px -1265px;
}
.footer-container .vantagens .main-question {
    background: url("../images/css_sprites.png") no-repeat -20px -1353px;
}

.block-subscribe .actions button.button {
    background: #fff url("../images/css_sprites.png") no-repeat -17px -5px;
}

.footer-session2 .coluna1 h2 {
    background: url("../images/css_sprites.png") no-repeat -20px -902px;
}
.footer-session2 .coluna2 h2 {
    background: url("../images/css_sprites.png") no-repeat -20px -971px;
}
.footer-session2 .coluna4 h2 {
    background: url("../images/css_sprites.png") no-repeat -20px -694px;
}

.footer-session1 .mascote {
    zbackground: url('../images/mascoteFooter.jpg') no-repeat center center;
    background: none;
}


/* Outros */
.checkout-onepage-index .divisor,
.customer-account-create .divisor,
.customer-account-login .divisor {
	border-right: 1px solid #fff !important;
}

