<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_PdfCustomiser>
            <version>1.1.15</version>
            <depends>
            </depends>
        </Fooman_PdfCustomiser>
    </modules>

    <global>
        <rewrite>
            <fooman_pdfcustomiser_adminhtml_sales_order1>
                <from><![CDATA[#^/[^/]+/sales_order/pdfinvoices#]]></from>
                <to>/pdfcustomiser/adminhtml_sales_order/pdfinvoices/</to>
            </fooman_pdfcustomiser_adminhtml_sales_order1>
            <fooman_pdfcustomiser_adminhtml_sales_order2>
                <from><![CDATA[#^/[^/]+/sales_order/pdfshipments#]]></from>
                <to>/pdfcustomiser/adminhtml_sales_order/pdfshipments/</to>
            </fooman_pdfcustomiser_adminhtml_sales_order2>
            <fooman_pdfcustomiser_adminhtml_sales_order3>
                <from><![CDATA[#^/[^/]+/sales_order/pdfcreditmemos#]]></from>
                <to>/pdfcustomiser/adminhtml_sales_order/pdfcreditmemos/</to>
            </fooman_pdfcustomiser_adminhtml_sales_order3>
            <fooman_pdfcustomiser_adminhtml_sales_order4>
                <from><![CDATA[#^/[^/]+/sales_order/pdfdocs#]]></from>
                <to>/pdfcustomiser/adminhtml_sales_order/pdfdocs/</to>
            </fooman_pdfcustomiser_adminhtml_sales_order4>
            <fooman_pdfcustomiser_adminhtml_sales_order5>
                <from><![CDATA[#^/emailattachments/admin_order/pdforders#]]></from>
                <to>/pdfcustomiser/adminhtml_sales_order/pdforders/</to>
            </fooman_pdfcustomiser_adminhtml_sales_order5>
            <fooman_pdfcustomiser_adminhtml_sales_order6>
                <from><![CDATA[#^/emailattachments/admin_order/pdfpicking#]]></from>
                <to>/pdfcustomiser/adminhtml_sales_order/pdfpicking/</to>
            </fooman_pdfcustomiser_adminhtml_sales_order6>
        </rewrite>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Fooman_PdfCustomiser_Block_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <pdfcustomiser>
                <class>Fooman_PdfCustomiser_Model</class>
            </pdfcustomiser>
            <core>
                <rewrite>
                    <email_template>Fooman_PdfCustomiser_Model_Email_Template</email_template>
                </rewrite>
            </core>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Fooman_PdfCustomiser_Model_Invoice</order_pdf_invoice>
                </rewrite>
                <rewrite>
                    <order_pdf_shipment>Fooman_PdfCustomiser_Model_Shipment</order_pdf_shipment>
                </rewrite>
                <rewrite>
                    <order_pdf_creditmemo>Fooman_PdfCustomiser_Model_Creditmemo</order_pdf_creditmemo>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <pdfcustomiser>
                <class>Fooman_PdfCustomiser_Helper</class>
            </pdfcustomiser>
        </helpers>
        <pdfcustomiser><!-- config values --></pdfcustomiser>
        <customer>
              <address>
                <formats>
                    <european translate="title" module="customer">
                        <title>European</title>
                        <defaultFormat><![CDATA[
{{depend company}}{{var company}}<br/>{{/depend}}
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{var street1}}<br/>
{{depend street2}}{{var street2}}<br/>{{/depend}}
{{depend street3}}{{var street3}}<br/>{{/depend}}
{{depend street4}}{{var street4}}<br/>{{/depend}}
{{var postcode}}  {{depend city}}{{var city}}{{/depend}} <br/>
{{var country}}
                        ]]></defaultFormat>
                    </european>
                    <us translate="title" module="customer">
                        <title>US</title>
                        <defaultFormat><![CDATA[
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br />{{/depend}}
{{var street1}}<br />
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{depend city}}{{var city}},  {{/depend}}{{depend region}}{{var region}}, {{/depend}}{{var postcode}}<br/>
{{var country}}<br/>
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}
{{depend identidade_sexual}}Identidade Sexual: {{var identidade_sexual}}{{/depend}}
                        ]]></defaultFormat>
                    </us>
                    <flowcheckout translate="title" module="customer">
                        <title>Flow Checkout</title>
                        <defaultFormat><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br/>{{/depend}}
{{var street1}}<br/>
{{depend street2}}{{var street2}}<br/>{{/depend}}
{{depend street3}}{{var street3}}<br/>{{/depend}}
{{depend street4}}{{var street4}}<br/>{{/depend}}
{{depend city}}{{var city}},  {{/depend}}{{depend region}}{{var region}}, {{/depend}}{{var postcode}}<br/>
{{var country}}<br/>
{{depend dob}}Data de nascimento: {{var dob}}<br/>{{/depend}}
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}
{{depend identidade_sexual}}<br/>Identidade Sexual: {{var identidade_sexual}}{{/depend}}
{{depend fisica_juridica}}<br/>Pessoa {{var fisica_juridica}}{{/depend}}
{{depend taxvat}}<br/>CPF: {{var taxvat}}{{/depend}}
{{depend identidade_inscricao}}<br/>Identidade/Inscricao Estadual: {{var identidade_inscricao}}{{/depend}}
{{depend imprimirnota}}<br/>Imprimir Nota Fiscal Paulista: {{var imprimirnota}}{{/depend}}
            ]]></defaultFormat>
                    </flowcheckout>
                </formats>
            </address>
        </customer>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Fooman_PdfCustomiser>
                    <files>
                        <default>Fooman_PdfCustomiser.csv</default>
                    </files>
                </Fooman_PdfCustomiser>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <fooman_pdfcustomiser>
                <use>admin</use>
                <args>
                    <module>Fooman_PdfCustomiser</module>
                    <frontName>pdfcustomiser</frontName>
                </args>
            </fooman_pdfcustomiser>
        </routers>
    </admin>

    <default>
        <config_vars><!--config values -->
        </config_vars>
        <sales_pdf>
            <all>
                <alllogo></alllogo>
                <allowneraddress></allowneraddress>
                <allpagesize>A4</allpagesize>
                <displayboth>0</displayboth>
                <alladdressformat>flowcheckout</alladdressformat>
                <allmargintop>15</allmargintop>
                <allmarginbottom>25</allmarginbottom>
                <allmarginsides>20</allmarginsides>
                <allfont></allfont>
                <allfontsize>12</allfontsize>
                <allqtyasint>1</allqtyasint>
                <allprintcomments>0</allprintcomments>
                <allsign>0</allsign>
                <allsigncertificate></allsigncertificate>
                <allsignpassword></allsignpassword>
            </all>
            <order>
                <ordertitle>ORDER CONFIRMATION</ordertitle>
                <orderaddresses>both</orderaddresses>
                <ordercustom></ordercustom>
            </order>
            <invoice>
                <invoicetitle>TAX INVOICE</invoicetitle>
                <invoicedeliverydate>0</invoicedeliverydate>
                <invoicetaxnumber></invoicetaxnumber>
                <invoiceaddresses>both</invoiceaddresses>
                <invoicecustom></invoicecustom>
                <invoiceintegratedlabels>0</invoiceintegratedlabels>
            </invoice>
            <shipment>
                <shipmenttitle>PACKING SLIP</shipmenttitle>
                <shipmentaddresses>both</shipmentaddresses>
                <shipmentdisplay>none</shipmentdisplay>
                <shipmentcustom></shipmentcustom>
            </shipment>
            <creditmemo>
                <creditmemotitle>CREDIT MEMO</creditmemotitle>
                <creditmemoaddresses>both</creditmemoaddresses>
                <creditmemocustom></creditmemocustom>
            </creditmemo>
        </sales_pdf>
    </default>

</config>
