<?xml version="1.0"?>
<config>
    <modules>
        <Biostore_Buscape>
            <version>0.1.0</version>
        </Biostore_Buscape>
    </modules>
	<frontend> 
        <routers>
            <buscape>
                <use>standard</use>
                <args>
                    <module>Biostore_Buscape</module>
                    <frontName>buscape</frontName>
                </args>
            </buscape>
        </routers>
	</frontend>
    <global>
        <models>
            <buscape>
                <class>Biostore_Buscape_Model</class>
            </buscape>
        </models>
		<resources>
			<buscape_setup>
				<setup>
					<module>Biostore_Buscape</module>
                    <class>Biostore_Buscape_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
    			</connection>
			</buscape_setup>
			<buscape_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</buscape_write>
			<buscape_read>
				<connection>
				  <use>core_read</use>
				</connection>
			</buscape_read>
        </resources>
    </global>
</config>