<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TM_AjaxSearch>
            <version>1.6.6</version>
        </TM_AjaxSearch>
    </modules>
    <global>
        <blocks>
            <ajaxsearch>
                <class>TM_AjaxSearch_Block</class>
            </ajaxsearch>
            <catalogsearch>
                <rewrite>
                    <result>TM_AjaxSearch_Block_CatalogSearch_Result</result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <ajaxsearch>
                <class>TM_AjaxSearch_Helper</class>
            </ajaxsearch>
        </helpers>
        <models>
            <catalogsearch>
                <rewrite>
                    <layer>TM_AjaxSearch_Model_Layer</layer>
                </rewrite>
            </catalogsearch>
            <ajaxsearch>
                <class>TM_AjaxSearch_Model</class>
                <resourceModel>ajaxsearch_mysql4</resourceModel>
            </ajaxsearch>
            <ajaxsearch_mysql4>
                <class>TM_AjaxSearch_Model_Mysql4</class>
            </ajaxsearch_mysql4>
        </models>
        <resources>
            <tm_ajaxsearch_setup>
                <setup>
                    <module>TM_AjaxSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tm_ajaxsearch_setup>
        </resources>

<!--        <events>
            <controller_action_postdispatch_catalogsearch_result_index>
                <observers>
                    <catalogsearch_result_index_override_result_collection>
                        <class>ajaxsearch/observer</class>
                        <method>resultOverride</method>
                    </catalogsearch_result_index_override_result_collection>
                </observers>
            </controller_action_postdispatch_catalogsearch_result_index>

            <catalog_block_product_list_collection>
                <observers>
                    <review>
                        <type>model</type>
                        <class>review/observer</class>
                        <method>catalogBlockProductCollectionBeforeToHtml</method>
                    </review>
                </observers>
            </catalog_block_product_list_collection>
        </events>-->

    </global>
    <default>
        <tm_ajaxsearch>
            <general>
                <enabled>0</enabled>
                <enableleft>0</enableleft>
                <enableright>0</enableright>
                <show_category_filter>0</show_category_filter>
                <category_level_count>0</category_level_count>
                <searchfieldtext>Search entire store here...</searchfieldtext>
                <minchars>3</minchars>
                <enableloader>1</enableloader>
                <width>300</width>
                <maxheight>500</maxheight>
                <headertext>See all result on</headertext>
                <footertext>See all result on</footertext>
                <notfoundtext>Your search returns no results.</notfoundtext>
                <enabledescription>1</enabledescription>
                <descriptionchars>50</descriptionchars>
                <enableimage>1</enableimage>
                <imagewidth>50</imagewidth>
                <imageheight>50</imageheight>
                <use_catalogsearch_collection>1</use_catalogsearch_collection>
                <use_custom_collection_on_search_page>0</use_custom_collection_on_search_page>
                <productstoshow>10</productstoshow>
                <enablesuggest>0</enablesuggest>
                <suggest_order>10</suggest_order>
                <product_order>20</product_order>
                <enablecatalog>0</enablecatalog>
                <catalog_order>30</catalog_order>
                <enablecms>0</enablecms>
                <cms_attributes>title</cms_attributes>
                <cms_order>40</cms_order>
                <enabletags>0</enabletags>
                <tags_order>50</tags_order>
                <forced_encode_result_utf8>0</forced_encode_result_utf8>
            </general>
        </tm_ajaxsearch>
    </default>
    <frontend>
        <layout>
            <updates>
                <ajaxsearch>
                    <file>tm/ajaxsearch.xml</file>
                </ajaxsearch>
            </updates>
        </layout>
        <routers>
            <ajaxsearch>
                <use>standard</use>
                <args>
                    <module>TM_AjaxSearch</module>
                    <frontName>ajaxsearch</frontName>
                </args>
            </ajaxsearch>
        </routers>
        <translate>
            <modules>
                <TM_Ajaxsearch>
                    <files>
                        <default>TM_Ajaxsearch.csv</default>
                    </files>
                </TM_Ajaxsearch>
            </modules>
        </translate>
   </frontend>
   <adminhtml>
        <translate>
            <modules>
                <TM_Ajaxsearch>
                    <files>
                        <default>TM_Ajaxsearch.csv</default>
                    </files>
                </TM_Ajaxsearch>
            </modules>
        </translate>
    </adminhtml>
</config>
