<?xml version="1.0"?>
<config>
    <modules>
        <EGBR_Maisplics>
            <version>0.1.0</version>
        </EGBR_Maisplics>
    </modules>
    
	<frontend> 
        <routers>
            <maisplics>
                <use>standard</use>
                <args>
                    <module>EGBR_Maisplics</module>
                    <frontName>inception</frontName>
                </args>
            </maisplics>
        </routers>
	</frontend>
	
	 <admin>
        <routers>
            <adminhtml>
                <args>
                    <!-- This is how we load our Adminhtml controllers -->
                    <modules>
                        <EGBR_Maisplics before="Mage_Adminhtml">EGBR_Maisplics_Adminhtml</EGBR_Maisplics>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	
	<adminhtml>
        <layout>
            <updates>
                <maisplics>
                   
                    <file>maisplics/layout.xml</file>
                </maisplics>
            </updates>
        </layout>
    </adminhtml>
	
	<global>
        <models>
            
            <maisplics>
                <class>EGBR_Maisplics_Model</class>
                <resourceModel>maisplics_resource</resourceModel>
            </maisplics> 
            
            <maisplics_resource>
            	<class>EGBR_Maisplics_Model_Resource</class>
	            <entities>
	                <relatorios>
	                    <table>maisplics_transactions</table>
	                </relatorios>
	                <tax>
	                    <table>maisplics_tax</table>
	                </tax>
	            </entities>
        	</maisplics_resource>
             
            <!-- 
            <maisplics_mysql4>
                <class>EGBR_Maisplics_Model_Mysql4</class>
                <entities>
                    <baz>
                        <table>foo_bar_baz</table>
                    </baz>
                </entities>
            </maisplics_mysql4>
             -->
            
                  
        </models>
         
        <resources>
            <maisplics_setup>
                <setup>
                    <module>EGBR_Maisplics</module>
                    
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                    <!-- magento versão < 1.4 
                    <class>Mage_Eav_Model_Entity_Setup</class>
                     -->
                </setup>
            </maisplics_setup>
        </resources>     
        
        <helpers>
            <maisplics>
                <class>EGBR_Maisplics_Helper</class>
            </maisplics>
        </helpers>
        
         <blocks>
            <maisplics>
                <!-- Set a block definition and lookup directory -->
                <class>EGBR_Maisplics_Block</class>
            </maisplics>
        </blocks>

     </global>
</config>