<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<EGBR_Pontosweb>
			<version>0.1.0</version>
		</EGBR_Pontosweb>
	</modules>
	<frontend>
        <routers>
            <webservice>
                <use>standard</use>
                <args>
                    <module>EGBR_Pontosweb</module>
                    <frontName>simgroup</frontName>
                </args>
            </webservice>
        </routers>  
    </frontend>
</config>