<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<modules>
		<MageMigrator_Migurlrewrite>
			<version>1.0</version>
		</MageMigrator_Migurlrewrite>
	</modules>
	
	<global> 
		<models>
			<migurlrewrite>
				<class>MageMigrator_Migurlrewrite_Model</class>
			</migurlrewrite>
		</models>
	</global>
	
</config>