<?xml version="1.0"?>
<config>
    <modules>
        <Devopensource_LayerCatSeo>
            <version>0.1.0</version>
        </Devopensource_LayerCatSeo>
    </modules>
    <global>
        <models>
            <devopencatseo>
                <class>Devopensource_LayerCatSeo_Model</class>
                <resourceModel>devopencatseo_resource</resourceModel>
            </devopencatseo>
            <devopencatseo_resource>
                <class>Devopensource_LayerCatSeo_Model_Resource</class>
            </devopencatseo_resource>
            <catalog>
                <rewrite>
                    <layer_filter_item>Devopensource_LayerCatSeo_Model_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <devopencatseo>
                <class>Devopensource_LayerCatSeo_Helper</class>
            </devopencatseo>
        </helpers>
    </global>
</config>