<?xml version="1.0"?>
<config>
    <modules>
        <Biostore_Webfocosp>
            <version>0.1.0</version>
        </Biostore_Webfocosp>
    </modules>
	<frontend> 
        <routers>
            <webfocosp>
                <use>standard</use>
                <args>
                    <module>Biostore_Webfocosp</module>
                    <frontName>webfocosp</frontName>
                </args>
            </webfocosp>
        </routers>
	</frontend>
    <global>
        <models>
            <webfocosp>
                <class>Biostore_Webfocosp_Model</class>
            </webfocosp>
        </models>
		<resources>
			<webfocosp_setup>
				<setup>
					<module>Biostore_Webfocosp</module>
                    <class>Biostore_Webfocosp_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
    			</connection>
			</webfocosp_setup>
			<webfocosp_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</webfocosp_write>
			<webfocosp_read>
				<connection>
				  <use>core_read</use>
				</connection>
			</webfocosp_read>
        </resources>
    </global>
</config>