<?xml version="1.0"?>
<config>
    <modules>
        <FarmaDelivery_LinkMarca>
            <version>0.1.0</version>
        </FarmaDelivery_LinkMarca>
    </modules>
    <global>
        <helpers>
            <fd_linkmarca>
                <class>FarmaDelivery_LinkMarca_Helper</class>
            </fd_linkmarca>
        </helpers>
    </global>
</config>
