<?xml version="1.0" encoding="utf-8" ?>

<config>
    <sections>
        <intelipost_push translate="label" module="push">
            <label>Push</label>
            <tab>intelipost</tab>
            <frontend_type>text</frontend_type>
            <sort_order>3</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <about_us>
                    <frontend_model>push/about</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </about_us>

                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <save_on_order_comments translate="label">
                            <label>Save data in order comments?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>        
                        </save_on_order_comments>

                        <create_on_invoice>
                            <label>Create order at Intelipost on invoice?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </create_on_invoice>

                        <nfe_required_create_intelipost translate="label">
                            <label>Required NFE to create order at Intelipost?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nfe_required_create_intelipost>

                        <send_order_date>
                            <label>Send invoice date on create order at Intelipost?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </send_order_date>

                        <shipped_on_create>
                            <label>Set Shipped on create order at Intelipost?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipped_on_create>
                    </fields>
                </general>

                <attributes translate="label"> 
                  <label>Attributes</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>5</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                    <fields>
                        <federal_tax_payer_id translate="label">
                            <label>Federal Tax Payer Id</label>
                            <frontend_type>select</frontend_type>
                            <source_model>push/adminhtml_system_config_source_attributes_customer</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Federal Tax Payer Id</comment>
                        </federal_tax_payer_id>

                        <gs_contingency_order_status>
                            <label>Choose status order to contingency generate shipment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>push/config_order_status</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Used if cron to generate shipment is enabled</comment>
                        </gs_contingency_order_status>
                    </fields>
                </attributes>

                <manage_ordes>
                <label>Manage Intelipost Push Orders</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>10</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <fields>
                    <order_status translate="label">
                        <label>Choose status order to display</label>
                        <frontend_type>multiselect</frontend_type>
                        <source_model>push/config_order_status</source_model>
                        <sort_order>0</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </order_status>
                    
                    <order_button>
                        <label>Incluir botão para criar pedidos na Intelipost nos detalhes do pedido?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>05</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </order_button>
                    
                    <feriado_carnaval translate="label">
                        <label>Considerar feriado de carnaval como dia util?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <comment>Opcao utilizada para estimar data de entrega. Se ativada, segunda e terca de carnaval sao considerados dias uteis.</comment>
                    </feriado_carnaval>
                    

                    <nfe_required translate="label comment">
                        <label>NFE Required?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <comment>If set to True, it will filter only order with nfes generated in Intelipost - Manage Orders</comment>
                    </nfe_required>
                </fields>
              </manage_ordes>

              <push_cron_config>
                <label>Intelipost - Cron Config</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>13</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <fields>

                    <use_cso_cron translate="label">
                        <label>Use cron for automatically create Intelipost Ship Order?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>0</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>                        
                    </use_cso_cron>

                    <cso_order_status translate="label">
                        <label>Order status to create Intelipost Ship Order</label>
                        <frontend_type>multiselect</frontend_type>
                        <source_model>push/config_order_status</source_model>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_cso_cron>1</use_cso_cron></depends>
                    </cso_order_status>

                    <cso_order_qty translate="label comment">
                        <label>Order Quantity to Create</label>
                        <frontend_type>text</frontend_type>                            
                        <sort_order>2</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_cso_cron>1</use_cso_cron></depends>
                    </cso_order_qty>

                    <cso_frequency>
                        <label>Create ship order frequency</label>
                        <frontend_type>select</frontend_type>
                        <source_model>push/config_cron_options</source_model>
                        <backend_model>push/adminhtml_system_config_backend_cron</backend_model>
                        <sort_order>3</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_cso_cron>1</use_cso_cron></depends>
                        <comment>Minutes</comment>
                    </cso_frequency>

                    <use_nfe_cron translate="label">
                        <label>Use cron for automatically update nfe at Intelipost?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>6</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>                        
                    </use_nfe_cron>

                    <nfe_order_status translate="label">
                        <label>Order status to automatically update Nfe</label>
                        <frontend_type>multiselect</frontend_type>
                        <source_model>push/config_order_status</source_model>
                        <sort_order>10</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_nfe_cron>1</use_nfe_cron></depends>
                    </nfe_order_status>

                    <nfe_order_qty>
                        <label>Order Quantity to get Nfe</label>
                        <frontend_type>text</frontend_type>                            
                        <sort_order>11</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_nfe_cron>1</use_nfe_cron></depends>
                    </nfe_order_qty>

                    <nfe_frequency>
                        <label>Update nfe frequency</label>
                        <frontend_type>select</frontend_type>
                        <source_model>push/config_cron_options</source_model>
                        <backend_model>push/adminhtml_system_config_backend_cron</backend_model>
                        <sort_order>12</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_nfe_cron>1</use_nfe_cron></depends>
                        <comment>Minutes</comment>
                    </nfe_frequency>

                    <use_rts_cron translate="label">
                        <label>Use cron for automatically set ready to ship orders at Intelipost?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>    
                    </use_rts_cron>

                    <rts_order_status translate="label">
                        <label>Order status to automatically set orders ready to ship</label>
                        <frontend_type>multiselect</frontend_type>
                        <source_model>push/config_order_status</source_model>
                        <sort_order>25</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_rts_cron>1</use_rts_cron></depends>
                    </rts_order_status>

                    <rts_order_qty>
                        <label>Order Quantity to ready to ship</label>
                        <frontend_type>text</frontend_type>                            
                        <sort_order>26</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_rts_cron>1</use_rts_cron></depends>
                    </rts_order_qty>

                    <rts_frequency>
                        <label>Ready to ship frequency</label>
                        <frontend_type>select</frontend_type>
                        <source_model>push/config_cron_options</source_model>
                        <backend_model>push/adminhtml_system_config_backend_cron</backend_model>
                        <sort_order>27</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_rts_cron>1</use_rts_cron></depends>
                        <comment>Minutes</comment>
                    </rts_frequency>

                    <use_gs_cron translate="label">
                        <label>Use cron for automatically gerenate shipment at Intelipost?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>30</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>    
                    </use_gs_cron>

                    <gs_order_status translate="label">
                        <label>Order status to automatically generate shipment at Intelipost</label>
                        <frontend_type>multiselect</frontend_type>
                        <source_model>push/config_order_status</source_model>
                        <sort_order>31</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_gs_cron>1</use_gs_cron></depends>
                    </gs_order_status>

                    <gs_order_qty>
                        <label>Order Quantity to generate shipment</label>
                        <frontend_type>text</frontend_type>                            
                        <sort_order>32</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_gs_cron>1</use_gs_cron></depends>
                    </gs_order_qty>

                    <gs_frequency>
                        <label>Generate shipment frequency</label>
                        <frontend_type>select</frontend_type>
                        <source_model>push/config_cron_options</source_model>
                        <backend_model>push/adminhtml_system_config_backend_cron</backend_model>
                        <sort_order>33</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><use_gs_cron>1</use_gs_cron></depends>
                        <comment>Minutes</comment>
                    </gs_frequency>
                  </fields>
              </push_cron_config>
              
                <romaneio_company_info translate="label">
                  <label>Romaneio Company Informations</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>20</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                    <fields>
                        <company_name translate="label comment">
                            <label>Company Name</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Company name printed in Romaneio file</comment>
                        </company_name>

                        <company_cnpj translate="label comment">
                            <label>Company Cnpj</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Company cnpj printed in Romaneio file</comment>
                        </company_cnpj>

                        <company_logo translate="label">
                            <label>Company Logo</label>
                            <frontend_type>image</frontend_type>
                            <sort_order>1</sort_order>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">intelipost/push</upload_dir>
                            <base_url type="media" scope_info="1">intelipost/push</base_url>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </company_logo>
                    </fields>
                </romaneio_company_info>

                <romaneio_pac_info translate="label">
                  <label>Romaneio Pac Informations</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>30</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <fields>
                        <contract_number translate="label comment">
                            <label>Contract Number</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>PAC Contract number</comment>
                        </contract_number>

                        <card_number translate="label comment">
                            <label>Card Number</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>PAC Card number</comment>
                        </card_number>

                        <post_unity translate="label comment">
                            <label>Post Unity</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </post_unity>

                        <service_code translate="label">
                            <label>Service Code</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </service_code>
                    </fields>
              </romaneio_pac_info>

              <romaneio_sedex_info translate="label">
                  <label>Romaneio Sedex Informations</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>40</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <fields>
                        <contract_number translate="label comment">
                            <label>Contract Number</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Sedex Contract number</comment>
                        </contract_number>

                        <card_number translate="label comment">
                            <label>Card Number</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Sedex Card number</comment>
                        </card_number>

                        <post_unity translate="label comment">
                            <label>Post Unity</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </post_unity>

                        <service_code translate="label">
                            <label>Service Code</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </service_code>
                    </fields>
              </romaneio_sedex_info>

              <romaneio_esedex_info translate="label">
                  <label>Romaneio eSedex Informations</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>50</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <fields>
                        <contract_number translate="label comment">
                            <label>Contract Number</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>eSedex Contract number</comment>
                        </contract_number>

                        <card_number translate="label comment">
                            <label>Card Number</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>eSedex Card number</comment>
                        </card_number>

                        <post_unity translate="label comment">
                            <label>Post Unity</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </post_unity>

                        <service_code translate="label">
                            <label>Service Code</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </service_code>
                    </fields>
              </romaneio_esedex_info>              
            </groups>
        </intelipost_push>
    </sections>
</config>

