<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Admin
 * @package    Status
 * @copyright  Copyright (c) 2009 Digital Addiction CC. (http://www.digitaladdiction.co.za)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 */ Thanks goes to Spheric, Atlasit, Ajayksh, Erenaud for all brainstorming in the following thread:
 */ http://www.magentocommerce.com/boards/viewthread/9976/P45/
 */ I compiled this using Spherics instructions, and I can only take credit for creating the actual status's below:
 */ 
 */ Additional Status's Included:
 */ 
 */ Pending - Credit Card Reserved
 */ Pending - Stock has been ordered
 */ Pending - Proof of Payment Received
 */ 
 */ Processing - Payment has Cleared
 */ Processing - Credit Card has been Settled
 */ Processing - Stock has been received and scanned
 */ Processing - Stock has been invoiced, packaged and awaiting courier
 */ Processing - Stock has been invoiced, packaged and ready to be posted
 */ Processing - Stock is ready and awaiting collection
 */ 
 */ Complete - Courier has collected
 */ Complete - Stock has been posted
 */ Complete - Stock has been collected
 */ 
 */ Cancelled - As per Customer Request
 */ Cancelled - Customer not Responding
 */ Cancelled - Stock Item Discontinued
 */ Cancelled - Suspected Fraud
 */ 
 */ Back Order
 */ 
-->

<config>
    <modules>
        <Mage_Sales_Community>
            <version>0.1.2</version>
        </Mage_Sales_Community>
    </modules>
    <global>
        <sales>
            <order>
                <statuses>
					<packing translate="label"><label>Enviado para Empacotamento</label></packing>
					<sentToCarrier translate="label"><label>Enviado para Transportadora</label></sentToCarrier>
					<deliveryConfirmedByCarrier translate="label"><label>Entrega confirmada pela transportadora</label></deliveryConfirmedByCarrier>
                </statuses>
                <states>
					<pending translate="label">
                        <label>Pending</label>
                        <statuses>
		                    <pending/>
                        </statuses>
                        <visible_on_front/>						
                    </pending>
                    <processing translate="label">
                        <label>Processing</label>
                        <statuses>
                            <processing/>
		                    <packing/>
		                    <sentToCarrier/>
                        </statuses>
                        <visible_on_front/>
                    </processing>
                    <complete translate="label">
                        <label>Complete</label>
                        <statuses>
							<complete/>
		                    <sentToCarrier/>
		                    <deliveryConfirmedByCarrier/>
                        </statuses>
                        <visible_on_front/>
                    </complete>
                    <canceled translate="label">
                        <label>Canceled</label>
                        <statuses>
		                    <canceled/>
                        </statuses>
                        <visible_on_front/>
                    </canceled>				
                    <holded translate="label">
                        <label>Holded</label>
                        <statuses>
                            <holded/>
                        </statuses>
                        <visible_on_front/>
                    </holded>
                    
					<!-- /** Additional modified states will be here including any custom statuses */ -->		
					<!-- Format will be
					<name_of_state translate="label">
						<label>Name of State</label>
						<statuses>
										Insert the name/s of the selectable status's you wish to include, which were made at the top, i.e. <name_of_status/>
							<name_of_status/>
						</statuses>
						<visible_on_front/>
					</name_of_state> -->
					
                </states>
            </order>
        </sales>
    </global>
</config> 