

.header div.logo {
    background: none;
    padding-top: 45px;
}

.header {
    background: #F5F5F5;
}

.account-wrapper {
     /*! margin: 25px 0 0 41px; */
}
.account-cart-wrapper {
    margin: 25px 0 0 31px;
}

a {
    color: #636363;
}

/* Imagens */
.header .form-search input.input-text {
    background: #fff url('../images/css_sprites.png') -13px -755px no-repeat;
}

.header .form-search button.button { float: left;
    background: #fff url('../images/css_sprites.png') -2px -4px no-repeat;
}

#nav .mega-menu li .mega-menu a {
    background: url(../images/bg-limenu.png) no-repeat 0 -12px;
}

.account-wrapper {
    background: url('../images/css_sprites.png') -20px -1114px no-repeat;
}

.account-cart-wrapper {
    background: url('../images/css_sprites.png') -20px -1042px no-repeat;
}

.breadcrumbs .home {
    background: url(../images/homeIcon.png) no-repeat; padding: 9px 5px;
}

.footer-container .vantagens .send-mail {
    background: url("../images/css_sprites.png") no-repeat -20px -1441px;
}
.footer-container .vantagens .chat {
    background: url("../images/css_sprites.png") no-repeat -20px -1265px;
}
.footer-container .vantagens .main-question {
    background: url("../images/css_sprites.png") no-repeat -20px -1353px;
}

.block-subscribe .actions button.button {
    background: #fff url("../images/css_sprites.png") no-repeat -17px -5px;
}

.footer-session2 .coluna1 h2 {
    background: url("../images/css_sprites.png") no-repeat -20px -902px;
}
.footer-session2 .coluna2 h2 {
    background: url("../images/css_sprites.png") no-repeat -20px -971px;
}
.footer-session2 .coluna4 h2 {
    background: url("../images/css_sprites.png") no-repeat -20px -694px;
}

.footer-session1 .mascote {
    background: url('../images/mascoteFooter.jpg') no-repeat center center;
    background: none;
}

.skip-cart .count, .skip-link.skip-active .count {
    color: #787878;
}

.skip-cart .label {
    color: #787878;
    font-weight: bold;
}

.header div.logo img{
    width: 160px;
    height: auto;
    margin-top: -23px;
}

.skip-account .label.highlight, .skip-cart .label-price.highlight{
    color: #F08080;
    font-size: 14px;
    font-weight: bold;
}

.account-wrapper{
    background: url(https://vcdelivery.com.br/skin/frontend/onestic/vidaclass/images/Frame4.1.png) -18px no-repeat;
}

.account-cart-wrapper {
    background: url(https://vcdelivery.com.br/skin/frontend/onestic/vidaclass/images/Frame4.png) -18px no-repeat;
}

.footer-container .vantagens .send-mail {
    background: url(https://vcdelivery.com.br/skin/frontend/onestic/vidaclass/images/mailb.png) no-repeat;
}

.footer-container .vantagens .chat {
    background: url(https://vcdelivery.com.br/skin/frontend/onestic/vidaclass/images/chatb.png) no-repeat;
}

.footer-container .vantagens .main-question {
    background: url(https://vcdelivery.com.br/skin/frontend/onestic/vidaclass/images/questionsb.png) no-repeat;
}


.footer-session1 {
    height: 340px;
    color: #fff;
    background: linear-gradient(to right, #F08080 0%,#F08080 50%,#F5F5F5 50%,#F5F5F5 100%,#F5F5F5 100%);
}

.logo-branco-footer{
    margin-top: 24px;
    width: 170px;
}

.vidaclass{
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: left;
}

.vidaclass-icons{
    margin-top: 10px;
}

.icon-consulta{
    margin: 0 auto;
    float: left;
}

.icon-exames{
    margin: 0 auto;
    float: none;   
}

.icon-internacao{
    margin: 0 auto;
    float: right;
}

label.text-icon-vidaclass {
    color: #787878;
    font-size: 15px;
}

.consulta{
    margin: 0 auto;
    float: left;
    margin-left: 8px;
}

.exames{
    margin: 0 auto;
    float: none;
    margin-left: 8px;
}

.internacao{
    margin: 0 auto;
    float: right;
    right: 0;
    position: absolute;
}

.socials{
    margin-top: 30px;
}

p.text-icon-vidaclass {
    color: #787878;
}

.a{
    text-decoration: none !important;
}

img.icon-instagram {
    margin-right: 20px;
}

.header .header-fixed .label{
    color:#787878;
}

.links {
    background-color: #F2655D;
    height: 28px;
    text-align: right;
}

.content .vidaclass h2 {
    margin-top: 10px;
}

.customer-account-login .header .wrapper .logo img {
    margin-top: -21px;
    width: 140px;
    height: auto;
}

.customer-account-create .header .wrapper .logo img {
    margin-top: -21px;
    width: 140px;
    height: auto;
}

.customer-account-login .header{
    background: #f5f5f5 !important;
}

.customer-account-login .header .links {
    background: transparent !important;
}

.customer-account-login .btn-login {
    background: #F08080;
}

.btn-login:hover, .btn-next:hover {
    color: #fff;
    background: #F2655D !important;
}

.checkout-onepage-index .links a, .customer-account-create .links a, .customer-account-login .links a {
    color: #F08080 !important;
    font-weight: bold;
    font-size: 13px;
}

.account-login .register a.create-count-button {
    color: #f08080 !important;
}

.customer-account-create .buttons-set button:hover {
    background: #F2655D !important;
}

.customer-account-create .buttons-set button{
    background: #F08080 !important;    
}

.customer-account-create .nao-sei-cep{
    color: #F08080 !important;
}

.customer-account-create .header {
    background: #f5f5f5 !important;
    height: 73px;
}

.customer-account-create .links{
    background: transparent !important;
}

.checkout-onepage-index .links{
    background: transparent !important;
}

.checkout-onepage-index .links a{
    color: #F08080 !important;
}

.checkout-onepage-index .header .links {
    background: transparent !important;
}

.checkout-onepage-index .header {
    background: #f5f5f5 !important;
}
.checkout-onepage-index .header .logo img {
    width: 128px !important;
    height: auto !important;
    margin-top: -16px !important;
}

.checkout-onepage-index .links a {
    color: #f08080 !important;
}

.checkout-onepage-index .btn-next {
    background: #f08080 !important;
}

.checkout-onepage-index .divisor {
    border-right: 1px solid #f08080 !important;
}

.box-address .selected{
    background: #f08080 !important;
}

.box-address.active{
    border: 1px solid #f08080 !important;
}

.box-address .address-title{
    color: #f08080 !important;
}

.footer-session1 .social-share-session .content {
    margin: 24px 58px 24px 0px !important;
}

#top-links-right {
    background-color: #f2655d;
}