<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <multifarmas translate="label">
                    <label>Multifarmas</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>41</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <send_to_multifarmas translate="label">
                            <label>Permitir atualização do XML?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </send_to_multifarmas>
                    </fields>
                    <fields>
                        <product_suffix_url translate="label">
                            <label>Sufixo para a url do produto</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_suffix_url>
                    </fields>
                    <fields>
                        <categories_excluded translate="label">
                            <label>Categorias que não serão listadas(separadas por vírgula)</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </categories_excluded>
                    </fields>
                </multifarmas>
                <cliquefarma translate="label">
                    <label>Cliquefarma</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <send_to_cliquefarma translate="label">
                            <label>Enviar todos os produtos para o Cliquefarma?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </send_to_cliquefarma>
                    </fields>
                    <fields>
                        <cliquefarma_parcelamento translate="label">
                            <label>Forma de parcelamento</label>
                            <frontend_type>select</frontend_type>
                            <source_model>EGBR_cliquefarma_Model_Parcelamentotypes</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cliquefarma_parcelamento>
                    </fields>
                    <fields>
                        <product_suffix_url translate="label">
                            <label>Sufixo para a url do produto</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_suffix_url>
                    </fields>
                    <fields>
                        <categories_excluded translate="label">
                            <label>Categorias que não serão listadas(separadas por vírgula)</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </categories_excluded>
                    </fields>
                </cliquefarma>
                <zoomfeed translate="label">
                    <label>Zoom</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>42</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <send_to_zoom translate="label">
                            <label>Enviar todos os produtos para a Zoom</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </send_to_zoom>
                    </fields>
                    <fields>
                        <product_suffix_url translate="label">
                            <label>Sufixo para a url do produto</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_suffix_url>
                    </fields>
                    <fields>
                        <categories_excluded translate="label">
                            <label>Categorias que não serão listadas(separadas por vírgula)</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </categories_excluded>
                    </fields>
                </zoomfeed>
            </groups>
        </catalog>
    </sections>
</config>