<?xml version="1.0"?>
<!--
/**
 * Smart E-commerce do Brasil Tecnologia LTDA
 *
 * INFORMAÇÕES SOBRE LICENÇA
 *
 * Open Software License (OSL 3.0).
 * http://opensource.org/licenses/osl-3.0.php
 *
 * DISCLAIMER
 *
 * Não edite este arquivo caso você pretenda atualizar este módulo futuramente
 * para novas versões.
 *
 * @category    Esmart
 * @package     Esmart_PayPalBrasil
 * @copyright   Copyright (c) 2013 Smart E-commerce do Brasil Tecnologia LTDA. (http://www.e-smart.com.br)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author     	Tiago Sampaio <tiago.sampaio@e-smart.com.br>
 */
-->
<config>
	<modules>
		<Esmart_PayPalBrasil>
			<version>0.1.0.0</version>
		</Esmart_PayPalBrasil>
	</modules>
	<global>
		<models>
			<esmart_paypalbrasil>
				<class>Esmart_PayPalBrasil_Model</class>
				<resourceModel>esmart_paypalbrasil_resource</resourceModel>
			</esmart_paypalbrasil>
			<esmart_paypalbrasil_resource>
				<class>Esmart_PayPalBrasil_Model_Resource</class>
			</esmart_paypalbrasil_resource>
			<paypal>
				<rewrite>
					<config>Esmart_PayPalBrasil_Model_Config</config>
				</rewrite>
			</paypal>
		</models>
		<resources>
			<esmart_paypalbrasil_setup>
				<setup>
					<module>Esmart_PayPalBrasil</module>
				</setup>
			</esmart_paypalbrasil_setup>
		</resources>
		<helpers>
			<esmart_paypalbrasil>
				<class>Esmart_PayPalBrasil_Helper</class>
			</esmart_paypalbrasil>
		</helpers>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<esmart_paypalbrasil>
					<file>esmart/paypalbrasil.xml</file>
				</esmart_paypalbrasil>
			</updates>
		</layout>
		<translate>
			<modules>
				<esmart_paypalbrasil>
					<files>
						<default>Esmart_PayPalBrasil.csv</default>
					</files>
				</esmart_paypalbrasil>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<esmart_paypalbrasil>
					<file>esmart/paypalbrasil.xml</file>
				</esmart_paypalbrasil>
			</updates>
		</layout>
		<translate>
			<modules>
				<esmart_paypalbrasil>
					<files>
						<default>Esmart_PayPalBrasil.csv</default>
					</files>
				</esmart_paypalbrasil>
			</modules>
		</translate>
		<routers>
			<esmart_paypalbrasil>
				<use>standard</use>
				<args>
					<module>Esmart_PayPalBrasil</module>
					<frontName>paypalbrasil</frontName>
				</args>
			</esmart_paypalbrasil>
			<paypal>
				<args>
					<modules>
						<esmart_paypalbrasil before="Mage_Paypal">Esmart_PayPalBrasil</esmart_paypalbrasil>
					</modules>
				</args>
			</paypal>
		</routers>
	</frontend>
	<default>
		<paypal>
			<general>
				<merchant_country>BR</merchant_country>
			</general>
		</paypal>
		<payment>
			<paypal_standard>
				<title>Pague com PayPal</title>
				<sort_order>10</sort_order>
				<payment_action>Sale</payment_action>
			</paypal_standard>
			<paypal_express>
				<title>Pague com PayPal Express</title>
				<sort_order>10</sort_order>
				<payment_action>Sale</payment_action>
				<transfer_shipping_options>1</transfer_shipping_options>
				<avoid_review_page>1</avoid_review_page>
			</paypal_express>
			<paypal_billing_agreement>
				<active>0</active>
				<sort_order>10</sort_order>
				<title>Aceite de Cobrança PayPal</title>
			</paypal_billing_agreement>
		</payment>
		<paypal>
			<style>
				<logo>compra_segura_horizontal</logo>
			</style>
		</paypal>
	</default>
</config>