<?xml version="1.0"?>
<!--
/**
 * Smart E-commerce do Brasil Tecnologia LTDA
 *
 * INFORMAÇÕES SOBRE LICENÇA
 *
 * Open Software License (OSL 3.0).
 * http://opensource.org/licenses/osl-3.0.php
 *
 * DISCLAIMER
 *
 * Não edite este arquivo caso você pretenda atualizar este módulo futuramente
 * para novas versões.
 *
 * @category    Esmart
 * @package     Esmart_PayPalBrasil
 * @copyright   Copyright (c) 2013 Smart E-commerce do Brasil Tecnologia LTDA. (http://www.e-smart.com.br)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author     	Tiago Sampaio <tiago.sampaio@e-smart.com.br>
 */
-->
<config>
	<sections>
		<payment>
			<groups>
				<paypal_payments>
					<payflow_advanced>
						<fields>
							<required_settings type="group" translate="label comment">
								<fields>
									<express type="group" translate="label">
										<fields>
											<api_wizard translate="button_label sandbox_button_label">
												<button_url><![CDATA[https://www.paypal.com/br/cgi-bin/webscr?cmd=_login-api-run]]></button_url>
												<sandbox_button_url><![CDATA[https://www.sandbox.paypal.com/br/cgi-bin/webscr?cmd=_login-api-run]]></sandbox_button_url>
											</api_wizard>
										</fields>
									</express>
									<settings_payments_advanced>
										<settings_express_checkout>
											<fields>
												<settings_express_checkout_advanced>
													<fields>
														<avoid_review_page translate="label tooltip comment">
															<label>Avoid Review Page</label>
															<frontend_type>select</frontend_type>
															<tooltip>This option allow customer to avoid review page when all information is provided from PayPal website.</tooltip>
															<config_path>payment/paypal_express/avoid_review_page</config_path>
															<source_model>adminhtml/system_config_source_yesno</source_model>
															<sort_order>55</sort_order>
															<show_in_default>1</show_in_default>
															<show_in_website>1</show_in_website>
															<show_in_store>1</show_in_store>
															<depends><transfer_shipping_options>1</transfer_shipping_options></depends>
															<shared>1</shared>
														</avoid_review_page>
													</fields>
												</settings_express_checkout_advanced>
											</fields>
										</settings_express_checkout>
									</settings_payments_advanced>
								</fields>
							</required_settings>
						</fields>
					</payflow_advanced>
					<express_checkout>
						<fields>
							<settings_ec>
								<fields>
									<settings_ec_advanced>
										<fields>
											<avoid_review_page extends="//paypal_payments/payflow_advanced//settings_express_checkout//avoid_review_page" />
										</fields>
									</settings_ec_advanced>
								</fields>
							</settings_ec>
						</fields>
					</express_checkout>
				</paypal_payments>
			</groups>
		</payment>
	</sections>
</config>
