<?xml version="1.0"?>
<config>
  <modules>
    <Rjs_Flatrate>
      <version>0.0.1</version>      
    </Rjs_Flatrate>
  </modules>
    <global>
       <models>
          <shipping>
              <rewrite>
                  <carrier_flatrate>Rjs_Shipping_Model_Carrier_Flatrate</carrier_flatrate>                  
              </rewrite>
          </shipping>          
       </models>
    </global>
</config>
