<?xml version="1.0" encoding="utf-8" ?>

<config>
  <modules>
    <Intelipost_Basic>
      <version>2.6.2</version>
    </Intelipost_Basic>
  </modules>
  <global>
    <helpers>
      <basic>
        <class>Intelipost_Basic_Helper</class>
      </basic>
    </helpers>
    <blocks>
      <basic>
        <class>Intelipost_Basic_Block</class>
      </basic>      
    </blocks>
    <models>
      <basic>
        <class>Intelipost_Basic_Model</class>
        <resourceModel>basic_mysql4</resourceModel>
      </basic>
      <basic_mysql4>
        <class>Intelipost_Basic_Model_Mysql4</class>
        <entities>
            <orders>
                <table>intelipost_basic_orders</table>
            </orders>
            <nfes>
                <table>intelipost_basic_nfes</table>
            </nfes>
            <trackings>
                <table>intelipost_basic_trackings</table>
            </trackings>
            <methods>
                <table>intelipost_basic_methods</table>
            </methods>
        </entities>
      </basic_mysql4>
    </models>
    <resources>
      <basic_setup>
        <setup>
          <module>Intelipost_Basic</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </basic_setup>
      <basic_write>
        <connection>
          <use>core_write</use>
        </connection>
      </basic_write>
      <basic_read>
        <connection>
          <use>core_read</use>
        </connection>
      </basic_read>
    </resources>
    <events>
        <sales_order_save_commit_after>
            <observers>
                <intelipost_basic_order_save_after>
                    <class>Intelipost_Basic_Model_Observer</class>
                    <method>saveOrderAfter</method>
                </intelipost_basic_order_save_after>
            </observers>
        </sales_order_save_commit_after>

        <core_block_abstract_to_html_before>
            <observers>
                <intelipost_basic_to_html_before>
                    <class>Intelipost_Basic_Model_Observer</class>
                    <method>orderViewPageButton</method>
                </intelipost_basic_to_html_before>
            </observers>
        </core_block_abstract_to_html_before>
        <!--<model_config_data_save_before>
            <observers>
                <intelipost_save_config>
                    <class>Intelipost_Basic_Model_Observer</class>
                    <method>saveModuleConfig</method>
                </intelipost_save_config>
            </observers>
        </model_config_data_save_before>-->
    </events>
  </global>
  <!--<admin>
    <routers>
      <adminhtml>
				<args>
					<modules>
						<basic before="Mage_Adminhtml">Intelipost_Basic_Adminhtml</basic>
					</modules>
				</args>
			</adminhtml>
    </routers>
  </admin>-->
    <frontend>
        <translate>
            <modules>
                <Intelipost_Basic>
                    <files>
                        <default>Intelipost_Basic.csv</default>
                    </files>
                </Intelipost_Basic>
            </modules>
        </translate>
        <layout>
            <updates>
                <basic>
                    <file>intelipost/basic.xml</file>
                </basic>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Intelipost_Basic>
                    <files>
                        <default>Intelipost_Basic.csv</default>
                    </files>
                </Intelipost_Basic>
            </modules>
        </translate>
        <layout>
            <updates>
                <basic>
                    <file>intelipost/basic.xml</file>
                </basic>
            </updates>
        </layout>

        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <intelipost_observer>
                        <class>Intelipost_Basic_Model_Observer</class>
                        <method>prepareLayoutAfter</method>
                    </intelipost_observer>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>

    <default>
        <intelipost_basic>
            <settings>
                <active>1</active>
                <apiurl>https://api.intelipost.com.br/api/v1/</apiurl>
                <apikey></apikey>
                <api_ssl>1</api_ssl>
                <zipcode></zipcode>
                <products_nature></products_nature>
                <weight_unit>kg</weight_unit>
                <advanced_vol_calc>0</advanced_vol_calc>
                <icms_tax_exempt>0</icms_tax_exempt>
            </settings>
            <product_attributes>
                <average_weight>1</average_weight>
                <width></width>
                <height></height>
                <length></length>
                <default_width></default_width>
                <default_height></default_height>
                <default_length></default_length>
            </product_attributes>   
            <box>
                <default_width></default_width>
                <default_height></default_height>
                <default_length></default_length>
                <default_weight></default_weight>
            </box>         
        </intelipost_basic>
    </default>
</config>