<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<Av5_Exporter>
			<version>0.1.0</version>
		</Av5_Exporter>
	</modules>
	<global>
		<models>
            <av5_exporter>
                <class>Av5_Exporter_Model</class>
            </av5_exporter>
        </models>
        <helpers>
            <av5_exporter>
                <class>Av5_Exporter_Helper</class>
            </av5_exporter>
        </helpers>
        <resources>
			<connection>
				<use>core_setup</use>
			</connection>
		</resources>
	</global>
	<frontend>
        <routers>
		    <av5_exporter>
				<use>standard</use>
				<args>
					<module>Av5_Exporter</module>
					<frontName>exportador</frontName>
				</args>
		    </av5_exporter>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <av5_exporter module="av5_exporter" translate="title">
	                                        <title>Exportador de Produtos</title>
	                                    </av5_exporter>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
    	<events>
			<adminhtml_catalog_product_grid_prepare_massaction>
				<observers>
					<add_massaction_products_grid>
						<class>av5_exporter/observer</class>
						<method>addProductsMassaction</method>
					</add_massaction_products_grid>
				</observers>
			</adminhtml_catalog_product_grid_prepare_massaction>
		</events>
	</adminhtml>
	<default>
        <av5_exporter>
            <settings>
            	<enabled>1</enabled>
            	<interval>1</interval>
            </settings>
		</av5_exporter>
	</default>
</config>