<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<Av5_Avisopagamento>
			<version>0.1.0</version>
		</Av5_Avisopagamento>
	</modules>
	<global>
		<helpers>
            <av5avisopagamento>
                <class>Av5_Avisopagamento_Helper</class>
            </av5avisopagamento>
        </helpers>
		<models>
            <av5avisopagamento>
                <class>Av5_Avisopagamento_Model</class>
        		<resourceModel>av5avisopagamento_mysql4</resourceModel>
			</av5avisopagamento>
			<av5avisopagamento_mysql4>
				<class>Av5_Avisopagamento_Model_Mysql4</class>
				<entities>
		  			<pagwarnlog>
						<table>av5_pagwarn_log</table>
					</pagwarnlog>
				</entities>
	      	</av5avisopagamento_mysql4>
    	</models>
    	<resources>
            <av5avisopagamento_setup>
                <setup>
                    <module>Av5_Avisopagamento</module>
                </setup>
                <connection>
		        	<use>core_setup</use>
		        </connection>
	            <av5avisopagamento_write>
	                <connection>
	                    <use>core_write</use>
	                </connection>
	            </av5avisopagamento_write>
	            <av5avisopagamento_read>
	                <connection>
	                    <use>core_read</use>
	                </connection>
	            </av5avisopagamento_read>
            </av5avisopagamento_setup>
        </resources>
		<template>
            <email>
                <av5avisopagamento>
                    <label>Aviso de Pagamento de Pedido</label>
                    <file>sales/aviso_pagamento.html</file>
                    <type>html</type>
                </av5avisopagamento>
            </email>
        </template>
	</global>
	<frontend>
        <routers>
		    <av5avisopagamento>
				<use>standard</use>
				<args>
					<module>Av5_Avisopagamento</module>
					<frontName>av5avisopagamento</frontName>
				</args>
		    </av5avisopagamento>
		</routers>
	</frontend>
	<crontab>
    	<jobs>
    		<av5avisopagamento_updater>
    			<schedule>
    				<cron_expr>*/5 * * * *</cron_expr>
    			</schedule>
    			<run>
    				<model>av5avisopagamento/updater::update</model>
    			</run>
    		</av5avisopagamento_updater>
    	</jobs>
    </crontab>
    <adminhtml>
	    <acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <av5avisopagamento translate="title" module="av5avisopagamento">
	                                        <title>AV5 Email de Pagamento</title>
	                                    </av5avisopagamento>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
	</adminhtml>
</config>