<?xml version="1.0"?>
<config>
    <modules>
        <Flowecommerce_tradeparpricecompare>
            <version>0.1.0</version>
        </Flowecommerce_tradeparpricecompare>
    </modules>
	<frontend> 
        <routers>
            <tradeparpricecompare>
                <use>standard</use>
                <args>
                    <module>Flowecommerce_tradeparpricecompare</module>
                    <frontName>tradeparpricecompare</frontName>
                </args>
            </tradeparpricecompare>
        </routers>
	</frontend>
    <global>
        <models>
            <tradeparpricecompare>
                <class>Flowecommerce_tradeparpricecompare_Model</class>
            </tradeparpricecompare>
        </models>
		<resources>
			<tradeparpricecompare_setup>
				<setup>
					<module>Flowecommerce_tradeparpricecompare</module>
                    <class>Flowecommerce_tradeparpricecompare_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
    			</connection>
			</tradeparpricecompare_setup>
			<tradeparpricecompare_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</tradeparpricecompare_write>
			<tradeparpricecompare_read>
				<connection>
				  <use>core_read</use>
				</connection>
			</tradeparpricecompare_read>
        </resources>
    </global>
	<crontab>
        <jobs>
            <tradeparpricecompare_send_all>
                <schedule><cron_expr>0 5 * * *</cron_expr></schedule>
                <run><model>tradeparpricecompare/observer::sendProductTotradepar</model></run>
            </tradeparpricecompare_send_all>
        </jobs>
    </crontab>
</config>