<config>
    <sections>
        <rmointegrator translate="label" module="rmointegrator">
            <class>separator-top</class>
            <label>SkyHub</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <geral>
                    <label>Geral</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <debug_mode translate="label">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_mode>
                    </fields>
                </geral>
                <sale>
                    <label>Orders</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <order_webstore translate="label">
                            <label>Web Store</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rmointegrator/system_config_source_storeview</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_webstore>
                    </fields>
                </sale>
                <catalog>
                    <label>Catalog</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <catalog_webstore translate="label">
                            <label>Web Store</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rmointegrator/system_config_source_storeview</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </catalog_webstore>
                        <import_disabled translate="label">
                            <label>Exportar produtos desabilitados (disabled)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </import_disabled>
                        <export_configurable_without_variations translate="label">
                            <label>Exportar produtos configuráveis sem variações</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_configurable_without_variations>
                        <visibilities_to_export translate="label">
                            <label>Exportar produtos com as seguintes visiblidades:</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rmointegrator/system_config_source_visibility</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </visibilities_to_export>
                        <ean_attribute_code translate="label">
                            <label>Código do atributo código de barras</label>
                            <comment>Aqui deve ser preenchido o código (e não o nome) do atributo referente ao código de barras. Só é necessário preencher esse campo caso você trabalhe com produtos com variação</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ean_attribute_code>
                        <ncm_attribute_code translate="label">
                            <label>Código do atributo NCM</label>
                            <comment>Aqui deve ser preenchido o código (e não o nome) do atributo referente ao NCMs. Só é necessário preencher esse campo caso você trabalhe com produtos com variação</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ncm_attribute_code>
                        <length_attribute_code translate="label">
                            <label>Código do atributo comprimento</label>
                            <comment>Aqui deve ser preenchido o código (e não o nome) do atributo referente ao comprimento. Só é necessário preencher esse campo caso você trabalhe com produtos com variação</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </length_attribute_code>
                        <height_attribute_code translate="label">
                            <label>Código do atributo altura</label>
                            <comment>Aqui deve ser preenchido o código (e não o nome) do atributo referente à altura. Só é necessário preencher esse campo caso você trabalhe com produtos com variação</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </height_attribute_code>
                        <width_attribute_code translate="label">
                            <label>Código do atributo largura</label>
                            <comment>Aqui deve ser preenchido o código (e não o nome) do atributo referente à largura. Só é necessário preencher esse campo caso você trabalhe com produtos com variação</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </width_attribute_code>
                    </fields>
                </catalog>
            </groups>
        </rmointegrator>
    </sections>
</config>
