<?xml version="1.0"?>
<!--
  ~ Magmodules.eu - http://www.magmodules.eu
  ~
  ~ NOTICE OF LICENSE
  ~ This source file is subject to the Open Software License (OSL 3.0)
  ~ that is bundled with this package in the file LICENSE.txt.
  ~ It is also available through the world-wide-web at this URL:
  ~ http://opensource.org/licenses/osl-3.0.php
  ~ If you did not receive a copy of the license and are unable to
  ~ obtain it through the world-wide-web, please send an email
  ~ to info@magmodules.eu so we can send you a copy immediately.
  ~
  ~ @category      Magmodules
  ~ @package       Magmodules_Feedbackcompany
  ~ @author        Magmodules <info@magmodules.eu>
  ~ @copyright     Copyright (c) 2017 (http://www.magmodules.eu)
  ~ @license       http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  -->
<config>
    <modules>
        <Magmodules_Feedbackcompany>
            <version>1.5.6</version>
        </Magmodules_Feedbackcompany>
    </modules>
    <global>
        <models>
            <feedbackcompany>
                <class>Magmodules_Feedbackcompany_Model</class>
                <resourceModel>feedbackcompany_mysql4</resourceModel>
            </feedbackcompany>
            <feedbackcompany_mysql4>
                <class>Magmodules_Feedbackcompany_Model_Mysql4</class>
                <entities>
                    <reviews>
                        <table>feedbackcompany_reviews</table>
                    </reviews>
                    <stats>
                        <table>feedbackcompany_stats</table>
                    </stats>
                    <log>
                        <table>feedbackcompany_log</table>
                    </log>
                </entities>
            </feedbackcompany_mysql4>
            <review_resource>
                <rewrite>
                    <review>Magmodules_Feedbackcompany_Model_Resource_Review</review>
                </rewrite>
            </review_resource>
        </models>
        <resources>
            <feedbackcompany_setup>
                <setup>
                    <module>Magmodules_Feedbackcompany</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </feedbackcompany_setup>
            <feedbackcompany_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </feedbackcompany_write>
            <feedbackcompany_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </feedbackcompany_read>
        </resources>
        <helpers>
            <feedbackcompany>
                <class>Magmodules_Feedbackcompany_Helper</class>
            </feedbackcompany>
        </helpers>
        <blocks>
            <feedbackcompany>
                <class>Magmodules_Feedbackcompany_Block</class>
            </feedbackcompany>
        </blocks>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <feedbackcompany>
                        <type>singleton</type>
                        <class>feedbackcompany/observer</class>
                        <method>processFeedbackInvitationcallAfterShipment</method>
                    </feedbackcompany>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_save_commit_after>
                <observers>
                    <feedbackcompany>
                        <type>singleton</type>
                        <class>feedbackcompany/observer</class>
                        <method>processFeedbackInvitationcall</method>
                    </feedbackcompany>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <frontend>
        <routers>
            <feedbackcompany>
                <use>standard</use>
                <args>
                    <module>Magmodules_Feedbackcompany</module>
                    <frontName>feedbackcompany</frontName>
                </args>
            </feedbackcompany>
        </routers>
        <layout>
            <updates>
                <feedbackcompany>
                    <file>magmodules_feedbackcompany.xml</file>
                </feedbackcompany>
            </updates>
        </layout>
        <translate>
            <modules>
                <magmodules_feedbackcompany>
                    <files>
                        <default>Magmodules_Feedbackcompany.csv</default>
                    </files>
                </magmodules_feedbackcompany>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magmodules_feedbackcompany>
                    <file>magmodules_feedbackcompany.xml</file>
                </magmodules_feedbackcompany>
            </updates>
        </layout>
        <translate>
            <modules>
                <magmodules_feedbackcompany>
                    <files>
                        <default>Magmodules_Feedbackcompany.csv</default>
                    </files>
                </magmodules_feedbackcompany>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <magmodules_feedbackcompany_review_add_exportoption>
                        <class>Magmodules_Feedbackcompany_Model_Observer</class>
                        <method>addExportOption</method>
                    </magmodules_feedbackcompany_review_add_exportoption>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magmodules_feedbackcompany after="Mage_Adminhtml">Magmodules_Feedbackcompany_Adminhtml</magmodules_feedbackcompany>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <magmodules_feedbackcompany_stats>
                <schedule>
                    <config_path>feedbackcompany/reviews/cron_stats</config_path>
                </schedule>
                <run>
                    <model>feedbackcompany/observer::processStats</model>
                </run>
            </magmodules_feedbackcompany_stats>
            <magmodules_feedbackcompany_reviews>
                <schedule>
                    <config_path>feedbackcompany/reviews/cron_reviews</config_path>
                </schedule>
                <run>
                    <model>feedbackcompany/observer::processReviews</model>
                </run>
            </magmodules_feedbackcompany_reviews>
            <magmodules_feedbackcompany_productreviews>
                <schedule>
                    <config_path>feedbackcompany/productreviews/cron_productreviews</config_path>
                </schedule>
                <run>
                    <model>feedbackcompany/observer::processProductreviews</model>
                </run>
            </magmodules_feedbackcompany_productreviews>
            <magmodules_feedbackcompany_reviewhistory>
                <schedule>
                    <config_path>feedbackcompany/reviews/cron_all</config_path>
                </schedule>
                <run>
                    <model>feedbackcompany/observer::processHistory</model>
                </run>
            </magmodules_feedbackcompany_reviewhistory>
            <magmodules_feedbackcompany_cleanlog>
                <schedule>
                    <cron_expr>0 02 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedbackcompany/observer::cleanLog</model>
                </run>
            </magmodules_feedbackcompany_cleanlog>
        </jobs>
    </crontab>
    <default>
        <feedbackcompany>
            <general>
                <enabled>0</enabled>
            </general>
            <reviews>
                <cron>0</cron>
                <cron_stats>* * * * *</cron_stats>
                <cron_reviews>0 8,20 * * *</cron_reviews>
                <cron_all>0 2 1 * *</cron_all>
            </reviews>
            <sidebar>
                <left>0</left>
                <left_qty>3</left_qty>
                <left_lenght>150</left_lenght>
                <left_link>external</left_link>
                <right>0</right>
                <right_qty>3</right_qty>
                <right_lenght>150</right_lenght>
                <right_link>external</right_link>
            </sidebar>
            <block>
                <sidebar>0</sidebar>
                <sidebar_qty>3</sidebar_qty>
                <sidebar_lenght>150</sidebar_lenght>
                <sidebar_link>external</sidebar_link>
                <sidebar_snippets>0</sidebar_snippets>
                <small>0</small>
                <small_stars>1</small_stars>
                <small_link>external</small_link>
                <medium>0</medium>
                <medium_stars>1</medium_stars>
                <medium_link>external</medium_link>
                <medium_lenght>150</medium_lenght>
            </block>
            <overview>
                <enabled>1</enabled>
                <enable_paging>1</enable_paging>
                <paging_settings>10,20,30</paging_settings>
                <meta_title>The Feedback Company Reviews</meta_title>
                <meta_description>The Feedbackcompany Reviews overview page</meta_description>
                <meta_keywords>reviews,feedbackcompany</meta_keywords>
            </overview>
            <invitation>
                <enabled>0</enabled>
                <status>complete</status>
                <delay>5</delay>
                <backlog>20</backlog>
                <remind_delay>0</remind_delay>
                <resend>1</resend>
                <productreviews>0</productreviews>
                <productreviews_text><![CDATA[Write a review about {{name}}]]></productreviews_text>
                <min_order_total>0</min_order_total>
                <exclude_category>0</exclude_category>
            </invitation>
            <frontend>
                <enabled>0</enabled>
                <tooltip>0</tooltip>
                <sidebar_position>left</sidebar_position>
                <sidebar_height>120</sidebar_height>
            </frontend>
            <log>
                <enabled>1</enabled>
                <clean>1</clean>
                <clean_days>14</clean_days>
            </log>
        </feedbackcompany>
    </default>
</config>