<?xml version="1.0"?>
<config>
    <modules>
        <EGBR_Feeds>
            <version>0.2.0</version>
        </EGBR_Feeds>
    </modules>
    <frontend> 
        <routers>
            <feeds>
                <use>standard</use>
                <args>
                    <module>EGBR_Feeds</module>
                    <frontName>feeds</frontName>
                </args>
            </feeds>
        </routers>
    </frontend>
    <global>
        <models>
            <feeds>
                <class>EGBR_Feeds_Model</class>
            </feeds>
        </models>
        <resources>
            <feeds_setup>
                <setup>
                    <module>EGBR_Feeds</module>
                    <class>EGBR_Feeds_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </feeds_setup>
            <feeds_read>
                <connection>
                    <use>core_read</use> 
                </connection>
            </feeds_read>
        </resources>
    </global>
    <!--
    <crontab>
        <jobs>
            <feeds_send_all>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feeds/cliquefarma::tocliquefarma</model>
                </run>
            </feeds_send_all>
            <feeds_send_all>
                <schedule>
                    <cron_expr>0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feeds/multifarmas::tomultifarmas</model>
                </run>
            </feeds_send_all>
            <feeds_send_all>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feeds/zoomfeed::zoomfeed</model>
                </run>
            </feeds_send_all>
        </jobs>
    </crontab>
    -->
</config>