<?xml version="1.0"?>
<config>
    <tabs>
        <av5>
            <label>AV5</label>
            <sort_order>200</sort_order>
        </av5>
    </tabs>
    <sections>
        <av5_ordershipment translate="label" module="av5_ordershipment">
            <label>Entregas de Pedidos</label>
            <tab>av5</tab>
            <frontend_type>text</frontend_type>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <comment>
                <![CDATA[ <div style="background: #FFF; border: 1px solid #4096ee;">
            	<img src="http://www.av5.com.br/logo-modulos.png" style="float: left;" />
                <div style="padding:10px;float: left;text-align: left">
                <a href="http://www.av5.com.br" target="_blank"><b>AV5 Tecnologia</b></a> em desenvolvimento de módulos Magento.<br />
                Para obter suporte a este módulo visite: <a href="http://www.av5.com.br/importador/">Suporte AV5.OrderShipment</a>
                </div>
                <div class="clear"></div>
                </div> ]]>
            </comment>
            <groups>
                <general translate="label">
                    <label>Geral</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <separator>
                            <label>Separador</label>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>informe o caracter usado para separação de dados, exemplo: ;</comment>
                        </separator>
                        <block_size>
                            <label>Quantidade de registros</label>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Informe a quantidade de registros processadas por requisição</comment>
                        </block_size>
                    </fields>
                </general>
            </groups>
        </av5_ordershipment>
    </sections>
</config>
