<?xml version="1.0"?>
<config>
    <modules>
        <FarmaDelivery_LinkCheckout>
            <version>0.1.0</version>
        </FarmaDelivery_LinkCheckout>
    </modules>
    <global>
        <helpers>
            <fd_linkcheckout>
                <class>FarmaDelivery_LinkCheckout_Helper</class>
            </fd_linkcheckout>
        </helpers>
    </global>
</config>
