#ampromo-items-add {
  border: 1px solid #ededed;
  padding: 7px;
  text-align: center;
  margin-bottom: 12px;
}
#ampromo-items-add a {
  text-decoration: none;
  border-bottom: 1px dashed;
}
.amscheckout #ampromo-items-add {
  margin: 7px 10px;
}
#ampromo-overlay {
  direction: ltr;
}
#ampromo-overlay.mode-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 10000;
  text-align: center;
  overflow: scroll;
}
#ampromo-overlay.mode-popup .close {
  position: absolute;
  top: 7px;
  right: 7px;
  background: url(../../../images/amasty/ampromo/close_icon.png) no-repeat;
  width: 16px;
  height: 16px;
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: block;
  opacity: .8;
}
#ampromo-overlay.mode-popup .close:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}
#ampromo-overlay.mode-inline #ampromo-items {
  width: 100%;
  margin: 40px 0 0px;
  border: 0;
  padding: 0;
}
#ampromo-overlay.mode-inline #ampromo-items .products {
  margin: 0 -20px 25px;
  align-items: stretch;
}
#ampromo-overlay.mode-inline #ampromo-items .products .product {
  margin-bottom: 20px;
}
#ampromo-overlay.mode-inline #ampromo-items #ampromo-carousel-wrapper {
  margin: 0 -15px;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item {
  margin: 0 10px 20px;
  height: 100%;
  border-radius: 5px;
  border: none;
}
button.button.btn-cart.add {
  background: #1abc9c;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-border-radius: 6px 0;
  -moz-border-radius: 6px 0;
  width: 175px;
  height: 35px;
  border-radius: 6px 0;
  background-position: 30px !important;
  background-repeat: no-repeat !important;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .ampromo-items-form {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .ampromo-item-buttons {
  margin-top: 20px;
  text-align: center;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config .ampromo-item-options {
  margin-bottom: 0;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.options {
  display: flex;
  align-items: flex-start;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.options .ampromo-item-options {
  margin-left: 12px;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.options .ampromo-item-options,
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.options .ampromo-item-options input,
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.options .ampromo-item-options select {
  max-width: 160px;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.simple {
  margin: -20px -20px 0;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.simple .ampromo-item-image-wrap {
  padding: 20px 20px 0;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.simple .ampromo-item-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-title {
  position: relative;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-title .ampromo-item-title {
  padding: 12px;
  display: block;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-title h4 {
  color: #868a8e;
  line-height: initial;
  text-align: center;
  font-size: 15px;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-title h4 a {
  color: #868a8e;
  line-height: initial;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto", Arial, sans-serif;
}
#ampromo-carousel-content .slick-prev, .slick-prev:hover{
  left: 2px;
}
#ampromo-carousel-content .slick-next, .slick-next:hover{
  right: 25px;
}
#ampromo-overlay.mode-inline #ampromo-items .ampromo-add-all {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}
#ampromo-overlay .title-ampromo-header {
  text-align: center;
  border-bottom: 2px dashed #9d9d9d;
  padding: 0px 0 7px;
  color: #0a8d2b;
  text-transform: uppercase;
  font-weight: bold;
}
#ampromo-overlay .title-ampromo-header img{
  vertical-align: middle;
  max-width: 45px;
  margin-right: 10px;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
#ampromo-overlay.mode-inline .ampromo-slide {
  margin: 10px 0;
}
#ampromo-overlay.mode-inline #ampromo-carousel-content {
  display: flex;
  flex-wrap: wrap;
}
#ampromo-overlay .ampromo-carousel-control {
  position: absolute;
  top: 260px;
  background: url(../../../images/amasty/ampromo/buttons_next_prev.png) no-repeat;
  width: 48px;
  height: 45px;
  font-size: 0;
  display: none;
}
#ampromo-overlay .ampromo-carousel-control.carousel-disabled.prev {
  background-position: 0 0 !important;
}
#ampromo-overlay .ampromo-carousel-control.carousel-disabled.next {
  background-position: -46px 0 !important;
}
#ampromo-overlay .ampromo-carousel-control.prev {
  background-position: 0 -45px;
  left: 20px;
}
#ampromo-overlay .ampromo-carousel-control.prev:hover {
  background-position: 0 -91px;
}
#ampromo-overlay .ampromo-carousel-control.next {
  background-position: -46px -45px;
  right: 20px;
}
#ampromo-overlay .ampromo-carousel-control.next:hover {
  background-position: -46px -91px;
}
#ampromo-overlay #ampromo-items {
  border: 1px solid #ededed;
  background-color: white;
  position: relative;
  margin: 0 auto;
  padding: 24px;
  display: inline-block;
  box-sizing: border-box;
}
#ampromo-overlay #ampromo-items.amcarousel {
  display: block;
  width: 950px;
}
#ampromo-overlay #ampromo-items.amcarousel #ampromo-carousel-wrapper {
  width: 780px;
}
#ampromo-overlay #ampromo-items.amcarousel #ampromo-carousel-content {
  width: 4500px;
  height: 1px;
}
#ampromo-overlay #ampromo-items.amcarousel .ampromo-carousel-control {
  display: block;
}
#ampromo-overlay #ampromo-items .ampromo-item {
  box-sizing: border-box;
  margin-bottom: 7px;
  padding: 20px;
  width: 250px;
  border: 1px solid #ededed;
  position: relative;
  margin-right: 12px;
}
#ampromo-overlay #ampromo-items .ampromo-item.ampromo-type-amgiftcard {
  width: 400px;
}
#ampromo-overlay #ampromo-items .ampromo-item.ampromo-type-amgiftcard .ampromo-item-options {
  overflow-y: scroll;
  max-height: 300px;
}
#ampromo-overlay #ampromo-items .ampromo-item-options {
  margin-bottom: 12px;
  text-align: left;
}
#ampromo-overlay #ampromo-items .ampromo-item-image {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
}
#ampromo-overlay #ampromo-items .rule .ampromo-rule-header {
  font-weight: bold;
  font-size: 18px;
  background: #f3f3f3;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
  padding-left: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}
#ampromo-overlay #ampromo-items .rule .ampromo-rule-header:after {
  content: '▲';
  margin-left: 12px;
  color: #919191;
}
#ampromo-overlay #ampromo-items .rule .products {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 0 40px;
}
#ampromo-overlay #ampromo-items .rule .products .product {
  margin-left: 10px;
}
#ampromo-overlay #ampromo-items .rule .products .product .product-config.simple {
  margin: -20px -20px -40px;
}
#ampromo-overlay #ampromo-items .rule .products .product .product-config.simple .product-title {
  position: static;
}
#ampromo-overlay #ampromo-items .rule .products .product .product-config.simple .ampromo-item-image-wrap {
  padding: 20px;
}
#ampromo-overlay #ampromo-items .rule .products .product .ampromo-item {
  box-shadow: none;
  border: 1px solid #d8dae4;
  border-radius: 0;
}
#ampromo-overlay #ampromo-items .rule .products .product .ampromo-item.checked {
  outline: 1px solid #d8dae4;
}
#ampromo-overlay #ampromo-items .rule .products .product .ampromo-item .ampromo-item-title {
  border-radius: 0;
}
#ampromo-overlay #ampromo-items .rule .products .product .ampromo-item .mark input {
  position: absolute;
  left: -25px;
  top: 0;
}
#ampromo-overlay #ampromo-items .rule.collapsed .ampromo-rule-header:after {
  content: '▼';
}
#ampromo-overlay #ampromo-items .rule.collapsed .products {
  display: none;
}
@media only screen and (max-width: 767px) {
  .ampromo-item-buttons .button{
    box-shadow: none;
  }

  #ampromo-overlay.mode-inline #ampromo-items .ampromo-item{
    margin: -18px 10px 0px;
  }

  #ampromo-carousel-content .slick-prev::before {
    content: '';
    display: block;
    width: 35px;
    background: url(../images/seta_esquerda.png) no-repeat #FFCA1C 11px;
    background-size: 12px;
    height: 35px;
    border-radius: 5px 0;
    opacity: 1;
    margin-top: 64px;
    position: absolute;
    z-index: 4;
    margin-left: -12px;
  }

  #ampromo-carousel-content .slick-next::before {
    content: '';
    display: block;
    width: 35px;
    background: url(../images/seta_direita.png) no-repeat #FFCA1C 13px;
    background-size: 12px;
    height: 35px;
    border-radius: 5px 0;
    opacity: 1;
    margin-top: -125px;
    position: absolute;
    z-index: 4;
    margin-right: -12px;
    right: 0;
  }

  #ampromo-carousel-content .slick-prev, .slick-next{
    font-size: 0px;
    background-color: #fff;
    border: none;
  }

  #ampromo-overlay.mode-inline #ampromo-items .ampromo-item .ampromo-item-buttons{
    width: 312px;
  }

  .ampromo-item-buttons button.button.btn-cart.add{
    width: 300px;
  }

  #ampromo-overlay #ampromo-items .ampromo-item{
    width: 210px;
    padding: 10px;
  }

  #ampromo-overlay.mode-inline #ampromo-items #ampromo-carousel-wrapper{
    margin: 0 0px;
    padding: 15px;
  }

  #ampromo-overlay #ampromo-items .ampromo-item-image{
    width: 110px;
    height: 110px;
  }

  #ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-config.simple .ampromo-item-image-wrap{
    float: left;
  }

  #ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-title .ampromo-item-title{
    display: flex;
  }

  #ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-title{
    width: 320px;
  }

  #ampromo-overlay.mode-inline #ampromo-items .ampromo-item .product-title h4{
    margin-top: 33px;
    margin-left: -31px;
  }
}
@media only screen and (max-width: 820px) and (min-width: 420px) {
  #ampromo-overlay.mode-popup #ampromo-items.amcarousel {
    width: 400px;
  }
  #ampromo-overlay.mode-popup #ampromo-items.amcarousel #ampromo-carousel-wrapper {
    width: 250px;
  }
}
@media only screen and (max-width: 420px) {
  #ampromo-overlay.mode-popup #ampromo-items.amcarousel {
    width: 100%;
  }
  #ampromo-overlay.mode-popup #ampromo-items.amcarousel #ampromo-carousel-wrapper {
    width: 250px;
  }
  #ampromo-overlay.mode-popup .ampromo-carousel-control {
    z-index: 10001;
  }
  #ampromo-overlay.mode-popup .ampromo-carousel-control.next {
    right: 0;
  }
  #ampromo-overlay.mode-popup .ampromo-carousel-control.prev {
    left: 0;
  }
}
@media only screen and (max-width: 340px) {
  #ampromo-overlay.mode-popup #ampromo-items .ampromo-item {
    border: none;
  }
}
@media only screen and (max-height: 500px) {
  #ampromo-overlay.mode-popup #ampromo-items {
    padding-top: 0;
  }
  #ampromo-overlay.mode-popup #ampromo-items.amcarousel {
    top: 0 !important;
    height: 100%;
  }
  #ampromo-overlay.mode-popup #ampromo-items > h4 {
    display: none;
  }
}
#ampromo-carousel-wrapper {
  overflow: hidden;
  margin: 0 auto;
}
#ampromo-carousel-content .ampromo-slide {
  float: left;
}
.ampromo-item .qty-holder {
  display: none;
}
.ampromo-item .giftcard-send-form {
  padding: 0;
  margin: 0;
}
.ampromo-item-options select,
.ampromo-item-options input {
  max-width: 210px;
}
.ampromo-notification {
  padding: 7px;
  text-align: center;
  margin-bottom: 12px;
  border: 1px solid #f16048;
  color: #df280a;
  background: #faebe7;
}
.ampromo-items-form h4 {
  line-height: 50px;
}
.ampromo-items-form h4 a {
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
}
.ampromo-label {
  float: right;
  position: absolute;
  z-index: 500;
}
.ampromo-gift .product-image {
  float: left;
}
.ampromo-gift li {
  margin: 10px 10px;
  float: left;
}
.ampromo-tooltip {
  padding: 2px 5px;
  background: #FEC;
  border: 1px solid #FAA819;
  color: #1F5070;
  text-align: left;
  width: 300px;
  position: absolute;
  z-index: 10001;
}
.ampromo-product-name {
  font-weight: bold;
}

.calendar {
  z-index:10001;
}
