/*
.links {
	background: #00c89f;
}

.header {
	background: #00dec3;
}
*/

.header div.logo {
	padding: 0;
	height: 110px;
}
.header div.logo h1 {
	margin: 0;
	padding: 0;
}
.header div.logo a {
	display: block;
	width: 320px;
	height: 82px;
	margin: 42px 0 0 64px;
}
.header div.logo img {
	display: block;
	width: 100%;
	height: auto;
}

.header.header-fixed  div.logo {
	padding: 0 !important;
	margin: 0 !important;
	height: 69px;
}

.header.header-fixed  div.logo a {
	width: 200px;
	height: 52px;
	margin: 10px 0 0 0;
}


.customer-account-create .header .logo,
.checkout-onepage-index .header .logo,
.customer-account-login .header .logo {
    background: none;
    margin: 11px 0 0 0 !important;
    padding: 0 !important;
    height: auto !important;
}

.customer-account-create .header .logo a,
.checkout-onepage-index .header .logo a,
.customer-account-login .header .logo a {
    width: 200px;
    height: 52px;
    margin: 0;
}



.header .quick-access {
    margin-left: 334px !important;
}

.header .form-search input.input-text {
    width: 357px;
}

.account-wrapper {
    margin: 25px 0 0 41px;
}
.account-cart-wrapper {
	margin: 25px 0 0 31px;
}

.footer-session2 {
	height: 220px;
}

.footer-session2 .coluna4 li, .footer-session2 .coluna5 li {
	color: #333;
}