<?xml version="1.0"?>
<config>
    <modules>
        <EGBR_Zhao>
            <version>0.1.0</version>
        </EGBR_Zhao>
    </modules>
	<frontend> 
        <routers>
            <zhao>
                <use>standard</use>
                <args>
                    <module>EGBR_Zhao</module>
                    <frontName>zhao</frontName>
                </args>
            </zhao>
        </routers>
	</frontend>
    <global>
        <models>
            <zhao>
                <class>EGBR_Zhao_Model</class>
            </zhao>
        </models>
		<resources>
			<zhao_setup>
				<setup>
					<module>EGBR_Zhao</module>
                    <class>EGBR_Zhao_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
    			</connection>
			</zhao_setup>
			<zhao_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</zhao_write>
			<zhao_read>
				<connection>
				  <use>core_read</use>
				</connection>
			</zhao_read>
        </resources>
    </global>
	<crontab>
        <jobs>
            <zhao_send_all>
                <schedule><cron_expr>0 5 * * *</cron_expr></schedule>
                <run><model>zhao/observer::sendProductTozhao</model></run>
            </zhao_send_all>
        </jobs>
    </crontab>
</config>