.medicamentos-home {
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    padding: 24px 20px;
    width: 180px;
    margin: 15px auto;
    height: 80px;
}

.medicamentos-home:before {
    content: '';
    display: inline-block;
    background: url('../images/remedio.png')no-repeat;
    height: 45px;
    width: 45px;
    margin-top: -9px;
    position: absolute;
}

.mamaebebe-home {
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    padding: 24px 20px;
    width: 180px;
    margin: 15px auto;
    height: 80px;
}

.mamaebebe-home:before {
    content: '';
    display: inline-block;
    background: url('../images/maternidade.png')no-repeat;
    height: 50px;
    width: 45px;
    margin-top: -12px;
    position: absolute;
}

.small-cat-home-poupafarma .mamaebebe-home a {
    left: 50px;
    line-height: 1;
    top: 1px;
    width: 6em;
}

.perfumaria-home {
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    padding: 24px 20px;
    width: 180px;
    margin: 15px auto;
    height: 80px;

}

.perfumaria-home:before {
    content: '';
    display: inline-block;
    background: url('../images/perfumaria.png')no-repeat;
    height: 45px;
    width: 45px;
    margin-top: -10px;
    position: absolute;
}

.diabetes-home {
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    padding: 24px 20px;
    width: 180px;
    margin: 15px auto;
    height: 80px;
}

.diabetes-home:before {
    content: '';
    display: inline-block;
    background: url('../images/diabete.png')no-repeat;
    height: 45px;
    width: 45px;
    margin-top: -10px;
    margin-left: 3px;
    position: absolute;
}

.diabetes-home a {
    position: relative;
    top: 5px!important;
    left: 52px !important;
}

.small-cat-home-poupafarma a {
    text-decoration: none;
    color: #575757;
    font-size: 14px;
    /* padding-left: 70px; */
    /* display: inline-block; */
    position: relative;
    top: 4px;
    left: 53px;
}

.small-cat-home-poupafarma .perfumaria-home a {
    margin-top: -5px;
    line-height: 1;
}

.small-cat-home-poupafarma {
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 30px;
}

.small-cat-home-poupafarma div {
    display: flex;
    margin-bottom: -4px;
    margin: 5px;
}

.tarja-institucional-mobile img {
    max-width: 100%;
    margin-top: 30px;
}

.footer-session1 .mascote{
    background: url('../images/simbolomobile.png') no-repeat center center !important;
    width: 58% !important;
    margin-top: 0px;
}

img.logo-help-session {
    margin: 15px auto;
    display: block;
}

.footer-session1 {
    background: #ff2d2d !important;
}

#logo {
    margin: -47px 0 0 6px !important;
    width: 100% !important;
}


