<?xml version="1.0" encoding="utf-8" ?>

<config>
  <modules>
    <Intelipost_Tracking>
      <version>2.0.9</version>
    </Intelipost_Tracking>
  </modules>
  <global>
    <helpers>
      <tracking>
        <class>Intelipost_Tracking_Helper</class>
      </tracking>
    </helpers>
    <blocks>
      <tracking>
        <class>Intelipost_Tracking_Block</class>
      </tracking>
    </blocks>
    <models>
      <tracking>
        <class>Intelipost_Tracking_Model</class>
        <resourceModel>tracking_mysql4</resourceModel>
      </tracking>
      <tracking_mysql4>
        <class>Intelipost_Tracking_Model_Mysql4</class>
      </tracking_mysql4>
    </models>
    <resources>
      <tracking_setup>
        <setup>
          <module>Intelipost_Tracking</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </tracking_setup>
      <tracking_write>
        <connection>
          <use>core_write</use>
        </connection>
      </tracking_write>
      <tracking_read>
        <connection>
          <use>core_read</use>
        </connection>
      </tracking_read>
    </resources>
  </global>    
  <!--<admin>
    <routers>
      <tracking>
        <use>admin</use>
        <args>
          <module>Intelipost_Tracking</module>
          <frontName>tracking</frontName>
        </args>
      </tracking>
    </routers>
  </admin>-->
    <frontend>
        <translate>
            <modules>
                <Intelipost_Tracking>
                    <files>
                        <default>Intelipost_Tracking.csv</default>
                    </files>
                </Intelipost_Tracking>
            </modules>
        </translate>
        <layout>
            <updates>
                <tracking>
                    <file>intelipost/tracking.xml</file>
                </tracking>
            </updates>
        </layout>

        <routers>
            <tracking>
                <use>standard</use>
                <args>
                    <module>Intelipost_Tracking</module>
                    <frontName>tracking</frontName>
                </args>
            </tracking>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Intelipost_Tracking>
                    <files>
                        <default>Intelipost_Tracking.csv</default>
                    </files>
                </Intelipost_Tracking>
            </modules>
        </translate>
        <layout>
            <updates>
                <tracking>
                    <file>intelipost/tracking.xml</file>
                </tracking>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <intelipost_tracking>
            <settings>
                <active>1</active>                
            </settings>
            <order_statuses>
                <delivered></delivered>
                <in_transit></in_transit>
                <occurrence></occurrence>
            </order_statuses>
            <info>
                <url>https://status.intelipost.com.br/tracking/</url>
            </info>
        </intelipost_tracking>
        <carriers>
            <tracking>
                <active>1</active>
                <model>tracking/carrier_tracking</model>
                <name>Tracking</name>
                <title>Intelipost Tracking</title>
                <description>Intelipost Tracking</description>
            </tracking>
        </carriers>
    </default>
</config>

