<?xml version="1.0" encoding="utf-8" ?>

<config>
	  <sections>
		<intelipost_tracking translate="label" module="tracking">                    
		    <label>Tracking</label>
		    <tab>intelipost</tab>
		    <frontend_type>text</frontend_type>
		    <sort_order>5</sort_order>
		    <show_in_default>1</show_in_default>
		    <show_in_website>1</show_in_website>
		    <show_in_store>1</show_in_store>            
			<groups>
                <about_us>
                    <frontend_model>tracking/about</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </about_us>
		      <settings translate="label"> 
			  <label>Settings</label>
			  <frontend_type>text</frontend_type>
			  <sort_order>1</sort_order>
			  <show_in_default>1</show_in_default>
			  <show_in_website>1</show_in_website>
			  <show_in_store>1</show_in_store>
		       <fields>
                   <active translate="label">
                    <label>Active</label>
					<frontend_type>select</frontend_type>
                    <source_model>adminhtml/system_config_source_yesno</source_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>Active</comment>
                  </active>
                </fields>
                </settings>
		      <webhook translate="label"> 
			  <label>Webhook Configuration</label>
			  <frontend_type>text</frontend_type>
			  <sort_order>2</sort_order>
			  <show_in_default>1</show_in_default>
			  <show_in_website>1</show_in_website>
			  <show_in_store>1</show_in_store>
		       <fields>
                    <active translate="label">
                        <label>Active</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <comment>Active</comment>
                    </active>
                    <save_comments translate="label">
                        <label>Save tracking data in order details?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </save_comments>
                    <show_frontend_comments>
                        <label>Show tracking comments on frontend?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>11</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><save_comments>1</save_comments></depends>
                    </show_frontend_comments>
                    <frontend_comment_options>
                        <label>Frontend comments options</label>
                        <frontend_type>multiselect</frontend_type>
                        <source_model>tracking/config_comments_options</source_model>
                        <sort_order>12</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><show_frontend_comments>1</show_frontend_comments></depends>
                        <comment>If choosed order option, comment could be duplicated ate admin view.</comment>
                    </frontend_comment_options>
                    <tacking_pre_dispatch>
                        <label>Tracking pre dispatch events?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>13</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </tacking_pre_dispatch>
                    <new translate="label">
                        <label>New Intelipost Ship Order</label>
                        <frontend_type>select</frontend_type>
                        <source_model>tracking/config_order_status</source_model>
                        <sort_order>15</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><tacking_pre_dispatch>1</tacking_pre_dispatch></depends>
                        <comment>Ship Order Created at Intelipost</comment>
                    </new>                    
                    <ready_for_shipping translate="label">
                        <label>Ready for Shipping at Intelipost</label>
                        <frontend_type>select</frontend_type>
                        <source_model>tracking/config_order_status</source_model>
                        <sort_order>16</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><tacking_pre_dispatch>1</tacking_pre_dispatch></depends>
                        <comment>Ready for Shipping at Intelipost</comment>
                    </ready_for_shipping>
                    <shipped translate="label">
                        <label>Shipped at Intelipost</label>
                        <frontend_type>select</frontend_type>
                        <source_model>tracking/config_order_status</source_model>
                        <sort_order>17</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><tacking_pre_dispatch>1</tacking_pre_dispatch></depends>
                        <comment>Shipped at Intelipost</comment>
                    </shipped>
                    <tacking_post_dispatch translate="label">
                        <label>Tracking post dispatch events?</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>18</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </tacking_post_dispatch>
                    <to_be_delivered translate="label">
                        <label>To be Delivered</label>
                        <frontend_type>select</frontend_type>
                        <source_model>tracking/config_order_status</source_model>
                        <sort_order>20</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><tacking_post_dispatch>1</tacking_post_dispatch></depends>
                        <comment>To be Delivered</comment>
                    </to_be_delivered>                   
                    <in_transit translate="label">
                        <label>In transit</label>
    					<frontend_type>select</frontend_type>
                        <source_model>tracking/config_order_status</source_model>
                        <sort_order>30</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><tacking_post_dispatch>1</tacking_post_dispatch></depends>
    					<comment>In transit</comment>
                    </in_transit>
                    <delivered translate="label">
                        <label>Delivered</label>
                        <frontend_type>select</frontend_type>
                        <source_model>tracking/config_order_status</source_model>
                        <sort_order>40</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><tacking_post_dispatch>1</tacking_post_dispatch></depends>
                        <comment>Delivered</comment>
                    </delivered>
                    <delivery_late translate="label">
                        <label>Delivery Late</label>
                        <frontend_type>select</frontend_type>
                        <source_model>tracking/config_order_status</source_model>
                        <sort_order>50</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><tacking_post_dispatch>1</tacking_post_dispatch></depends>
                    </delivery_late>
                    <delivery_failed translate="label">
                        <label>Delivery Failed</label>
                        <frontend_type>select</frontend_type>
                        <source_model>tracking/config_order_status</source_model>
                        <sort_order>60</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <depends><tacking_post_dispatch>1</tacking_post_dispatch></depends>
                    </delivery_failed>
                   
                </fields>
                </webhook>
            </groups>
        </intelipost_tracking>

		<carriers  translate="label" module="tracking">            
		    <groups>
	          <tracking translate="label"> 
		      <label>Tracking</label>
		      <frontend_type>text</frontend_type>
		      <sort_order>1</sort_order>
		      <show_in_default>1</show_in_default>
		      <show_in_website>1</show_in_website>
		      <show_in_store>1</show_in_store>
		      <model>tracking/carrier_tracking</model>
	           <fields>                     
                <about_us>
                    <frontend_model>tracking/about</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </about_us>
	             <active translate="label">
                    <label>Enabled</label>
                    <frontend_type>select</frontend_type>
                    <source_model>adminhtml/system_config_source_yesno</source_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </active>
                <title translate="label">
                    <label>Title</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </title>
                <name translate="label">
                    <label>Method Name</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </name>
                <description translate="label">
                    <label>Description</label>
                    <frontend_type>textarea</frontend_type>
                    <sort_order>76</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </description>
                <sort_order translate="label">
                    <label>Sort Order</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>100</sort_order>
                </sort_order>
		       </fields>
		       </tracking>
		    </groups>
		</carriers>

	  </sections>
</config>

