<?xml version="1.0"?>
<!--
/**
 * AV5 Tecnologia
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL).
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Shipping (Frete)
 * @package    Av5_Correiospro
 * @copyright  Copyright (c) 2013 Av5 Tecnologia (http://www.av5.com.br)
 * @author     AV5 Tecnologia <anderson@av5.com.br>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Av5_Correiospro>
            <version>4.7.1</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </Av5_Correiospro>
    </modules>
    <global>
    	<sales>
            <quote>
                <item>
                    <product_attributes>
                        <volume_altura/>
                        <volume_comprimento/>
                        <volume_largura/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    	<models>
            <av5_correiospro>
                <class>Av5_Correiospro_Model</class>
        		<resourceModel>av5_correiospro_resource</resourceModel>
			</av5_correiospro>
			<av5_correiospro_resource>
				<class>Av5_Correiospro_Model_Mysql4</class>
				<deprecatedNode>av5_correiospro_mysql4</deprecatedNode>
				<entities>
		  			<price>
						<table>tabela_correiospro</table>
					</price>
					<location>
						<table>ceps_correiospro</table>
					</location>
					<promos>
						<table>promos_correiospro</table>
					</promos>
				</entities>
	      	</av5_correiospro_resource>
    	</models>
        <resources>
            <av5_correiospro_setup>
                <setup>
                    <module>Av5_Correiospro</module>
                </setup>
                <connection>
		        	<use>core_setup</use>
		        </connection>
	            <av5_correiospro_write>
	                <connection>
	                    <use>core_write</use>
	                </connection>
	            </av5_correiospro_write>
	            <av5_correiospro_read>
	                <connection>
	                    <use>core_read</use>
	                </connection>
	            </av5_correiospro_read>
            </av5_correiospro_setup>
        </resources>
        <blocks>
            <av5_correiospro>
                <class>Av5_Correiospro_Block</class>
            </av5_correiospro>
        </blocks>
        <helpers>
            <av5_correiospro>
                <class>Av5_Correiospro_Helper</class>
            </av5_correiospro>
        </helpers>
        <sales>
            <shipping>
                <carriers>
                    <av5_correiospro>
                        <class>Av5_Correiospro_Model_Carrier_CorreiosMethod</class>
                    </av5_correiospro>
                </carriers>
            </shipping>
        </sales>
    </global>

    <default>
        <carriers>
            <av5_correiospro>
                <!-- GENERAL -->
                <active>1</active>
                <model>Av5_Correiospro_Model_Carrier_CorreiosMethod</model>
                <title>Correios</title>
                <servicos>04014</servicos>
                <die_errors>1,2,3,4,5,33,34,35,36,37,38,888,7,99</die_errors>
                <show_delivery>0</show_delivery>
                <min_order_value>0</min_order_value>
                <max_order_value>10000</max_order_value>
                <maxweight>30</maxweight>
                <handling_fee>0</handling_fee>
                <ws_timeout>30</ws_timeout>

                <!-- OPTIONS -->
                <owner_hands>0</owner_hands>
                <received_warning>0</received_warning>
                <declared_value>0</declared_value>

                <!-- CONFIG -->
                <free_method>04510</free_method>
                <weight_type>kg</weight_type>
                <add_delivery_days>0</add_delivery_days>
                <showmethod>1</showmethod>
                <validate_dimensions>1</validate_dimensions>

                <!-- MESSAGES -->
                <msgprazo>%s - Em média %d dia(s)</msgprazo>
                <msgprazo_minmax>%s - De %d à %d dias úteis</msgprazo_minmax>
                <correioserror>Houve um erro inesperado, por favor entre em contato. %s</correioserror>
                <valueerror>Valor de compra fora do permitido pelos Correios. Por favor entre em contato conosco.</valueerror>
                <zipcodeerror>Por favor, corrija o CEP digitado, ele não está correto.</zipcodeerror>
                <zipemptyerror>Por favor, informe seu CEP para calcular o frete.</zipemptyerror>
                <maxweighterror>Peso dos produtos acima do permitido pelos Correios. Por favor entre em contato conosco.</maxweighterror>
                <weightzeroerror>Lojista: O peso do produto deverá ser maior que zero. Se você está usando a media de peso como gramas, o peso mínimo é de 10 gramas.</weightzeroerror>
                <coderror>Lojista: Para calcular esse serviço você precisa ter contrato com os Correios.</coderror>
                <dimensionerror>Dimensões dos produtos fora do permitido pelos Correios.</dimensionerror>

                <!-- SERVICES -->
                <serv_04014>
                	<name>Sedex</name>
                	<term>3</term>
                	<maxweight>30</maxweight>
                	<minweight>0.3</minweight>
                	<maxvalue>10000</maxvalue>
                </serv_04014>
                <serv_04154>
                    <name>Sedex</name>
                    <term>3</term>
                    <maxweight>30</maxweight>
                    <minweight>0.3</minweight>
                    <maxvalue>10000</maxvalue>
                </serv_04154>
                <serv_04162>
                    <name>Sedex</name>
                    <term>3</term>
                    <maxweight>30</maxweight>
                    <minweight>0.3</minweight>
                    <maxvalue>10000</maxvalue>
                </serv_04162>
                <serv_04553>
                	<name>Sedex</name>
                	<term>3</term>
                	<maxweight>30</maxweight>
                	<minweight>0.3</minweight>
                	<maxvalue>10000</maxvalue>
                </serv_04553>
                <serv_04510>
                	<name>PAC</name>
                	<term>3</term>
                	<maxweight>30</maxweight>
                	<minweight>0.5</minweight>
                	<maxvalue>3000</maxvalue>
                </serv_04510>
                <serv_04367>
                    <name>PAC</name>
                    <term>3</term>
                    <maxweight>30</maxweight>
                    <minweight>0.5</minweight>
                    <maxvalue>3000</maxvalue>
                </serv_04367>
                <serv_04596>
                    <name>PAC</name>
                    <term>3</term>
                    <maxweight>30</maxweight>
                    <minweight>0.5</minweight>
                    <maxvalue>3000</maxvalue>
                </serv_04596>
                <serv_04669>
                	<name>PAC</name>
                	<term>3</term>
                	<maxweight>30</maxweight>
                	<minweight>0.5</minweight>
                	<maxvalue>3000</maxvalue>
                </serv_04669>
                <serv_04618>
                    <name>PAC GF</name>
                    <term>3</term>
                    <maxweight>30</maxweight>
                    <minweight>0.5</minweight>
                    <maxvalue>3000</maxvalue>
                </serv_04618>
                <serv_04693>
                	<name>PAC GF</name>
                	<term>3</term>
                	<maxweight>30</maxweight>
                	<minweight>0.5</minweight>
                	<maxvalue>3000</maxvalue>
                </serv_04693>
                <serv_40215>
                	<name>Sedex 10</name>
                	<term>1</term>
                	<maxweight>10</maxweight>
                	<minweight>0.3</minweight>
                	<maxvalue>10000</maxvalue>
                </serv_40215>
                <serv_40169>
                    <name>Sedex 12</name>
                    <term>1</term>
                    <maxweight>10</maxweight>
                    <minweight>0.3</minweight>
                    <maxvalue>10000</maxvalue>
                </serv_40169>
                <serv_40290>
                	<name>Sedex HOJE</name>
                	<term>1</term>
                	<maxweight>10</maxweight>
                	<minweight>0.3</minweight>
                	<maxvalue>10000</maxvalue>
                </serv_40290>
                <serv_40045>
                	<name>Sedex a Cobrar</name>
                	<term>5</term>
                	<maxweight>30</maxweight>
                	<minweight>0.3</minweight>
                	<maxvalue>10000</maxvalue>
                </serv_40045>

                <pac_codes>04669,04510,04693</pac_codes>
                <acobrar_code>40045</acobrar_code>
                <contrato_codes>04162,04669,04693</contrato_codes>

                <delete_codes>008,-10,16,-3,-888</delete_codes>

                <!-- CUBIC WEIGHT VALIDATIONS -->
                <default_height>2</default_height>
                <default_width>16</default_width>
                <default_depth>11</default_depth>
                <cubic_validation>
                    <min_height>2</min_height>
                    <min_width>16</min_width>
                    <min_depth>11</min_depth>

                    <max_height>105</max_height>
                    <max_width>105</max_width>
                    <max_depth>105</max_depth>

                    <sum_max>200</sum_max>

                    <coefficient>6000</coefficient>
                </cubic_validation>

				<!-- WEBSERVICES -->
				<webservices>
					<price>
						<soap>http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx?WSDL</soap>
                        <url>http://ws.correios.com.br/calculador/CalcPrecoPrazo.aspx</url>
					</price>
					<tracking>
						<url>https://webservice.correios.com.br/service/rastro/Rastro.wsdl</url>
						<user>ECT</user>
						<pass>SRO</pass>
						<type>L</type>
						<result>T</result>
						<language>101</language>
					</tracking>
				</webservices>

				<!-- TRACKING MONITORING -->
				<tracking>
					<result>U</result>
					<notify>
						<type>BDE,BDI,BDR,FC,LDI,OEC</type>
						<bde>0,1,2,7,20,24,25,34,45,54,55</bde>
		                <bdi>0,1,2,7,20,24,25,34,45,54,55</bdi>
		                <bdr>0,1,2,7,20,24,25,34,45,54,55</bdr>
		                <fc>4,7</fc>
		                <ldi>0,1,2,3,14</ldi>
		                <oec>0,1</oec>
					</notify>
					<warn>
						<type>BDE,BDI,BDR,FC,LDI,OEC</type>
						<bde>3,4,5,6,7,8,9,10,12,19,21,22,23,26,28,33,34,35,36,37,38,40,41,42,43,48,49,50,51,52,54,55,56,57,58,59,69</bde>
		                <bdi>3,4,5,6,7,8,9,10,12,19,21,22,23,26,28,33,34,35,36,37,38,40,41,42,43,48,49,50,51,52,54,55,56,57,58,59,69</bdi>
		                <bdr>3,4,5,6,7,8,9,10,12,19,21,22,23,26,28,33,34,35,36,37,38,40,41,42,43,48,49,50,51,52,54,55,56,57,58,59,69</bdr>
		                <blq>1</blq>
		                <ldi>0,1,3,14</ldi>
		                <fc>1,4,5</fc>
		                <idc>1,2,3,4,5,6,7</idc>
					</warn>
					<last>
						<type>BDE,BDI,BDR</type>
						<bde>0,1</bde>
		                <bdi>0,1</bdi>
		                <bdr>0,1</bdr>
					</last>
                	<url>http://www2.correios.com.br/sistemas/rastreamento/resultado_semcontent.cfm</url>
                	<timeout>30</timeout>
                </tracking>

				<!-- UPDATER SETTINGS -->
                <update_frequency>15</update_frequency>
                <limit_records>200</limit_records>
            </av5_correiospro>
        </carriers>
    </default>
    <admin>
        <routers>
            <av5_correiospro>
                <use>admin</use>
                <args>
                    <module>Av5_Correiospro</module>
                    <frontName>av5_correiospro</frontName>
                </args>
            </av5_correiospro>
        </routers>
    </admin>
    <adminhtml>
    	<menu>
            <sales>
                <children>
                    <av5_correiospro_adminform translate="title" module="av5_correiospro">
                        <title>Atualiza Correios PRO</title>
                        <action>av5_correiospro/adminhtml_update</action>
                        <sort_order>1500</sort_order>
                    </av5_correiospro_adminform>
                </children>
            </sales>
            <promo>
                <children>
                    <av5_correiospro_formpromotion translate="title" module="av5_correiospro">
                        <title>Regras Correios</title>
                        <action>av5_correiospro/adminhtml_promotion</action>
                        <sort_order>1500</sort_order>
                    </av5_correiospro_formpromotion>
                </children>
            </promo>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <av5_correiospro_adminform>
                                    <title>Atualiza Correios PRO</title>
                                </av5_correiospro_adminform>
                            </children>
                        </sales>
                        <promo>
                            <children>
                                <av5_correiospro_formpromotion>
                                    <title>Regras Correios</title>
                                </av5_correiospro_formpromotion>
                            </children>
                        </promo>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <av5_correiospro>
                    <file>av5_correiospro.xml</file>
                </av5_correiospro>
            </updates>
        </layout>
    </adminhtml>
</config>
