<?xml version="1.0"?>
<!--
/**
 * AV5 Tecnologia
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL).
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Shipping (Frete)
 * @package    Av5_Correiospro
 * @copyright  Copyright (c) 2013 Av5 Tecnologia (http://www.av5.com.br)
 * @author     AV5 Tecnologia <anderson@av5.com.br>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <carriers>
            <groups>
                <av5_correiospro translate="label" module="av5_correiospro">
                    <label>Correios Offline PRO</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[ <div style="background: #FFF; border: 1px solid #4096ee;">
                    	<img src="http://www.av5.com.br/logo-modulos.png" style="float: left;" />
                        <div style="padding:10px;float: left;text-align: left">
                        <a href="http://www.av5.com.br" target="_blank"><b>AV5 Tecnologia</b></a> em desenvolvimento de módulos Magento.<br />
                        Para obter suporte a este módulo visite: <a href="http://www.av5.com.br/correios-offline/">Suporte AV5.Correios</a>
                        </div>
                        <div class="clear"></div>
                        </div> ]]>
                    </comment>
                    <fields>
                        <active translate="label">
                            <label>Habilitar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Nome de exibição</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <sort_order translate="label">
                            <label>Ordem de Exibição</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <general_page translate="label">
                            <label>Configurações Gerais</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </general_page>
                        <mode translate="label">
                            <label>Modo de Operação</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Av5_Correiospro_Model_Source_Modes</source_model>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Modo de operação do módulo.</comment>
                        </mode>
                        <posting_methods translate="label">
                            <label>Serviços Disponíveis</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Av5_Correiospro_Model_Source_PostingMethods</source_model>
                            <sort_order>102</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Serviços dos Correios disponíveis em sua loja.</comment>
                        </posting_methods>
                        <free_method translate="label">
                            <label>Serviço para frete grátis</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>free-method</frontend_class>
                            <source_model>Av5_Correiospro_Model_Source_PostingMethods</source_model>
                            <sort_order>103</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Escolha o serviço que deverá ser utilizado em conjunto com regras de frete grátis.</comment>
                        </free_method>
                        <weight_type translate="label">
                            <label>Medida de Peso</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Av5_Correiospro_Model_Source_WeightType</source_model>
                            <sort_order>104</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Medida padrão para peso dos produtos.</comment>
                        </weight_type>
                        <validate_dimensions translate="label">
                            <label>Validar dimensões (peso cúbico)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Valida as dimensões dos produtos para cálculo do peso cúbico]]></comment>
                        </validate_dimensions>
						<pack_partition translate="label">
                            <label>Particionar Pacotes</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>106</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pack_partition>
                        <show_delivery translate="label">
                            <label>Exibir Prazo de Entrega</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>107</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_delivery>
                        <showmethod translate="label">
                            <label>Mostrar método mesmo se não aplicável</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>108</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Se houver um erro ou o método não for aplicável naquela situação, mesmo assim mostrar as mensagens de erro?</comment>
                        </showmethod>
                        <validate_zipcode translate="label">
                            <label>Validar CEP</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>109</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Ao ativar essa opção apenas CEPs com 8 dígitos serão aceitos]]></comment>
                        </validate_zipcode>
                        <custom_names translate="label">
                            <label>Personalizar nomes dos serviços?</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>110</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Personalize os nomes dos serviços dos Correios</comment>
                        </custom_names>
                        <tracking_monitor translate="label">
                            <label>Ativar monitoramento de rastreio</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>111</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Necessário ter o cron configurado em seu servidor</comment>
                        </tracking_monitor>
                        <custom_names_page translate="label">
                            <label>Nomes Personalizados</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_names_page>
                        <custom_name_04014 translate="label">
                            <label>Sedex Sem Contrato (04014)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>201</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_name_04014>
                        <custom_name_04162 translate="label">
                            <label>Sedex Com Contrato (04162)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>203</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_name_04162>
                        <custom_name_04510 translate="label">
                            <label>PAC Sem Contrato (04510)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>208</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_name_04510>
                        <custom_name_04669 translate="label">
                            <label>PAC Com Contrato (04669)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_name_04669>
                        <custom_name_04618 translate="label">
                            <label>PAC GF (04618)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>211</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_name_04618>
                        <custom_name_04693 translate="label">
                            <label>PAC GF (04693)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>212</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <custom_names>1</custom_names>
                            </depends>
                        </custom_name_04693>
                        <custom_name_40215 translate="label">
                            <label>Sedex 10 (40215)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>213</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_name_40215>
                        <custom_name_40169 translate="label">
                            <label>Sedex 12 (40169)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>214</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <custom_names>1</custom_names>
                            </depends>
                        </custom_name_40169>
                        <custom_name_40290 translate="label">
                            <label>Sedex HOJE (40290)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>215</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_name_40290>
                        <custom_name_40045 translate="label">
                            <label>Sedex a Cobrar (40045)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>216</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<custom_names>1</custom_names>
	                        </depends>
                        </custom_name_40045>
                        <contract_page translate="label">
                            <label>Dados de Contrato</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </contract_page>
                        <login translate="label">
                            <label>Número do contrato com Correios</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>301</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Informe seu código administrativo junto aos Correios</comment>
                        </login>
                        <password translate="label">
                            <label>Senha do contrato com Correios</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>302</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>O padrão de senha são os 8 primeiros dígitos do CNPJ</comment>
                        </password>
                        <login_sro translate="label">
                            <label>Login para rastreamento</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>303</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Informe o login para o serviço de rastreamento fornecido pelos Correios.</comment>
                        </login_sro>
                        <password_sro translate="label">
                            <label>Senha para rastreamento</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>304</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Informe a senha para o serviço de rastreamento fornecida pelos Correios.</comment>
                        </password_sro>
                        <extras_page translate="label">
                            <label>Serviços Extras</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </extras_page>
                        <owner_hands translate="label">
                            <label>Mão Própria</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>401</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </owner_hands>
                        <received_warning translate="label">
                            <label>Aviso de Recebimento</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>402</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </received_warning>
                        <declared_value translate="label">
                            <label>Valor Declarado (Seguro)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>403</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </declared_value>
                        <handling_fee translate="label">
                            <label>Taxa de Postagem</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>404</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Essa taxa será adicionada ao valor do frete.</comment>
                        </handling_fee>
                        <dimensions_page translate="label">
                            <label>Validação de Dimensões</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<validate_dimensions>1</validate_dimensions>
	                        </depends>
                        </dimensions_page>
                        <default_height translate="label">
                            <label>Altura Padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>501</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<validate_dimensions>1</validate_dimensions>
	                        </depends>
                            <comment><![CDATA[Quando não configurada no produto será usada.<br />Mínimo de 2 cm.]]></comment>
                        </default_height>
                        <default_width translate="label">
                            <label>Comprimento Padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>502</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<validate_dimensions>1</validate_dimensions>
	                        </depends>
                            <comment><![CDATA[Quando não configurado no produto será usado.<br />Mínimo de 16 cm.]]></comment>
                        </default_width>
                        <default_depth translate="label">
                            <label>Largura Padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>503</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<validate_dimensions>1</validate_dimensions>
	                        </depends>
                            <comment><![CDATA[Quando não configurada no produto será usada.<br />Mínimo de 11 cm.]]></comment>
                        </default_depth>
                        <values_page translate="label">
                            <label>Valores</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </values_page>
                        <min_order_value translate="label">
                            <label>Valor Mínimo de Compra</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>601</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_order_value>
                        <max_order_value translate="label">
                            <label>Valor Máximo de Compra</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>602</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_order_value>
                        <delivery_page translate="label">
                            <label>Prazo de Entrega</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<show_delivery>1</show_delivery>
	                        </depends>
                        </delivery_page>
                        <add_delivery_days translate="label">
                            <label>Adicionar ao prazo dos Correios (dias)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>701</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<show_delivery>1</show_delivery>
	                        </depends>
                            <comment>Adicionará mais dias aos prazos fornecidos pelos Correios.</comment>
                        </add_delivery_days>
                        <msgprazo translate="label">
                            <label>Mensagem que exibe o prazo de entrega</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>702</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<show_delivery>1</show_delivery>
	                        </depends>
                        </msgprazo>
                        <msgprazo_minmax translate="label">
                            <label>Mensagem de prazo de entrega mínimo e máximo</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>703</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<show_delivery>1</show_delivery>
	                        </depends>
                        </msgprazo_minmax>	
                        <messages_page translate="label">
                            <label>Mensagens Gerais</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>800</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<showmethod>1</showmethod>
	                        </depends>
                        </messages_page>	
                        <correioserror translate="label">
                            <label>Mensagem que exibe os erros dos Correios</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>801</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<showmethod>1</showmethod>
	                        </depends>
                        </correioserror>
						<valueerror translate="label">
                            <label>Mensagem de valor fora do permitido</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>802</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<showmethod>1</showmethod>
	                        </depends>
                        </valueerror>
						<zipcodeerror translate="label">
                            <label>Mensagem de CEP incorreto</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>803</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<showmethod>1</showmethod>
	                        </depends>
                        </zipcodeerror>
                        <zipemptyerror translate="label">
                            <label>Mensagem de CEP vazio</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>804</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<showmethod>1</showmethod>
	                        </depends>
                        </zipemptyerror>
						<maxweighterror translate="label">
                            <label>Mensagem de peso fora do permitido</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>805</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<showmethod>1</showmethod>
	                        </depends>
                        </maxweighterror>
                        <weightzeroerror translate="label">
                            <label>Mensagem de peso zero</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>806</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<showmethod>1</showmethod>
	                        </depends>
                        </weightzeroerror>
                        <coderror translate="label">
                            <label>Mensagem de falta de Código Administrativo</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>807</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
	                        	<showmethod>1</showmethod>
	                        </depends>
                        </coderror>
                        <offline_page translate="label">
                            <label>Configurações Offline</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </offline_page>
                        <update_frequency translate="label">
                            <label>Frequência de atualização (em dias)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>901</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Frequência em que a tabela de preços será atualizada (em dias).</comment>
                        </update_frequency>
                        <ws_timeout translate="label">
                            <label>Limite de espera do Webservice</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>902</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Limite de tempo em segundos para acionar a versão offline.</comment>
                        </ws_timeout>
                        <limit_records translate="label">
                            <label>Regiões atualizadas por requisição</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>903</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Limite de regiões de preços que serão atualizados por requisição.</comment>
                        </limit_records>
                        <cycles_limit translate="label">
                            <label>Ciclos de atualização</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>904</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Limite de ciclos simultâneos da atualização manual.</comment>
                        </cycles_limit>
                        <cycles_timeout translate="label">
                            <label>Tempo de disparo</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>905</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Intervalo de tempo em segundos entre os ciclos de atualização.</comment>
                        </cycles_timeout>
                    </fields>
                </av5_correiospro>
            </groups>
        </carriers>
    </sections>
</config>
